<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>

<div class="main-container">
    <style>
        .big-checkbox {width: 1.5rem; height: 1.5rem;top:0.5rem}

        .scrollable-menu {
            height: auto;
            max-height: 300px;
            overflow-x: hidden;
        }

        .table-wrapper {
            max-height: 250px;
            overflow-y: auto;
        }

    </style>
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h3 class="fw-bold text-white mx-4 my-3">Edición de Roles</h3>
        </div>
    </div>
    <div id="content">
        <div class="row mt-5">
            <form th:object="${role}" th:action="@{/profile/modifyRole}" method="POST">
                <div class="col-md-12 px-5 mb-3">
                    <label>Rol</label>
                    <input type="hidden" class="form-control"  th:field="*{id}"  required>
                    <input type="text" class="form-control"  th:field="*{nombre}"  required>
                </div>
                <!--
                <div class="col-md-12 px-5 mb-2">
                    <label>Activo</label>
                    <input class="big-checkbox" type="checkbox" th:checked="*{estado}" name="estado" id="estado"/>
                </div>
                -->
                <!-- CAMBIO:   <div class="col-md-6 px-5 mb-2" th:if="${viewsPrincipal1 != null}">

                <div class="col-md-6 px-5 mb-2">
                    <label>Menú Principal </label>
                    <select class="form-control" name="principalSelect" id="principalSelect" >
                        <option disabled value="" selected hidden>Seleccione el primer filtro</option>
                        <option th:each="metodo : ${viewsPrincipal}" th:value="${metodo}" th:text="${metodo}"></option>
                    </select>
                </div> -->

                <!--
                <div class="col-md-6 px-5 mb-2" id="vistas">
                    Aqui va los checkbox agregados por js
                </div>
                <div class="d-none" id="overlay" onclick="hide(event)"></div>
                <input type="hidden" id="roleViews" th:value="${roleViews}"/> -->

                <!---PROBANDO TABLAS PARA EL LISTADO DE LAS VISTAS POR MODULO-->
                <div class="row" style="display: flex; justify-content: center;">
                    <span  class="table-wrapper mb-3" style="width:600px" th:each="viewPrincipal : ${viewsPrincipal}" >
                        <table id="example" class="table table-striped table-hover text-center table-bordered table-sm ">
                            <thead class="bg-primary">
                                <tr>
                                    <th th:text="${viewPrincipal}"></th>
                                    <th>Ver</th>
                                    <th>Modificar</th>
                                </tr>
                            </thead>
                            <tbody  >
                                <tr th:each="view : ${views}" th:if="${view.menuPrincipal == viewPrincipal}">
                                    <td th:text="${view.viewName}"></td>
                                    <td>
                                        <input class="big-checkbox" th:value="${view.viewName}" type="checkbox" th:checked="${allViewsVer.contains(view)}" name="selectedViewsVer"/>
                                    </td>
                                    <td>
                                        <input class="big-checkbox" th:value="${view.viewName}" type="checkbox" th:checked="${allViewsModificar.contains(view)}" name="selectedViewsModificar"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </span>
                </div>

                <div class="row pt-5 py-3">
                    <div class="col-md-12 d-flex align-content-center justify-content-center">
                        <div class="d-grid gap-2 col-3">
                            <button id="btnModificar"  type="submit" class="btn btn-primary">Modificar</button>
                        </div>
                        <div class="d-grid gap-2 col-3">
                            <a class="btn btn-danger" th:href="@{/profile/roles}">Cancelar</a>
                        </div>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script>
    /*
    const input = document.querySelector('#roleViews');
    const viewsRoles = JSON.parse(input.value);

    //NUEVO
        $('#principalSelect').change(function() {
            var seleccion = $(this).val();
            console.log(viewsRoles);
            $.get('/profile/buscarRol', { menu: seleccion })
            .done(function(response) {
                $('#vistas').empty(); // Limpiar el contenido actual de vistas
                $.each(response, function(index, view) {
                    var existe = viewsRoles.some(objeto => {
                        return objeto.id === view.id ;
                    });
                    if(existe) $('#vistas').append('<div><label class="form-check"><input class="big-checkbox" type="checkbox" id="' + view.viewName + '" value="' + view.viewName + '" name="selectedViews" checked>&nbsp;' + view.viewName + '</label></div>');
                    else $('#vistas').append('<div><label class="form-check"><input class="big-checkbox" type="checkbox" id="' + view.viewName + '" value="' + view.viewName + '" name="selectedViews">&nbsp;' + view.viewName + '</label></div>');
                });
            })
            .fail(function(xhr, status, error) {
                console.error('Error al obtener las vistas:', error);
            });
        });


        $('#estado').change(function() {
            role.setEstado(!role.isEstado);
        });
*/


</script>

</body>
</html>