<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>

<div class="main-container">
    <style>
        .big-checkbox {width: 1.5rem; height: 1.5rem;top:0.5rem}
    </style>
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h3 class="fw-bold text-white mx-4 my-3">Administración de Roles</h3>
        </div>
    </div>
    <div class="row m-0 px-4 mt-5">
        <div class="text-right pr-3 col-md-12 my-3">
            <a class="btn btn-primary mx-1" th:href="@{/profile/roles}"><i class="fas fa-redo-alt"></i></a>
            <a class="btn btn-primary mx-1" th:href="@{/profile/createRole}">Crear Rol</a>
        </div>
        <div class="col-md-12 p-0">
            <div class="table-responsive rounded border-primary">
                <table id="example" class="table table-striped table-hover text-center table-bordered table-sm" width="100%">
                    <thead class="bg-primary">
                    <tr>
                        <th>Nombre Rol</th>
                        <th>Vistas</th>
                        <th>Activo</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="role : ${roles}">
                        <td th:text="${role.nombre}"></td>
                        <td>
                            <ul th:each="vista : ${role.vistas}" style="list-style-type: none; margin: 0; padding: 0;">
                                <li th:text="${vista.viewName}" style="list-style: none;"></li>
                            </ul>
                        </td>
                        <td>
                            <input class="big-checkbox" type="checkbox" th:checked="${role.estado}" />
                        </td>
                        <td>
                            <a th:href="@{/profile/modifyRole/{id}(id=${role.id})}" class="btn btn-primary">Editar</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
</div>
</body>
</html>
