<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>

<div class="main-container">
    <style>
        body, .btn, .form-control, .badge, h6 {
            font-size: 12px;
        }

        .big-checkbox {width: 1rem; height: 1rem; top:0.5rem}
    </style>
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h3 class="fw-bold text-white mx-4 my-3">Módulo de Rutas Contables</h3>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-end pe-5">
            <form class="form-inline" method="get" th:action="@{/parametric/searchAccoountingRoutes}">
                <div class="input-group">
                    <input class="form-control text-dark" placeholder="Buscar..." required th:name="vId" type="text">
                    <div class="input-group-append">
                        <select class="form-control" required th:name="vFilter">
                            <option disabled hidden selected value="">Seleccione un filtro</option>
                            <option th:each="item : ${columns}" th:text="${item}" th:value="${item}"></option>
                        </select>
                    </div>
                    <div class="input-group-append d-flex align-items-center">
                        <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                        <a class="btn btn-secondary" th:href="@{/parametric/conciliation}"><i class="fas fa-window-close"></i></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row m-0 px-4 mt-5">
        <div class="text-right pr-3 col-md-12 my-3">
            <a class="btn btn-primary mx-1" th:href="@{/parametric/accountingRoutes}"><i class="fas fa-redo-alt"></i></a>
            <button th:disabled="${!p_modificar}" class="btn btn-primary mx-1" th:onclick="|window.location.href='@{/parametric/createAccountingRoute}'|">Crear Ruta Contable</button>
        </div>
        <div class="col-md-12 p-0">
            <div class="table-responsive rounded border-primary">
                <table id="example" class="table table-striped table-hover text-center table-bordered table-sm" width="100%">
                    <thead class="bg-primary">
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Archivo</th>
                        <th>Ruta de Acceso</th>
                        <th>Tipo Archivo</th>
                        <th>Activo</th>
                        <th></th><th></th><th></th><th></th><th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="rc : ${allRCs}">
                        <td th:text="${rc.id}"></td>
                        <td th:text="${rc.nombre}"></td>
                        <td th:text="${rc.nombreArchivo}"></td>
                        <td th:text="${rc.ruta}"></td>
                        <td th:text="${rc.tipoArchivo}"></td>
                        <td th:if="${rc.activo == true}">Activo</td>
                        <td th:if="${rc.activo == false}">Inactivo</td>
                        <td>
                            <button th:disabled="${!p_modificar}" class="btn btn-primary mx-1"
                                    th:onclick="|window.location.href='@{/parametric/modifyAccountingRoute/{id}(id=${rc.id})}'|">Editar</button>
                        </td>
                        <td>
                            <button th:disabled="${!p_modificar}" class="btn btn-primary mx-1"
                                    th:onclick="|window.location.href='@{/parametric/fieldLoadingAccountingRoute/{id}(id=${rc.id})}'|">Cargar Campos</button>
                        </td>
                        <td>
                            <button th:disabled="${!p_modificar}" class="btn btn-primary mx-1"
                                    th:onclick="|window.location.href='@{/parametric/conditionLoadingAccountingRoute/{id}(id=${rc.id})}'|">Condiciones</button>
                        </td>
                        <td>
                            <button th:disabled="${!p_modificar}" class="btn btn-primary mx-1"
                                    th:onclick="|window.location.href='@{/parametric/validationLoadingAccountingRoute/{id}(id=${rc.id})}'|">Validaciones</button>
                        </td>

                        <td>
                            <button th:disabled="${!p_modificar}" class="btn btn-primary mx-1"
                                    th:onclick="|mifuncion(${rc.id})|">Carga Manual</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" th:if="${last != 0}">
                <div class="col-md-4 text-left">
                    <nav arial-label="Pagination">
                        <ul class="pagination">
                            <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{/admin/{dir}/?page={page}&vId={vId}&vFilter={vFilter}(vFilter=${vFilter},page=${prev},dir=${directory},vId=${vId})}">Anterior</a>
                            </li>
                            <li class="page-item" th:classappend="${current == last ? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{/admin/{dir}/?page={page}&vId={vId}&vFilter={vFilter}(vFilter=${vFilter},page=${next},dir=${directory},vId=${vId})}">Siguiente</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-4 text-center">
                    <h6 th:utext="${registers} + ' Registros Encontrados'"></h6>
                </div>
                <div class="col-md-4 text-right">
                    <h6 class="mx-1" th:utext="'Página ' + ${current} + ' de ' + ${last}"></h6>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center" th:if="${filterExport != 'Original'}">
                <h5><span class="badge badge-pill text-light badge-info py-2 px-5">¡La Tabla se encuentra Filtrada!</span>
                </h5>
            </div>

        </div>

    </div>
</div>
</div>
<script>
    function mifuncion(id) {
            fetch(`/leer-archiva?id=${encodeURIComponent(id)}`)
                .then(response => {
            if (response.ok) {
                return response.blob();
            } else {
                throw new Error('Error en la solicitud');
            }
        })
        .then(blob => {
            // Crear un enlace y hacer clic en él para iniciar la descarga
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = url;
            a.download = 'datos.xlsx'; // Nombre del archivo
            document.body.appendChild(a);
            a.click();
            a.remove();
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

</script>
</body>
</html>