<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>
<div class="main-container">
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h3 class="fw-bold text-white mx-4 my-3">Parametrica Fechas</h3>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-end pe-5">
        </div>
    </div>
    <div id="content">
        <form method="post" th:action="@{/parametric/addFechas}" th:object="${fechas}">
            <div class="row mt-5">
                <div class="col-md-12">
                    <h3 class="mb-3">Agregar Fecha</h3>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Año</label>
                        <input class="form-control" min="1950" max="2050" placeholder="Ingrese el año" required
                               th:field="*{ano}" type="number">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Mes</label>
                        <input class="form-control" min="1" max="12" placeholder="Ingrese el mes" required
                               th:field="*{mes}" type="number">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Fecont</label>
                        <input class="form-control" placeholder="Ingrese el Fecont" required
                               th:field="*{fecont}" type="date">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Balance</label>
                        <select class="form-control" name="aplSelect" th:field="*{balance}" required>
                            <option disabled hidden selected th:value="''" th:text="'Seleccione una opción'"></option>
                            <option th:value="'X'" th:text="'Si'"></option>
                            <option th:value="''" th:text="'No'"></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>PYG</label>
                        <select class="form-control" name="aplSelect" th:field="*{pyg}" required>
                            <option disabled hidden selected th:value="''" th:text="'Seleccione una opción'"></option>
                            <option th:value="'X'" th:text="'Si'"></option>
                            <option th:value="''" th:text="'No'"></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>QAplica</label>
                        <input class="form-control" placeholder="Ingrese la QAplica" required
                               th:field="*{qaplica}" type="text">
                    </div>
                </div>
            </div>
            <div class="row pt-5 py-3">
                <div class="col-md-12 d-flex align-content-center justify-content-center">
                    <div class="d-grid gap-2 col-3">
                        <button type="submit" class="btn btn-primary">Agregar Fecha</button>
                    </div>
                    <div class="d-grid gap-2 col-3">
                        <a class="btn btn-danger" th:href="@{/parametric/fechas}">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>
</body>
</html>