<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>
<div class="main-container">
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h3 class="fw-bold text-white mx-4 my-3">Agregar Operación y Riesgo</h3>
        </div>
    </div>
    <!-- Cover -->
    <div id="content">
        <form method="POST" th:action="@{/parametric/addOperationAccount}" th:object="${operation}">
            <div class="row mt-5">
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Cuenta Local</label>
                        <input class="form-control" maxlength="18" placeholder="Ingrese el NIT Tercero" required
                               th:field="*{cuentaLocal}" type="text">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Tipo Operación<abbr aria-label="required"
                                                   title="Entrada con maximo 254 caracter alfanúmericos">*</abbr></label>
                        <input class="form-control" maxlength="254" placeholder="Ingrese la operación" required
                               th:field="*{operacion}" type="text">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Tipo Riesgo<abbr aria-label="required"
                                                title="Entrada con maximo 254 caracter alfanúmericos">*</abbr></label>
                        <input class="form-control" maxlength="254" placeholder="Ingrese el riesgo" required
                               th:field="*{riesgo}" type="text">
                    </div>
                </div>
            </div>
            <div class="row pt-5 py-3">
                <div class="col-md-12 d-flex align-content-center justify-content-center">
                    <div class="d-grid gap-2 col-3">
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </div>
                    <div class="d-grid gap-2 col-3">
                        <a class="btn btn-danger" th:href="@{/parametric/operationAccount}">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
    $("#idNew").change(function () {
        $.get("/parametric/validateCuentaLocal/?idNew=" + $("#idNew").val() + "&idT=" + $("#idOld").val(), function (responseText) {
            if (responseText != 'valid') {
                Swal.fire({
                    position: 'center',
                    icon: 'warning',
                    title: '¡Validación Cuenta Fallo!',
                    text: 'La cuenta con valor ' + $("#idNew").val() + ' ingresado en el campo Cuenta Local ya se encuentra asociado a otro registro.',
                    showConfirmButton: true
                });
                $("#idNew").val('');
            }
        });
    });
</script>
</body>
</html>