<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>
<div class="main-container">
    <!-- Cover -->
    <div id="content">
        <form method="post" th:action="@{/parametric/addSubsidiaries}" th:object="${subsidiaries}">
            <div class="row mt-5">
                <div class="col-md-12">
                    <h3 class="mb-3">Agregar Cruce filiales</h3>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Yntp Empresa</label>
                        <input class="form-control" id="idNew" maxlength="5" name="idNew" placeholder="Ingrese el Ynt Empresa"
                               required th:field="*{yntpEmpresa}" type="number">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Cuenta Local</label>
                        <input class="form-control" maxlength="20" placeholder="Ingrese la Cuenta Local" required
                               th:field="*{cuentaLocal}" type="number">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Cuenta Filial</label>
                        <input class="form-control" id="idCuenta" maxlength="20" name="idCuenta" placeholder="Ingrese la Cuenta Filial"
                               required th:field="*{cuentaFilial}" type="number">
                    </div>
                </div>
                <!--
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Divisa</label>
                        <input class="form-control" maxlength="3" placeholder="Ingrese la Divisa" required
                               th:field="*{divisa}" type="text">
                    </div>
                </div>
                -->
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Contrato Banco</label>
                        <input class="form-control" maxlength="18" placeholder="Ingrese el Contrato Banco"
                               th:field="*{contratoBanco}" type="text">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Contrato Filial</label>
                        <input class="form-control" maxlength="18" placeholder="Ingrese el Contrato Filial"
                               th:field="*{contratoFilial}" type="text">
                    </div>
                </div>
                <!--<div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Observación Reportante<abbr aria-label="required"
                                                           title="Cuenta Filial con maximo 255 caracteres alfanúmericos">*</abbr></label>
                        <input class="form-control" maxlength="255" placeholder="Ingrese la Observación Reportante" required
                               th:field="*{observacionReportante}" type="text">
                    </div>
                </div>-->
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Conceptos<abbr aria-label="required"
                                              title="Cuenta Filial con maximo 255 caracteres alfanúmericos">*</abbr></label>
                        <input class="form-control" maxlength="255" placeholder="Ingrese el Conceptos" required
                               th:field="*{conceptos}" type="text">
                    </div>
                </div>
            </div>
            <div class="row pt-5 py-3">
                <div class="col-md-12 d-flex align-content-center justify-content-center">
                    <div class="d-grid gap-2 col-3">
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </div>
                    <div class="d-grid gap-2 col-3">
                        <a class="btn btn-danger" th:href="@{/parametric/subsidiaries}">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
    $("#idNew").change(function () {
        $.get("/parametric/validateYntpSubsidiaries/?idNew=" + $("#idNew").val() + "&id=0&idCuenta=" + $("#idCuenta").val() + "&idCuentaOld=0", function (responseText) {
            if (responseText == 'invalid') {
                Swal.fire({
                    position: 'center',
                    icon: 'warning',
                    title: '¡Validación Yntp Empresa Fallo!',
                    text: 'El Yntp con valor ' + $("#idNew").val() + ' ingresado en el campo Yntp Empresa no se encuentra existente en la tabla de Sociedades Yntp',
                    showConfirmButton: true
                });
                $("#idNew").val('');
            } else if (responseText == 'yntp') {
                Swal.fire({
                    position: 'center',
                    icon: 'warning',
                    title: '¡Validación Yntp Empresa Fallo!',
                    text: 'El Yntp con valor ' + $("#idNew").val() + ' ingresado en el campo Yntp Empresa ya se encuentra asociada a una cueta Responsable igual',
                    showConfirmButton: true
                });
                $("#idNew").val('');
            }
        });
    });
    $("#idCuenta").change(function () {
        $.get("/parametric/validateYntpSubsidiaries/?idNew=" + $("#idNew").val() + "&id=0&idCuenta=" + $("#idCuenta").val() + "&idCuentaOld=0", function (responseText) {
            if (responseText == 'yntp') {
                Swal.fire({
                    position: 'center',
                    icon: 'warning',
                    title: '¡Validación Cuenta Responsable Fallo!',
                    text: 'La Cuenta Responsable con valor ' + $("#idCuenta").val() + ' ingresado en el campo Cuenta Responsable ya se encuentra asociada la cuenta al Yntp de la empresa',
                    showConfirmButton: true
                });
                $("#idCuenta").val('');
            }
        });
    });
</script>
</body>
</html>