<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>
<div class="main-container">
    <!-- Cover -->
    <div id="content">
        <form method="post" th:action="@{/parametric/addThird}" th:object="${third}">
            <div class="row mt-5">
                <div class="col-md-12">
                    <h3 class="mb-3">Agregar Tercero</h3>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Nit Contraparte</label>
                        <input class="form-control" id="idNew" maxlength="14" name="idNew" placeholder="Ingrese el NIT Tercero" required
                               th:field="*{nit}" type="text">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Contraparte</label>
                        <input class="form-control" maxlength="255" placeholder="Ingrese la Contraparte" required
                               th:field="*{contraparte}" type="text">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>DV</label>
                        <input class="form-control" max="9" min="0" placeholder="Ingrese el DV" required
                               th:field="*{dv}" type="number">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Marca Tipo de Institucion<abbr aria-label="required"
                                                              title="Marca con maximo 5 caracteres númericos">*</abbr></label>
                        <input class="form-control" max="99999" min="0" placeholder="Ingrese la Marca Tipo de Institucion" required
                               th:field="*{marcaTipoInstitucion}" type="number">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Código Cliente<abbr aria-label="required"
                                                   title="Código con maximo 14 caracteres númericos">*</abbr></label>
                        <input class="form-control" max="99999999999999" min="0" placeholder="Ingrese el Código del cliente"
                               required th:field="*{codigoCliente}" type="number">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>TIPO<abbr aria-label="required"
                                         title="TIPO con maximo 2 caracteres númericos">*</abbr></label>
                        <input class="form-control" max="99" min="0" placeholder="Ingrese el TIPO" required
                               th:field="*{tipo}" type="number">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>YNTP<abbr aria-label="required"
                                         title="YNTP con maximo 5 caracteres númericos">*</abbr></label>
                        <input class="form-control" id="yntpNew" maxlength="5" minlength="5" placeholder="Ingrese el YNTP"
                               required th:name="yntpNew" type="text">
                    </div>
                </div>
            </div>
            <div class="row pt-5 py-3">
                <div class="col-md-12 d-flex align-content-center justify-content-center">
                    <div class="d-grid gap-2 col-3">
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </div>
                    <div class="d-grid gap-2 col-3">
                        <a class="btn btn-danger" th:href="@{/parametric/third}">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
    $("#idNew").change(function () {
        $.get("/parametric/validateNit/?idNew=" + $("#idNew").val() + "&id=0", function (responseText) {
            if (responseText != 'valid') {
                Swal.fire({
                    position: 'center',
                    icon: 'warning',
                    title: '¡Validación NIT Fallo!',
                    text: 'El NIT con valor ' + $("#idNew").val() + ' ingresado en el campo Nit Contraparte ya se encuentra asociado a otro registro.',
                    showConfirmButton: true
                });
                $("#idNew").val('');
            }
        });
    });
    $("#yntpNew").change(function () {
        $.get("/parametric/validateSocietyInverse/?yntpNew=" + $("#yntpNew").val() + "&yntpOld=0", function (responseText) {
            if (responseText != 'valid') {
                Swal.fire({
                    position: 'center',
                    icon: 'warning',
                    title: '¡Validación YNTP Fallo!',
                    text: 'El Yntp con valor ' + $("#yntpNew").val() + ' ingresado en el campo Yntp no se encuentra existente en la tabla de sociedades YNTP.',
                    showConfirmButton: true
                });
                $("#yntpNew").val('');
            }
        });
    });
</script>
</body>
</html>