<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>

<div class="main-container">
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h2 class="fw-bold text-white mx-4 my-3">Módulo de Rutas Conciliaciones</h2>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-end pe-5">
            <form class="form-inline" method="get" th:action="@{/parametric/searchConciliationRoutes}">
                <div class="input-group">
                    <input class="form-control form-control-sm text-dark" placeholder="Buscar..." required th:name="vId" type="text">
                    <div class="input-group-append input-group-append-sm">
                        <select class="form-control form-control-sm" required th:name="vFilter">
                            <option disabled hidden selected value="">Seleccione un filtro</option>
                            <option th:each="item : ${columns}" th:text="${item}" th:value="${item}"></option>
                        </select>
                    </div>
                    <div class="input-group-append input-group-append-sm d-flex align-items-center">
                        <button class="btn btn-sm btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                        <a class="btn btn-sm btn-secondary" th:href="@{/parametric/conciliationRoutes}"><i class="fas fa-window-close"></i></a>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="row px-4 mt-5">
        <div class="text-right col-md-12 my-1">
            <a class="btn btn-sm btn-primary mx-1" th:href="@{/parametric/conciliationRoutes}"><i class="fas fa-redo-alt"></i></a>
            <button th:disabled="${!p_modificar}" class="btn btn-sm btn-primary mx-1" th:onclick="|window.location.href='@{/parametric/createConciliationRoute}'|">Crear Ruta de Conciliacion</button>
        </div>
        <div class="col-md-12 px-3">
            <div class="table-responsive rounded border-primary">
                <table id="example" class="table table-striped table-hover text-center table-bordered table-sm" width="100%">
                    <thead class="bg-primary">
                    <tr>
                        <th>Codigo</th>
                        <th>Conciliacion</th>
                        <th>Ruta</th>
                        <th>Nombre</th>
                        <th>Archivo</th>
                        <th>Ruta de Acceso</th>
                        <th>Tipo Archivo</th>
                        <th>Estado</th>
                        <th COLSPAN="4">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="route : ${allCRoutes}">
                        <td th:text="${route.conciliacion.id}"></td>
                        <td th:text="${route.conciliacion.nombre}"></td>
                        <td th:text="${route.id}"></td>
                        <td th:text="${route.detalle}"></td>
                        <td th:text="${route.nombreArchivo}"></td>
                        <td th:text="${route.ruta}"></td>
                        <td th:text="${route.tipoArchivo}"></td>
                        <td th:if="${route.activo == true}">Activo</td>
                        <td th:if="${route.activo == false}">Inactivo</td>
                        <td>
                            <button th:disabled="${!p_modificar}" class="btn btn-sm btn-primary mx-1"
                                    th:onclick="|window.location.href='@{/parametric/modifyConciliationRoute/{id}(id=${route.id},page1=${current})}'|">Editar</button>
                        </td>
                        <td>
                            <button th:disabled="${!p_modificar}" class="btn btn-sm btn-primary mx-1"
                                    th:onclick="|window.location.href='@{/parametric/fieldLoadingConciliationRoute/{id}(id=${route.id},page1=${current})}'|">Cargar Campos</button>
                        </td>
                        <td>
                            <button th:disabled="${!p_modificar}" class="btn btn-sm btn-primary mx-1"
                                    th:onclick="|window.location.href='@{/parametric/validationLoadingConciliationRoute/{id}(id=${route.id},page1=${current})}'|">Validaciones</button>
                        </td>
                        <td>
                            <button th:disabled="${!p_modificar}" class="btn btn-sm btn-primary mx-1"
                                    th:onclick="|window.location.href='@{/parametric/informationCrossingConciliationRoute/{id}(id=${route.id},page1=${current})}'|">Cruce Info.</button>
                        </td>
                        <!--
                        <td>
                            <button th:disabled="${!p_modificar}" class="btn btn-sm btn-primary mx-1"
                                    th:onclick="|subida(${route.id})|">Carga Manual</button>
                        </td>
                        -->
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" th:if="${last != 0}">
                <div class="col-md-4 text-left">
                    <nav arial-label="Pagination">
                        <ul class="pagination pagination-sm">
                            <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{/parametric/{dir}/?page={page}&vId={vId}&vFilter={vFilter}(vFilter=${vFilter},page=${prev},dir=${directory},vId=${vId})}">Anterior</a>
                            </li>
                            <li class="page-item" th:classappend="${current == last ? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{/parametric/{dir}/?page={page}&vId={vId}&vFilter={vFilter}(vFilter=${vFilter},page=${next},dir=${directory},vId=${vId})}">Siguiente</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-4 text-center">
                    <h6 th:utext="${registers} + ' Registros Encontrados'"></h6>
                </div>
                <div class="col-md-4 text-right">
                    <h6 class="mx-1" th:utext="'Página ' + ${current} + ' de ' + ${last}"></h6>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center" th:if="${filterExport != 'Original'}">
                <h5><span class="badge badge-pill text-light badge-info badge-sm">¡La Tabla se encuentra Filtrada!</span>
                </h5>
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <a class="btn btn-primary" th:href="@{/parametric/conciliationRoutes/download}">Exportar Excel</a>
            </div>
        </div>

    </div>
</div>
</div>
<script>

    function subida(id) {
            fetch(`/leer-archivo-rconcil?id=${encodeURIComponent(id)}`)
                .then(response => response.text())
                .then(data => {
                    console.log("Respuesta del servidor:", data);
                })
                .catch(error => {
                    console.error("Error:", error);
                });
    }

</script>
<script type="text/javascript">
    var queryString = window.location.search;
    var urlParams = new URLSearchParams(queryString);
    var respuesta = urlParams.get('resp');
    var data = urlParams.get('data');
    validateAlerts(respuesta, data);
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>
</body>
</html>