<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>

<div class="main-container">
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h3 class="fw-bold text-white mx-4 my-3">Creación de Ruta de Conciliación</h3>
        </div>
    </div>
    <div id="content">
        <form th:object="${croute}" th:action="@{/parametric/createConciliationRoute}" method="POST">
        <div class="row mt-3 pt-4 px-4">
            <div class="text-left col-md-6">
                <h2 class="font-weight-bold">Información de Registro</h2>
            </div>
            <div class="text-right col-md-6">
                <a class="btn btn-sm btn-danger" th:href="@{/parametric/conciliationRoutes}"><i class="fa-solid fa-left-long"></i> Regresar</a>
                <button type="submit" class="btn btn-sm btn-primary ml-1">Agregar Ruta</button>
            </div>
        </div>
        <div class="row px-4">
                <div class="row p-2 border rounded">
                    <div class="col-md-1">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Activo</h6>
                            <input id="activoInput" name="activo" th:field="*{activo}" th:id="${activo}"
                                   th:value="${activo}" type="checkbox" class="styled-checkbox">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Es Fichero?</h6>
                            <input id="ficehroInput" name="fichero" th:field="*{fichero}" th:id="${fichero}"
                                   th:value="${fichero}" type="checkbox" class="styled-checkbox">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Maneja Siglas de Fechas</h6>
                            <input id="siglasFechasInput" name="siglasFechas" th:field="*{siglasFechas}"
                                   th:value="${siglasFechas}" type="checkbox" class="styled-checkbox" onchange="toggleFields()">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Conciliación:<i class="bi bi-caret-down"></i></h6>
                            <select class="form-control form-control-sm" required th:name="selectedConcil">
                                <option disabled hidden selected value="">Seleccione una conciliación</option>
                                <option th:each="concil : ${conciliations}" th:text="${concil.nombre}" th:value="${concil.nombre}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Detalle:</h6>
                            <input type="text" class="form-control form-control-sm"  th:field="*{detalle}"  required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Tipo Archivo:<i class="bi bi-caret-down"></i></h6>
                            <select class="form-control form-control-sm" name="selectedTipoArchivo" id="selectedTipoArchivo" required>
                                <option disabled value="" selected hidden>Seleccione formato</option>
                                <option th:value="CRCC">ARCHIVO CRCC</option>
                                <option th:value="CRCC_CUIF">ARCHIVO CRCC_CUIF</option>
                                <option th:value="CRCC_NIIF">ARCHIVO CRCC_NIIF</option>
                                <option th:value="DIALOGO">ARCHIVO DIALOGO</option>
                                <option th:value="DIALOGO_CUIF">ARCHIVO DIALOGO_CUIF</option>
                                <option th:value="DIALOGO_NIIF">ARCHIVO DIALOGO_NIIF</option>
                                <option th:value="XLS">ARCHIVO EXCEL XLS</option>
                                <option th:value="XLSX">ARCHIVO EXCEL XLSX</option>
                                <option th:value="CSV">ARCHIVO PLANO CSV</option>
                                <option th:value="TXT">ARCHIVO PLANO TXT</option>
                                <option th:value="TXT_SINDEL">ARCHIVO PLANO TXT SIN DEL.</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Nombre Archivo:</h6>
                            <input type="text" class="form-control form-control-sm"  th:field="*{nombreArchivo}"  required>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <h6 class="font-weight-bold">Ruta: </h6>
                            <input type="text" class="form-control form-control-sm"  th:field="*{ruta}"  required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Delimitador:</h6>
                            <input type="text" class="form-control form-control-sm"  th:field="*{delimitador}">

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Hora Ejecución:</h6>
                            <input type="time" class="form-control form-control-sm" th:id="selecthoraCargue" th:name="selecthoraCargue" th:value="${selecthoraCargue}" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Filas Omitidas:</h6>
                            <input type="number" class="form-control form-control-sm"  th:field="*{filasOmitidas}" required>
                        </div>
                    </div>
                    <div class="col-md-4 hidden" id="formatoFechaContainer">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Formato Fecha:<i class="bi bi-caret-down"></i></h6>
                            <select class="form-control form-control-sm" name="selectedFormatoFecha" id="formatoFecha" th:field="*{formatoFecha}" required>
                                <option disabled value="" selected hidden>Seleccione formato</option>
                                <option th:value="YYYYMMDD">AÑO MES DIA CORTA (YYYYMMDD)</option>
                                <option th:value="YYMMDD">AÑO MES DIA RED (YYMMDD)</option>
                                <option th:value="DDMMMMYYYY">DIA MES AÑO COM. (DDMMMMYYYY)</option>
                                <option th:value="DDMMYYYY">DIA MES AÑO CORTA (DDMMYYYY)</option>
                                <option th:value="DDMMYY">DIA MES AÑO RED. (DDMMYY)</option>
                                <option th:value="DDMMMYYYY">DIA MES AÑO SIMPLE (DDMMMYYYY)</option>
                                <option th:value="MMDDYY">MES DIA AÑO (MMDDYY)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 hidden" id="idiomaFechaContainer">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Idioma Fecha:<i class="bi bi-caret-down"></i></h6>
                            <select class="form-control form-control-sm" name="selectedIdiomaFecha" id="idiomaFecha" th:field="*{idiomaFecha}" required>
                                <option disabled value="" selected hidden>Seleccione formato</option>
                                <option th:value="EspañolColombia">Español - Colombia</option>
                                <option th:value="EspañolEspaña">Español - España</option>
                                <option th:value="InglésUSA">Inglés - USA</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Días de retardo (D-)<i class="bi bi-caret-down"></i>
                                <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Este campo aplica para indicar si se debe restar cierta cantidad de días para la toma de información."></i>
                            </h6>
                            <input type="number" class="form-control form-control-sm" min="0" max="31" id="diasRetardo" name="diasRetardo" required th:field="*{diasRetardo}">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<script>
    function toggleFields() {
        var siglasFechasCheckbox = document.getElementById('siglasFechasInput');
        var formatoFechaContainer = document.getElementById('formatoFechaContainer');
        var idiomaFechaContainer = document.getElementById('idiomaFechaContainer');

        if (siglasFechasCheckbox.checked) {
            formatoFechaContainer.classList.remove('hidden');
            idiomaFechaContainer.classList.remove('hidden');
        } else {
            formatoFechaContainer.classList.add('hidden');
            idiomaFechaContainer.classList.add('hidden');
        }
    }

    // Inicializar el estado de los campos cuando la página se carga
    window.onload = function() {
        toggleFields();
    };
</script>
</body>
</html>