<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>

<div class="main-container">
    <style>

        body, .btn, .form-control {
            font-size: 12px;
        }

        .big-checkbox {width: 1rem; height: 1rem; top:0.5rem}

        .scrollable-menu {
            height: auto;
            max-height: 300px;
            overflow-x: hidden;
        }

        .table-wrapper {
            max-height: 250px;
            overflow-y: auto;
        }

        input[type=checkbox] {
            -ms-transform: scale(1.5); /* IE */
            -moz-transform: scale(1.5); /* FF */
            -webkit-transform: scale(1.5); /* Safari y Chrome */
            margin: 10px;
        }

    </style>
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h3 class="fw-bold text-white mx-4 my-3">Creación de Conciliación</h3>
        </div>
    </div>
    <div id="content">
        <div class="row mt-5">
            <form th:object="${concil}" th:action="@{/parametric/createConcil}" method="POST">
                <div class="col-md-12 px-5 mb-3">

                    <div class="form-group mb-1">
                        <label>Detalle</label>
                        <input type="text" class="form-control" th:field="*{detalle}" required>
                    </div>

                    <div class="form-group mb-1">
                        <div class="form-check form-check-inline">
                            <div class="form-group mb-1">
                                <label>Activo:</label>
                                <input id="activoInput" name="activo" th:field="*{activo}" th:id="${activo}"
                                       th:value="${activo}" type="checkbox" class="styled-checkbox">
                                <label>[[${activo}]]</label>
                            </div>

                            <div class="form-group mb-1">
                                <label>Aplica Festivo:</label>
                                <input id="festivoInput" name="festivo" th:field="*{festivo}" th:id="${festivo}"
                                       th:value="${festivo}" type="checkbox" class="styled-checkbox">
                                <label>[[${festivo}]]</label>
                            </div>
                        </div>
                    </div>


                    <div class="mb-1 row">

                        <div class="col-md-3">
                            <div class="form-group mb-1">
                                <label>Periodicidad</label>
                                <select class="form-control" name="selectedPeriodicidad" id="selectedPeriodicidad" required>
                                    <option disabled value="" selected hidden>Seleccione periodicidad</option>
                                    <option th:value="diario">Diario</option>
                                    <option th:value="mensual">Mensual</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group mb-1">
                                <label>País:</label>
                                <select class="form-control" name="selectedPais" id="selectedPais" required>
                                    <option disabled value="" selected hidden>Seleccione un país</option>
                                    <option th:each="pais : ${paises}" th:value="${pais.nombre}"
                                            th:text="${pais.nombre}"
                                            th:selected="${concil.pais != null and pais.id == concil.pais.id}"></option>
                                </select>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="form-group mb-1">
                                <label>Sistema Fuente:</label>
                                <select class="form-control" name="selectedSF" id="selectedSF" required>
                                    <option disabled value="" selected hidden>Seleccione un S.F.</option>
                                    <option th:each="sf : ${sfs}" th:value="${sf.nombre}" th:text="${sf.nombre}"
                                            th:selected="${concil.sf != null and sf.id == concil.sf.id}"></option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="form-group mb-1">
                        <label style="font-weight: bold;">Días de Cierre:</label>
                        <div class="form-check form-check-inline">

                            <div style="margin-left:0.75rem">
                                <label>Lunes:</label>
                                <input id="lunesInput" name="lunes" th:field="*{lunes}" th:id="${lunes}"
                                       th:value="${lunes}" type="checkbox">
                                <label>[[${lunes}]]</label>
                            </div>

                            <div style="margin-left:0.75rem">
                                <label>Martes:</label>
                                <input id="martesInput" name="martes" th:field="*{martes}" th:id="${martes}"
                                       th:value="${martes}" type="checkbox">
                                <label>[[${martes}]]</label>
                            </div>

                            <div style="margin-left:0.75rem">
                                <label>Miércoles:</label>
                                <input id="miercolesInput" name="miercoles" th:field="*{miercoles}" th:id="${miercoles}"
                                       th:value="${miercoles}" type="checkbox">
                                <label>[[${miercoles}]]</label>
                            </div>

                            <div style="margin-left:0.75rem">
                                <label>Jueves:</label>
                                <input id="juevesInput" name="jueves" th:field="*{jueves}" th:id="${jueves}"
                                       th:value="${jueves}" type="checkbox">
                                <label>[[${martes}]]</label>
                            </div>

                            <div style="margin-left:0.75rem">
                                <label>Viernes:</label>
                                <input id="viernesInput" name="viernes" th:field="*{viernes}" th:id="${viernes}"
                                       th:value="${viernes}" type="checkbox">
                                <label>[[${viernes}]]</label>
                            </div>

                            <div style="margin-left:0.75rem">
                                <label>Sábado:</label>
                                <input id="sabadoInput" name="sabado" th:field="*{sabado}" th:id="${sabado}"
                                       th:value="${sabado}" type="checkbox">
                                <label>[[${sabado}]]</label>
                            </div>

                            <div style="margin-left:0.75rem">
                                <label>Domingo:</label>
                                <input id="domingoInput" name="domingo" th:field="*{domingo}" th:id="${domingo}"
                                       th:value="${domingo}" type="checkbox">
                                <label>[[${domingo}]]</label>
                            </div>
                        </div>
                    </div>



                    <div class="mb-1 row">
                        <div class="col-md-3">
                            <div class="form-group mb-1">
                                <label>Sistema Fuente Contable:</label>
                                <select class="form-control" name="selectedSFC" id="selectedSFC" required>
                                    <option disabled value="" selected hidden>Seleccione un S.F.C.</option>
                                    <option th:each="sfc : ${sfcs}" th:value="${sfc.nombre}" th:text="${sfc.nombre}"
                                            th:selected="${concil.sfc != null and sfc.id == concil.sfc.id}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group mb-1">
                                <label>Ruta Contable</label>
                                <select class="form-control" name="selectedRutaContable" id="selectedRutaContable" required>
                                    <!--
                                    <option disabled value="" selected hidden>Seleccione un R.C.</option>
                                    <option th:each="ruta : ${rutasContables}" th:value="${ruta.id}" th:text="${ruta.nombre}"
                                            th:selected="${concil.rutaContable != null and ruta.id == concil.rutaContable.id}"></option>
                                -->
                                    <select class="form-control" id="selectedRCont" name="rContSelect" required>
                                        <!-- Opciones se llenarán aquí dinámicamente -->
                                    </select>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="mb-1 row">

                        <!-- Campo oculto para el token CSRF -->
                        <input type="hidden" id="csrfToken" th:value="${_csrf.token}" />

                        <div class="col-md-3">
                            <div class="form-group mb-1">
                                <label>Campo Centro</label>
                                <select class="form-control" id="selectedCentro" name="centroSelect" required>
                                    <!-- Opciones se llenarán aquí dinámicamente -->
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group mb-1">
                                <label>Campo Cuenta</label>
                                <select class="form-control" id="selectedCuenta" name="cuentaSelect" required>
                                    <!-- Opciones se llenarán aquí dinámicamente -->
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group mb-1">
                                <label>Campo Divisa:</label>
                                <select class="form-control" id="selectedDivisa" name="divisaSelect" required>
                                    <!-- Opciones se llenarán aquí dinámicamente -->
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group mb-1">
                                <label>Campo Saldo</label>
                                <select class="form-control" id="selectedSaldo" name="saldoSelect" required>
                                    <!-- Opciones se llenarán aquí dinámicamente -->
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pt-3 py-3">
                    <div class="col-md-12 d-flex align-content-center justify-content-center">
                        <div class="d-grid gap-2 col-3">
                            <button type="submit" class="btn btn-primary">Agregar</button>
                        </div>
                        <div class="d-grid gap-2 col-3">
                            <a class="btn btn-danger" th:href="@{/parametric/conciliation}">Cancelar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<script>


    $("#selectedRutaContable").change(function(){
        var csrfToken = $("#csrfToken").val(); // Obtener el token CSRF

        $.ajax({
            url: "/parametric/validatePrincipal/?principalSelect=" + $("#selectedRutaContable").val(),
            type: "GET",
            headers: {
                "X-CSRF-TOKEN": csrfToken // Incluir el token CSRF en los headers
            },
            success: function(responseText) {
                var inputN = document.querySelector('#selectedCentro');
                var inputC = document.querySelector('#selectedCuenta');
                var inputD = document.querySelector('#selectedDivisa');
                var inputS = document.querySelector('#selectedSaldo');
                inputN.innerHTML = null;

                // Agregar la opción predeterminada "Seleccione"
                var defaultOption = document.createElement('option');
                defaultOption.value = "";
                defaultOption.innerHTML = "Seleccione";
                defaultOption.disabled = true; // Deshabilitar la opción
                defaultOption.selected = true; // Seleccionarla por defecto
                inputN.appendChild(defaultOption);

                var defaultOption2 = document.createElement('option');
                defaultOption2.value = "";
                defaultOption2.innerHTML = "Seleccione";
                defaultOption2.disabled = true; // Deshabilitar la opción
                defaultOption2.selected = true; // Seleccionarla por defecto
                inputC.appendChild(defaultOption2);

                var defaultOption3 = document.createElement('option');
                defaultOption3.value = "";
                defaultOption3.innerHTML = "Seleccione";
                defaultOption3.disabled = true; // Deshabilitar la opción
                defaultOption3.selected = true; // Seleccionarla por defecto
                inputD.appendChild(defaultOption3);

                var defaultOption4 = document.createElement('option');
                defaultOption4.value = "";
                defaultOption4.innerHTML = "Seleccione";
                defaultOption4.disabled = true; // Deshabilitar la opción
                defaultOption4.selected = true; // Seleccionarla por defecto
                inputS.appendChild(defaultOption4);

                responseText.forEach(element => {
                    var option = document.createElement('option');
                    option.value = element.toString();
                    option.innerHTML = element.toString();
                    inputN.appendChild(option);
                });

                responseText.forEach(element => {
                    var option = document.createElement('option');
                    option.value = element.toString();
                    option.innerHTML = element.toString();
                    inputC.appendChild(option);
                });

                responseText.forEach(element => {
                    var option = document.createElement('option');
                    option.value = element.toString();
                    option.innerHTML = element.toString();
                    inputD.appendChild(option);
                });

                responseText.forEach(element => {
                    var option = document.createElement('option');
                    option.value = element.toString();
                    option.innerHTML = element.toString();
                    inputS.appendChild(option);
                });

            },
            error: function(xhr, status, error) {
                console.error("Ocurrió un error al enviar la solicitud GET: " + error);
            }
        });


    });



    $("#selectedSFC").change(function(){
        var csrfToken = $("#csrfToken").val(); // Obtener el token CSRF

        $.ajax({
            url: "/parametric/validatePrincipal2/?principalSelect=" + $("#selectedSFC").val(),
            type: "GET",
            headers: {
                "X-CSRF-TOKEN": csrfToken // Incluir el token CSRF en los headers
            },
            success: function(responseText) {
                var inputN = document.querySelector('#selectedRutaContable');
                inputN.innerHTML = null;

                // Agregar la opción predeterminada "Seleccione"
                var defaultOption = document.createElement('option');
                defaultOption.value = "";
                defaultOption.innerHTML = "Seleccione";
                defaultOption.disabled = true; // Deshabilitar la opción
                defaultOption.selected = true; // Seleccionarla por defecto
                inputN.appendChild(defaultOption);

                responseText.forEach(element => {
                    var option = document.createElement('option');
                    option.value = element.toString();
                    option.innerHTML = element.toString();
                    inputN.appendChild(option);
                });

            },
            error: function(xhr, status, error) {
                console.error("Ocurrió un error al enviar la solicitud GET: " + error);
            }
        });

    });


</script>
</body>
</html>