<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>

<div class="main-container">
    <style>
        .checkHorizontal {
            display: flex;
            align-items: baseline;
        }
    </style>

    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h2 class="fw-bold text-white mx-4 my-3">Creación de Parametro Reportes</h2>
        </div>
    </div>
    <div id="content">
        <form th:object="${parametro}" th:action="@{/parametric/createParametrosReportes}" method="POST">
            <div class="row mt-3 pt-4 px-4">
                <div class="text-left col-md-6">
                    <h2 class="font-weight-bold">Información de Registro</h2>
                </div>
                <div class="text-right col-md-6">
                    <a class="btn btn-sm btn-danger" th:href="@{/parametric/parametrosReportes}"><i class="fa-solid fa-left-long"></i> Regresar</a>
                    <button type="submit" class="btn btn-sm btn-primary ml-1">Agregar</button>
                </div>
            </div>
            <div class="row px-4">
                <div class="row border rounded">
                    <div class="col-md-2">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Activo</h6>
                            <input id="activoInput" name="activo" th:field="*{activo}" th:id="${activo}"
                                   th:value="${activo}" type="checkbox" class="styled-checkbox">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Aplica Festivo</h6>
                            <input id="festivoInput" name="festivo" th:field="*{festivo}" th:id="${festivo}" onchange="toggleFestivos()"
                                   th:value="${festivo}" type="checkbox" class="styled-checkbox">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Excluye Sábado y Domingo</h6>
                            <input id="excluyeSabDomInput" name="festivo" th:field="*{festivo}" th:id="${excluyeSabDom}"
                                   th:value="${excluyeSabDom}" type="checkbox" class="styled-checkbox">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-sm">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Nombre:</h6>
                            <input type="text" class="form-control form-control-sm"  th:field="*{nombre}"  required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Detalle:</h6>
                            <input type="text" class="form-control form-control-sm"  th:field="*{detalle}"  required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Tipo Insumo:<i class="bi bi-caret-down"></i></h6>
                            <select class="form-control form-control-sm" name="selectedTipoInsumo" id="selectedTipoInsumo" required th:field="*{tipoInsumo}">
                                <option disabled value="" selected hidden>Seleccione periodicidad</option>
                                <option th:value="contable">Contable</option>
                                <option th:value="conciliacion">Conciliacion</option>
                                <option th:value="inventarios">Inventarios</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Pais:<i class="bi bi-caret-down"></i></h6>
                            <select class="form-control form-control-sm" th:name="selectedPais" id="selectedPais">
                                <option selected value="">Seleccione un pais</option>
                                <option th:each="pais : ${paises}" th:text="${pais.nombre}" th:value="${pais.nombre}"></option>
                            </select>
                        </div>
                    </div>

                </div>

                <input type="hidden" id="csrfToken" th:value="${_csrf.token}" />
            </div>
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<script>

    function toggleFestivos() {
        var manejaCCCheckbox = document.getElementById('festivo1');
        var pais = document.getElementById('selectedPais');

        if (manejaCCCheckbox.checked) {
            pais.disabled = false;
        } else {
            pais.disabled = true;
        }
    }

    // Inicializar el estado de los campos cuando la página se carga
    window.onload = function() {
        toggleFestivos();
    };

</script>
</body>
</html>