<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>

<div class="main-container">
    <style>

        .big-checkbox {width: 1rem; height: 1rem; top:0.5rem}

        .nav-link {
            font-size: 20px; /* Ajusta el tamaño de la fuente según lo necesites */
        }

        .alineacionHorizontal {
            display: flex;
            align-items: center;
        }

        .checkHorizontal {
            display: flex;
            align-items: baseline;
        }
        .modal-body p {
            word-wrap: break-word;
            overflow-wrap: break-word;
            max-width: 100%;
            white-space: pre-wrap;
        }
        .modal-body {
            max-height: 70vh;
            overflow-y: auto;
            text-align: justify;
        }
    </style>
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h2 class="fw-bold text-white mx-4 my-3">Cuadro de Mando</h2>
        </div>
    </div>
    <div class="row m-0 px-4 mt-5">
        <div class="text-left pr-3 col-md-12 my-1">

            <nav>
                <div class="nav justify-content-center nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active font-weight-bold"
                            id="nav-home-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-home" type="button"
                            role="tab" aria-controls="nav-home" aria-selected="true">Inventarios</button>
                    <button class="nav-link font-weight-bold"
                            id="nav-profile-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-profile" type="button"
                            role="tab" aria-controls="nav-profile" aria-selected="false">Contables</button>
                </div>
            </nav>

            <!--TAB DE INVENTARIOS-->
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row mt-1">
                        <div class="col-md-12 px-1">
                            <div class="px-2 row">
                                <form  th:action="@{/parametric/cuadroMandoInvAndCont}" method="GET">
                                    <div class="mb-1 row">
                                        <div class="col-md-10 d-flex align-items-center justify-content-start">
                                            <h6 class="font-weight-bold">Seleccionar todos Inv:</h6>
                                            <input type="checkbox" id="select-all-failed">
                                        </div>
                                        <div class="col-md-2 d-flex align-items-end justify-content-end">
                                            <input type="date" id="period" th:name="period" th:value="${period}" class="form-control form-control-sm" style="width: 100%; box-sizing: border-box;" required>
                                            <button class="btn btn-sm btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                                            <a class="btn btn-sm btn-secondary" th:href="@{/parametric/cuadroMandoInvAndCont(period=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')})}"><i class="fas fa-window-close"></i></a>
                                        </div>
                                        <!-- Campo oculto para el token CSRF -->
                                        <input type="hidden" id="csrfToken" th:value="${_csrf.token}" />
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="table-responsive rounded border-primary">
                                <table id="example" class="table table-striped table-hover text-center table-bordered table-sm" width="100%">
                                    <thead class="bg-primary">
                                    <tr>
                                        <th>Conciliacion</th>
                                        <th>Inventario</th>
                                        <th>Fecha Inventario</th>
                                        <th>Cant. Registros</th>
                                        <th>Novedad Presentada</th>
                                        <th>Fecha Proceso</th>
                                        <th>Hora Proceso</th>
                                        <th>Usuario</th>
                                        <th>Tipo Proceso</th>
                                        <th>Estado Proceso</th>
                                        <th>Cantidad Intentos</th>
                                        <th>Proceso Masivo</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="rc : ${allLog2}">
                                        <td th:text="${@conciliationRouteService.findById(rc[8])?.conciliacion.nombre ?: ''}"></td>
                                        <td th:text="${@conciliationRouteService.findById(rc[8])?.detalle ?: ''}"></td>
                                        <td th:text="${#dates.format(rc[3],'yyyy-MM-dd')}"></td>
                                        <td th:text="${#numbers.formatDecimal(rc[1], 0, 'COMMA', -1, 'POINT')}"></td>
                                        <td>
                                            <button th:if="${rc[5] != null and rc[5] != ''}"
                                                    class="btn btn-primary btn-sm"
                                                    th:attr="data-novedad=${rc[5]}"
                                                    onclick="mostrarNovedad(this)">
                                                Ver
                                            </button>
                                            <span th:if="${rc[5] == null or rc[5] == ''}">No hay novedad</span>
                                        </td>
                                        <td th:text="${#dates.format(rc[4],'yyyy-MM-dd')}"></td>
                                        <td th:text="${#dates.format(rc[4],'HH:mm:ss')}"></td>
                                        <td th:text="${rc[7]}"></td>
                                        <td th:text="${rc[6]}"></td>
                                        <td th:if="${rc[2] == 'Exitoso'}"><i class="fa fa-check-circle fa-2x text-success"></i></td>
                                        <td th:if="${rc[2] == 'Fallido'}"><i class="fa fa-times-circle fa-2x text-danger"></i></td>
                                        <td th:text="${rc[9]}"></td>
                                        <td><input type="checkbox" class="process-checkbox" th:if="${rc[2] == 'Fallido'}"></td>
                                        <td>
                                            <a th:href="@{'https://localhost:8448/parametric/inventoryLoad?selectedConciliacion=' + ${@conciliationRouteService.findById(rc[8]).conciliacion.id} + '&arhcont=' + ${rc[8]} + '&period=' + ${period}}"
                                               class="btn btn-primary btn-sm">Seleccionar</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div th:if="${#lists.isEmpty(allLog2)}">
                                    <div class="alert alert-info">No hay registros disponibles.</div>
                                </div>
                            </div>
                            <div class="row" th:if="${last2 != 0}">
                                <div class="col-md-4 text-left">
                                    <nav arial-label="Pagination">
                                        <ul class="pagination pagination-sm">
                                            <li class="page-item" th:classappend="${prev2 == 0 ? 'disabled' : ''}">
                                                <a class="page-link"
                                                   th:href="@{/parametric/{dir}/?page={page}&vId={vId}&vFilter={vFilter}&period={period}(period=${period},vFilter=${vFilter},page=${prev},dir=${directory},vId=${vId})}">Anterior</a>
                                            </li>
                                            <li class="page-item" th:classappend="${current2 == last2 ? 'disabled' : ''}">
                                                <a class="page-link"
                                                   th:href="@{/parametric/{dir}/?page={page}&vId={vId}&vFilter={vFilter}&period={period}(period=${period},vFilter=${vFilter},page=${next},dir=${directory},vId=${vId})}">Siguiente</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-md-4 text-center">
                                    <h6 th:utext="${registersInventarios} + ' Registros Encontrados'"></h6>
                                </div>
                                <div class="col-md-4 text-right">
                                    <h6 class="mx-1" th:utext="'Página ' + ${current2} + ' de ' + ${last2}"></h6>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center" th:if="${filterExport != 'Original'}">
                                <h5><span class="badge badge-pill text-light badge-info py-2 px-5">¡La Tabla se encuentra Filtrada!</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-12 row justify-content-center">
                            <div class="d-grid gap-2 col-2">
                                <a th:disabled="${!p_modificar}" type="button" class="btn btn-sm btn-primary text-white" onclick="descartar()">Exportar Excel</a>
                            </div>
                            <div class="d-grid gap-2 col-2">
                                <a th:disabled="${!p_modificar}" type="submit" class="btn btn-sm btn-primary text-white">Generar Cargue Masivo</a>
                            </div>
                        </div>
                    </div>

                </div>
                <!--TAB DE CONTABLES-->
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="row mt-1 mx-1">
                        <div class="col-md-12 px-1">
                            <div class="px-2 row">
                                <form  th:action="@{/parametric/cuadroMandoInvAndCont}" method="GET">
                                    <div class="mb-1 row">
                                        <div class="col-md-10 d-flex align-items-center justify-content-start">
                                            <h6 class="font-weight-bold">Seleccionar todos Inv:</h6>
                                            <input type="checkbox" id="select-all-failed">
                                        </div>
                                        <div class="col-md-2 d-flex align-items-end justify-content-end">
                                            <input type="date" id="period" th:name="period" th:value="${period}" class="form-control form-control-sm" style="width: 100%; box-sizing: border-box;" required>
                                            <button class="btn btn-sm btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                                            <a class="btn btn-sm btn-secondary" th:href="@{/parametric/cuadroMandoInvAndCont(period=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')})}"><i class="fas fa-window-close"></i></a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="table-responsive rounded border-primary">
                                <table id="example2" class="table table-striped table-hover text-center table-bordered table-sm" width="100%">
                                    <thead class="bg-primary">
                                    <tr>
                                        <th>Código</th>
                                        <th>Fecha Cargue</th>
                                        <th>Cant. Registros</th>
                                        <th>Novedad Presentada</th>
                                        <th>Fecha Proceso</th>
                                        <th>Usuario</th>
                                        <th>Tipo Proceso</th>
                                        <th>Estado Proceso</th>
                                        <th>Proceso Masivo</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="rc : ${allLog}">
                                        <td th:text="${rc.id}"></td>
                                        <td th:text="${#dates.format(rc.fechaCargue,'yyyy-MM-dd')}"></td>
                                        <td th:text="${#numbers.formatDecimal(rc.cantidadRegistros, 0, 'COMMA', -1, 'POINT')}"></td>
                                        <td th:text="${rc.novedad}"></td>
                                        <td th:text="${#dates.format(rc.fechaPreciso,'yyyy-MM-dd HH:mm:ss')}"></td>
                                        <td th:text="${rc.usuario}"></td>
                                        <td th:text="${rc.tipoProceso}"></td>
                                        <td th:if="${rc.estadoProceso == 'Exitoso'}"><i class="fa fa-check-circle fa-2x text-success"></i></td>
                                        <td th:if="${rc.estadoProceso == 'Fallido'}"><i class="fa fa-times-circle fa-2x text-danger"></i></td>
                                        <td><input type="checkbox"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row" th:if="${last != 0}">
                                <div class="col-md-4 text-left">
                                    <nav arial-label="Pagination">
                                        <ul class="pagination pagination-sm">
                                            <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
                                                <a class="page-link" th:href="@{/parametric/{dir}/?page={page}&vId={vId}&vFilter={vFilter}(vFilter=${vFilter},page=${prev},dir=${directory},vId=${vId})}">Anterior</a>
                                            </li>
                                            <li class="page-item" th:classappend="${current == last ? 'disabled' : ''}">
                                                <a class="page-link" th:href="@{/parametric/{dir}/?page={page}&vId={vId}&vFilter={vFilter}(vFilter=${vFilter},page=${next},dir=${directory},vId=${vId})}">Siguiente</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-md-4 text-center">
                                    <h6 th:utext="${registers} + ' Registros Encontrados'"></h6>
                                </div>
                                <div class="col-md-4 text-right">
                                    <h6 class="mx-1" th:utext="'Página ' + ${current} + ' de ' + ${last}"></h6>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center" th:if="${filterExport != 'Original'}">
                                <h5><span class="badge badge-pill text-light badge-info py-2 px-5">¡La Tabla se encuentra Filtrada!</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-12 row justify-content-center">
                            <div class="d-grid gap-2 col-2">
                                <a th:disabled="${!p_modificar}" type="button" class="btn btn-sm btn-primary text-white" onclick="descartar()">Exportar Excel</a>
                            </div>
                            <div class="d-grid gap-2 col-2">
                                <a th:disabled="${!p_modificar}" type="submit" class="btn btn-sm btn-primary text-white">Generar Cargue Masivo</a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Modal -->
                <div class="modal fade" id="novedadModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Detalle de la Novedad</h5>
                                <button type="button" class="close" onclick="$('#novedadModal').modal('hide');" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p id="modalNovedadTexto"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" onclick="$('#novedadModal').modal('hide');">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function mostrarNovedad(btn) {
        let novedadTexto = btn.getAttribute("data-novedad");
        document.getElementById("modalNovedadTexto").textContent = novedadTexto;
        $('#novedadModal').modal('show'); // Abre el modal
    }
</script>


<script>

    document.getElementById('select-all-failed').addEventListener('change', function() {
        const isChecked = this.checked;
        document.querySelectorAll('.process-checkbox').forEach(function(checkbox) {
            checkbox.checked = isChecked;
        });
    });


    function exportar(archivoContable, fechaInformacion) {
        const encodedId = encodeURIComponent(archivoContable);
        const encodedFecha = encodeURIComponent(fechaInformacion);
        const url = `/parametric/inventoryLoad/download?id=${encodedId}&fecha=${encodedFecha}`;

        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.blob(); // Cambia a blob para manejar la descarga del archivo
            })
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                a.download = 'exported_file.xlsx'; // Asigna un nombre al archivo descargado
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
                Swal.close();
            })
            .catch(error => {
                console.error("Error:", error);
                alert("Error al descargar el archivo: " + error.message);
            });
    }

</script>
</body>
</html>
