<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>

<div class="main-container">
    <style>
        body, .btn, .form-control form-control-sm {
            font-size: 12px;
        }

        h2{
            font-size: 18px;
            font-weight: bold;
        }

        .big-checkbox {width: 1rem; height: 1rem; top:0.5rem}
    </style>
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h2 class="fw-bold text-white mx-4 my-3">Módulo de Matriz de Eventos</h2>
        </div>
    </div>
    <div class="row m-0 px-4 mt-5">
        <div class="text-left pr-3 col-md-12 my-1">
            <!--SECCION DE FILTROS-->
            <h2>Registros Cargados</h2>

            <form method="get" th:action="@{/parametric/searchEventMatrix}">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group form-group-sm">
                            <label>Conciliacion</label>
                            <select class="form-control form-control-sm" name="selectedConcil" id="selectedConcil" onchange="toggleConciliacion()">
                                <option disabled value="0" selected hidden>Seleccione una conciliación</option>
                                <option th:each="concil : ${allConcils}" th:value="${concil.id}" th:text="${concil.nombre}" th:selected="${concil.id != null and concil.id == selectedConcil1}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group form-group-sm">
                            <input type="hidden" id="valueInv1" name="valueInv1" th:value="${selectedInv1}">
                            <label>Inventario Conciliacion</label>
                            <select class="form-control form-control-sm" name="selectedInv" id="selectedInv" onchange="toggleInventario()">
                                <option value="0" selected >Seleccione un archivo</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group form-group-sm">
                            <label>Tipo Evento</label>
                            <select class="form-control form-control-sm" name="selectedET" id="selectedET" onchange="toggleInventario()">
                                <option  value="0" selected >Seleccione un tipo evento</option>
                                <option th:each="TE : ${allTEs}" th:value="${TE.id}" th:text="${TE.nombre}" th:selected="${TE.id != null and TE.id == selectedET1}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group form-group-sm">
                            <label>Cuentas</label>
                            <input type="hidden" id="valueCuen1" name="valueCuen1" th:value="${selectedCuenta1}">
                            <select class="form-control form-control-sm" name="selectedCuenta" id="selectedCuenta">
                                <option value="0" selected >Seleccione una Cuenta</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group form-group-sm">
                            <label>Estado</label>
                            <select class="form-control form-control-sm" name="selectedEstado" id="selectedEstado">
                                <option value="-1" th:selected="${selectedEstado1 == '-1'}">Seleccione un Estado</option>
                                <option value="1" th:selected="${selectedEstado1 == '1'}">Activo</option>
                                <option value="0" th:selected="${selectedEstado1 == '0'}">Inactivo</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 d-flex align-items-center justify-content-end">
                        <button class="btn btn-sm btn-secondary mr-1" type="submit"><i class="fa fa-search"></i></button>
                        <a class="btn btn-sm btn-secondary" th:href="@{/parametric/eventMatrix}"><i class="fas fa-window-close"></i></a>
                        <button th:disabled="${!p_modificar}" class="btn btn-sm btn-primary mx-1" type="button" th:onclick="|window.location.href='@{/parametric/createEventMatrix}'|">Crear Matriz</button>
                    </div>

                    <!-- Campo oculto para el token CSRF -->
                    <input type="hidden" id="csrfToken" th:value="${_csrf.token}" />

                    <!--<div class="col-md-2" style="text-align: right;">
                        <a class="btn btn-sm btn-primary mx-1" th:href="@{/parametric/eventMatrix}"><i class="fas fa-redo-alt"></i></a>
                        <button th:disabled="${!p_modificar}" class="btn btn-sm btn-primary mx-1" type="button" th:onclick="|window.location.href='@{/parametric/createEventMatrix}'|">Crear Matriz</button>
                    </div>-->

                </div>
            </form>

        </div>
        <div class="col-md-12 p-0">
            <div class="table-responsive rounded border-primary">
                <table id="example" class="table table-striped table-hover text-center table-bordered table-sm" width="100%">
                    <thead class="bg-primary">
                    <tr>
                        <th>Conciliacion</th>
                        <th>Inventario</th>
                        <th>Matriz</th>
                        <th>Tipo Evento</th>
                        <th>Cuenta 1</th>
                        <th>Cuenta 2</th>
                        <th>Hom. Cntros</th>
                        <th>PYG</th>
                        <th>Estado</th>
                        <th COLSPAN="4">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="event : ${allEvents}">
                        <td th:text="${event.conciliacion.nombre}"></td>
                        <td th:text="${event.inventarioConciliacion.detalle}"></td>
                        <td th:text="${event.consecutivo}"></td>
                        <td th:text="${event.tipoEvento.nombre}"></td>
                        <td th:text="${@accountEventMatrixService.findByMatrizEventoTipo1(event)?.cuentaGanancia ?: ''}"></td>
                        <td th:text="${@accountEventMatrixService.findByMatrizEventoTipo2(event)?.cuentaGanancia ?: ''}"></td>
                        <td th:if="${event.homCntros == true}">Activo</td>
                        <td th:if="${event.homCntros == false}">Inactivo</td>
                        <td th:if="${event.PYG == true}">Activo</td>
                        <td th:if="${event.PYG == false}">Inactivo</td>
                        <td th:if="${event.estado == true}">Activo</td>
                        <td th:if="${event.estado == false}">Inactivo</td>
                        <td>
                            <button th:disabled="${!p_modificar}" class="btn btn-sm btn-primary mx-1"
                                    th:onclick="|window.location.href='@{/parametric/conditionsEventMatrix/{id}(id=${event.id},selectedConcil=${selectedConcil1},selectedInv=${selectedInv1},selectedET=${selectedET1},selectedEstado=${selectedEstado1})}'|">Condiciones</button>
                        </td>
                        <td>
                            <button th:disabled="${!p_modificar}" class="btn btn-sm btn-primary mx-1"
                                    th:onclick="|window.location.href='@{/parametric/cuentasEventMatrix/{id}(id=${event.id},selectedConcil=${selectedConcil1},selectedInv=${selectedInv1},selectedET=${selectedET1},selectedEstado=${selectedEstado1})}'|">Cuentas</button>
                        </td>
                        <td>
                            <button th:disabled="${!p_modificar}" class="btn btn-sm btn-primary mx-1"
                                    th:onclick="|window.location.href='@{/parametric/validationsEventMatrix/{id}(id=${event.id},selectedConcil=${selectedConcil1},selectedInv=${selectedInv1},selectedET=${selectedET1},selectedEstado=${selectedEstado1})}'|">Validaciones</button>
                        <td>
                            <button th:disabled="${!p_modificar}" class="btn btn-sm btn-primary mx-1"
                                    th:onclick="|window.location.href='@{/parametric/modifyEventMatrix/{id}(id=${event.id},selectedConcil=${selectedConcil1},selectedInv=${selectedInv1},selectedET=${selectedET1},selectedEstado=${selectedEstado1})}'|">Editar</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" th:if="${last != 0}">
                <div class="col-md-4 text-left">
                    <nav arial-label="Pagination">
                        <ul class="pagination pagination-sm">
                            <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{/parametric/searchEventMatrix/?page={page}&vId={vId}&vFilter={vFilter}(vFilter=${vFilter},page=${prev},dir=${directory},vId=${vId},selectedConcil=${selectedConcil1},selectedInv=${selectedInv1},selectedET=${selectedET1},selectedEstado=${selectedEstado1})}">Anterior</a>
                            </li>
                            <li class="page-item" th:classappend="${current == last ? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{/parametric/searchEventMatrix/?page={page}&vId={vId}&vFilter={vFilter}(vFilter=${vFilter},page=${next},dir=${directory},vId=${vId},selectedConcil=${selectedConcil1},selectedInv=${selectedInv1},selectedET=${selectedET1},selectedEstado=${selectedEstado1})}">Siguiente</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-4 text-center">
                    <h6 th:utext="${registers} + ' Registros Encontrados'"></h6>
                </div>
                <div class="col-md-4 text-right">
                    <h6 class="mx-1" th:utext="'Página ' + ${current} + ' de ' + ${last}"></h6>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center" th:if="${filterExport != 'Original'}">
                <h5><span class="badge badge-pill text-light badge-info py-2 px-5">¡La Tabla se encuentra Filtrada!</span>
                </h5>
            </div>
        </div>

    </div>
</div>
</div>

<script>
    async function toggleConciliacion() {
        const concilID = document.getElementById('selectedConcil').value;
        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        if (concilID) {
            const response = await fetch(`/parametric/obtenerRutasConcilByConcil/${concilID}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                }
            });

            const data = await response.json();

            const ruta = document.getElementById('selectedInv');
            const valueInv = document.getElementById('valueInv1').value;

            ruta.innerHTML = '<option selected value="0" >Seleccione un archivo</option>';

            data.forEach(campo => {
                const optionRC = document.createElement('option');
                optionRC.value = campo[0];
                optionRC.text = campo[1];
                if(campo[0] != null && campo[0] == valueInv)
                {
                    optionRC.selected=true;
                }
                ruta.appendChild(optionRC);
            });

        }
    }

    async function toggleInventario() {
        const tipoEventoID = document.getElementById('selectedET').value;
        const concilID = document.getElementById('selectedConcil').value;
        const inventarioID = document.getElementById('selectedInv').value;
        const valueInvID = document.getElementById('valueInv1').value;
        var valueInvFin = 0;
        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        if(inventarioID != 0)
            valueInvFin= inventarioID;
        else
            valueInvFin= valueInvID;
        console.log(tipoEventoID , concilID , inventarioID,valueInvID,valueInvFin);
        if (tipoEventoID && concilID && valueInvFin) {
            const response = await fetch(`/parametric/obtenerCuentas/${tipoEventoID}/${concilID}/${valueInvFin}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                }
            });

            const data = await response.json();

            const cuentaSelect = document.getElementById('selectedCuenta');
            const valueCuen = document.getElementById('valueCuen1').value;
            cuentaSelect.innerHTML = '<option value="0" selected>Seleccione una Cuenta</option>';

            data.forEach(cuenta => {
                const option = document.createElement('option');
                option.value = cuenta;
                option.text = cuenta;
                if(cuenta != null && cuenta == valueCuen)
                {
                    option.selected=true;
                }
                cuentaSelect.appendChild(option);
            });
        }
    }
    window.onload=function(){
        toggleConciliacion();
        toggleInventario();
    }
</script>
</body>
</html>