<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>

<div class="main-container">
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h3 class="fw-bold text-white mx-4 my-3">Cargue Campos Ruta Conciliacion</h3>
        </div>
    </div>
    <div class="row mt-5 py-3 px-4">
        <div class="text-left col-md-6">
            <h2>Cargue de campos</h2>
        </div>
        <div class="text-right col-md-6">
            <a class="btn btn-primary mx-1" th:href="@{/parametric/conciliationRoutes}"><i class="fa-solid fa-left-long"></i> Regresar</a>
            <button type="button" class="btn btn-primary mx-2" onclick="Limpiar()">Deseleccionar Item</button>
        </div>
    </div>
    <div class="row px-4">
        <div class="text-left col-md-12 mb-3">
            <form id="miFormulario" th:object="${campoRC}" th:action="@{/parametric/createCampoRConcil}" method="POST">

                <div class="mb-3 p-3 row border rounded">
                    <div hidden class="col-md-2">
                        <div class="form-group mb-1">
                            <h6 class="font-weight-bold">ID</h6>
                            <input type="text" class="form-control" th:field="*{id}">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group mb-1">
                            <h6 class="font-weight-bold">Detalle Campo</h6>
                            <input type="text" class="form-control" th:field="*{nombre}" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group mb-1">
                            <h6 class="font-weight-bold">Tipo de Campo</h6>
                            <select class="form-control" name="selectedTipoCampo" id="selectedTipoCampo" th:field="*{tipo}" required onchange="toggleFechaIdiomaFields()">
                                <option th:if="${campoRC.tipo == null}" hidden selected disabled value="">Seleccione tipo</option>
                                <option th:if="${campoRC.tipo != null}" hidden selected th:text="${campoRC.tipo}" th:value="${campoRC.tipo}"></option>
                                <option th:value="Integer" th:text="Integer"></option>
                                <option th:value="Bigint" th:text="Bigint"></option>
                                <option th:value="Float" th:text="Float"></option>
                                <option th:value="Varchar" th:text="Varchar"></option>
                                <option th:value="Date" th:text="Date"></option>
                                <option th:value="Time" th:text="Time"></option>
                                <option th:value="Datetime" th:text="Datetime"></option>
                                <option th:value="Bit" th:text="Bit"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group mb-1">
                            <h6 class="font-weight-bold">Longitud de Campo
                            <i  class="fas fa-question-circle text-muted"
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            title="Se debe diligenciar si el fichero no tiene delimitador.
                            Si se deja en blanco, se considera como un MAX."
                            ></i>
                            </h6>
                            <input type="number" class="form-control" name="longitud" id="longitud" min="1">
                        </div>
                    </div>
                    <div class="col-md-2 hidden" id="separadorContainer">
                        <div class="form-group mb-1">
                            <h6 class="font-weight-bold">Separador</h6>
                            <input type="text" class="form-control" th:field="*{separador}">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="col-12"><h6 class="font-weight-bold">Campo Primario</h6></div>
                        <div class="form-group col-md-2">
                            <div class="form-check form-check-inline">
                                <input id="primario" name="primario" th:field="*{primario}" th:id="${primario}"
                                       th:value="${primario}" type="checkbox" class="styled-checkbox ms-2">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="col-12"><h6 class="font-weight-bold">Seleccionado Conciliacion?</h6></div>
                        <div class="form-group col-md-2">
                            <div class="form-check form-check-inline">
                                <input id="conciliacion" name="conciliacion" th:field="*{conciliacion}" th:id="${conciliacion}"
                                       th:value="${conciliacion}" type="checkbox" class="styled-checkbox ms-2">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="col-12"><h6 class="font-weight-bold">Nulo a moneda</h6></div>
                        <div class="form-group col-md-2">
                            <div class="form-check form-check-inline">
                                <input id="nuloMoneda" name="nuloMoneda" th:field="*{nuloMoneda}" th:id="${nuloMoneda}"
                                       th:value="${nuloMoneda}" type="checkbox" class="styled-checkbox ms-2">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" id="formatoFechaContainer">
                        <div class="form-group mb-1">
                            <h6 class="font-weight-bold">Formato Fecha:</h6>
                            <select class="form-control" name="selectedFormatoFecha" id="selectedFormatoFecha" th:field="*{formatoFecha}">
                                <option disabled value="" selected hidden>Seleccione formato</option>
                                <option value="YYYYMMDD">AÑO MES DIA CORTA (YYYYMMDD)</option>
                                <option value="YYMMDD">AÑO MES DIA RED (YYMMDD)</option>
                                <option value="DDMMMMYYYY">DIA MES AÑO COM. (DDMMMMYYYY)</option>
                                <option value="DDMMYYYY">DIA MES AÑO CORTA (DDMMYYYY)</option>
                                <option value="DDMMYY">DIA MES AÑO RED. (DDMMYY)</option>
                                <option value="MMDDYY">MES DIA AÑO (MMDDYY)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2" id="idiomaCampoContainer">
                        <div class="form-group mb-1">
                            <h6 class="font-weight-bold">Idioma Campo:</h6>
                            <select class="form-control" name="selectedIdiomaCampo" id="selectedIdiomaCampo" th:field="*{idioma}">
                                <option disabled value="" selected hidden>Seleccione formato</option>
                                <option value="EspañolColombia">Español - Colombia</option>
                                <option value="EspañolEspaña">Español - España</option>
                                <option value="InglésUSA">Inglés - USA</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- miFormulario oculto para pasar el objeto croute -->
                <input type="hidden" id="crouteId" name="crouteId" th:value="${croute.id}" />

                <div class="row">
                    <div class="d-grid gap-2 col-2">
                        <button th:disabled="${!p_modificar}" class="btn btn-primary" onclick="descartar()">Descartar</button>
                    </div>
                    <div class="d-grid gap-2 col-2">
                        <button th:disabled="${!p_modificar}" type="submit" class="btn btn-primary">Agregar</button>
                    </div>
                </div>
            </form>


        </div>
        <div class="col-md-12 p-0">
            <div class="table-responsive rounded border-primary">
                <h2>Campos registrados</h2>
                <table id="example" class="table table-striped table-hover text-center table-bordered table-sm" width="100%">
                    <thead class="bg-primary">
                    <tr>
                        <th>Código Campo</th>
                        <th>Detalle Campo</th>
                        <th>Primario</th>
                        <th>Tipo Campo</th>
                        <th>Longitud</th>
                        <th>Conciliación</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="camp : ${allCampos}">
                        <td th:text="${camp.id}"></td>
                        <td th:text="${camp.nombre}"></td>
                        <td th:if="${camp.primario == true}">Sí</td>
                        <td th:if="${camp.primario == false}">No</td>
                        <td th:text="${camp.tipo}"></td>
                        <td th:text="${camp.longitud}"></td>
                        <td th:if="${camp.conciliacion == true}">Sí</td>
                        <td th:if="${camp.conciliacion == false}">No</td>
                        <td>
                            <button th:disabled="${!p_modificar}" class="btn btn-primary mx-1"
                                    th:data-id="${camp.id}"
                                    th:data-nombre="${camp.nombre}"
                                    th:data-primario="${camp.primario}"
                                    th:data-tipo="${camp.tipo}"
                                    th:data-longitud="${camp.longitud}"
                                    th:data-formatoFecha="${camp.formatoFecha}"
                                    th:data-idioma="${camp.idioma}"
                                    th:data-conciliacion="${camp.conciliacion}"
                                    th:data-nuloMoneda="${camp.nuloMoneda}"
                                    onclick="cargarCampos(this)">Seleccionar</button>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" th:if="${last != 0}">
                <div class="col-md-4 text-left">
                    <nav arial-label="Pagination">
                        <ul class="pagination">
                            <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{/parametric/{dir}/?page={page}&vId={vId}&vFilter={vFilter}(vFilter=${vFilter},page=${prev},dir=${directory},vId=${vId})}">Anterior</a>
                            </li>
                            <li class="page-item" th:classappend="${current == last ? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{/parametric/{dir}/?page={page}&vId={vId}&vFilter={vFilter}(vFilter=${vFilter},page=${next},dir=${directory},vId=${vId})}">Siguiente</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-4 text-center">
                    <h6 th:utext="${registers} + ' Registros Encontrados'"></h6>
                </div>
                <div class="col-md-4 text-right">
                    <h6 class="mx-1" th:utext="'Página ' + ${current} + ' de ' + ${last}"></h6>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center" th:if="${filterExport != 'Original'}">
                <h5><span class="badge badge-pill text-light badge-info py-2 px-5">¡La Tabla se encuentra Filtrada!</span>
                </h5>
            </div>
        </div>


    </div>
</div>
</div>

<script>

    function cargarCampos(button) {
        var id = button.getAttribute("data-id");
        var nombre = button.getAttribute("data-nombre");
        var tipo = button.getAttribute("data-tipo");
        var formatoFecha = button.getAttribute("data-formatoFecha");
        var idioma = button.getAttribute("data-idioma");
        var longitud = button.getAttribute("data-longitud")

        var nuloMoneda = button.getAttribute("data-nuloMoneda") === 'true';
        var conciliacion = button.getAttribute("data-conciliacion") === 'true';
        var primario = button.getAttribute("data-primario") === 'true';

        // Asignar los valores a los campos del miFormulario
        document.querySelector("input[name='id']").value = id;
        document.querySelector("input[name='nombre']").value = nombre;
        document.querySelector("input[name='longitud']").value = longitud;
        document.querySelector("input[name='primario']").checked = primario;
        document.querySelector("input[name='conciliacion']").checked = conciliacion;
        document.querySelector("input[name='nuloMoneda']").checked = nuloMoneda;

        var selectTipoCampo = document.querySelector("select[name='tipo']");
        if (!selectTipoCampo.querySelector('option[value="' + tipo + '"]')) {
            console.error("El valor '" + tipo + "' no está en las opciones del select.");
        }
        else{
            selectTipoCampo.value = tipo.trim(); // Asigna el valor directamente
        }
        var selectFormatoFecha = document.querySelector("select[name='formatoFecha']");
        selectFormatoFecha.value = formatoFecha; // Asigna el valor directamente
        if (!selectFormatoFecha.querySelector('option[value="' + formatoFecha + '"]')) {
            console.error("El valor '" + formatoFecha + "' no está en las opciones del select.");
        }
        var selectIdioma = document.querySelector("select[name='idioma']");
        selectIdioma.value = idioma; // Asigna el valor directamente
        if (!selectIdioma.querySelector('option[value="' + idioma + '"]')) {
            console.error("El valor '" + idioma + "' no está en las opciones del select.");
        }

        toggleFechaIdiomaFields();
    }

    function descartar() {
        const id = document.querySelector("input[name='id']").value;
        const nombre = document.querySelector("input[name='nombre']").value;
        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
        const crouteId = document.getElementById('crouteId').value;

        if (id && nombre) {
            fetch(`/parametric/deleteCampoRConcil/${id}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                }
            }).then(response => {
                if (response.ok) {
                    // Verifica que la URL de redirección se construya correctamente
                    window.location.href = `/parametric/fieldLoadingConciliationRoute/${crouteId}`;
                } else {
                    // Manejo de errores
                    console.error('Error al eliminar el registro:', response.statusText);
                }
            }).catch(error => {
                // Manejo de errores
                console.error('Error:', error);
            });
        }
    }

</script>

<script>

    function toggleFechaIdiomaFields() {
       var tipoCampo = document.getElementById('selectedTipoCampo').value;
       var formatoFechaContainer = document.getElementById('formatoFechaContainer');
       var idiomaCampoContainer = document.getElementById('idiomaCampoContainer');
       var separadorContainer = document.getElementById('separadorContainer');

       if (tipoCampo === 'Date' || tipoCampo === 'Datetime') {
           formatoFechaContainer.classList.remove('hidden');
           idiomaCampoContainer.classList.remove('hidden');
           separadorContainer.classList.remove('hidden');
       } else {
           formatoFechaContainer.classList.add('hidden');
           idiomaCampoContainer.classList.add('hidden');
           separadorContainer.classList.add('hidden');
       }
   }

   function Limpiar() {
       document.getElementById('miFormulario').reset();
       toggleFechaIdiomaFields();
   }

   window.onload = function() {
       toggleFechaIdiomaFields();
   };
</script>
</body>
</html>