<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>
<div class="main-container">
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h3 class="fw-bold text-white mx-4 my-3">Módulo de Parametro General</h3>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-end pe-5">
        </div>
    </div>
    <div id="content">
        <div class="row p-5">
            <div class="row border mt-4 rounded p-2">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="fw-bold" th:utext="${allParametrics.get(0).unidadSecundaria}"></label>
                        <select class="form-control" name="centroContableSelect" id="centroContableSelect" required>
                            <option hidden selected th:text="${allParametrics.get(0).valorUnidad}" th:value="${allParametrics.get(0).valorUnidad}"></option>
                            <option th:each="data : ${parametricsData0}" th:text="${data.nombre}" th:value="${data.nombre}"></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="fw-bold" th:utext="${allParametrics.get(1).unidadSecundaria}"></label>
                        <select class="form-control" name="centroSelect" id="centroSelect" required>
                            <option hidden selected th:text="${allParametrics.get(1).valorUnidad}" th:value="${allParametrics.get(1).valorUnidad}"></option>
                            <option th:each="data : ${parametricsData1}" th:text="${data.nombre}" th:value="${data.nombre}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row border mt-1 rounded p-2">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="fw-bold" th:utext="${allParametrics.get(2).unidadSecundaria}"></label>
                        <select class="form-control" name="cuentaContableSelect" id="cuentaContableSelect" required>
                            <option hidden selected th:text="${allParametrics.get(2).valorUnidad}" th:value="${allParametrics.get(2).valorUnidad}"></option>
                            <option th:each="data : ${parametricsData2}" th:text="${data.nombre}" th:value="${data.nombre}"></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="fw-bold" th:utext="${allParametrics.get(3).unidadSecundaria}"></label>
                        <select class="form-control" name="cuentaSelect" id="cuentaSelect" required>
                            <option hidden selected th:text="${allParametrics.get(3).valorUnidad}" th:value="${allParametrics.get(3).valorUnidad}"></option>
                            <option th:each="data : ${parametricsData3}" th:text="${data.nombre}" th:value="${data.nombre}"></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="fw-bold" th:utext="${allParametrics.get(4).unidadSecundaria}"></label>
                        <select class="form-control" name="contoSelect" id="contoSelect" required>
                            <option hidden selected th:text="${allParametrics.get(4).valorUnidad}" th:value="${allParametrics.get(4).valorUnidad}"></option>
                            <option th:each="data : ${parametricsData4}" th:text="${data.nombre}" th:value="${data.nombre}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row border mt-1 rounded p-2">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="fw-bold" th:utext="${allParametrics.get(5).unidadSecundaria}"></label>
                        <select class="form-control" name="cuentaDivisaSelect" id="cuentaDivisaSelect" required>
                            <option hidden selected th:text="${allParametrics.get(5).valorUnidad}" th:value="${allParametrics.get(5).valorUnidad}"></option>
                            <option th:each="data : ${parametricsData5}" th:text="${data.nombre}" th:value="${data.nombre}"></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="fw-bold" th:utext="${allParametrics.get(6).unidadSecundaria}"></label>
                        <select class="form-control" name="cuentaDSelect" id="cuentaDSelect" required>
                            <option hidden selected th:text="${allParametrics.get(6).valorUnidad}" th:value="${allParametrics.get(6).valorUnidad}"></option>
                            <option th:each="data : ${parametricsData6}" th:text="${data.nombre}" th:value="${data.nombre}"></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="fw-bold" th:utext="${allParametrics.get(7).unidadSecundaria}"></label>
                        <select class="form-control" name="divisaSelect" id="divisaSelect" required>
                            <option hidden selected th:text="${allParametrics.get(7).valorUnidad}" th:value="${allParametrics.get(7).valorUnidad}"></option>
                            <option th:each="data : ${parametricsData7}" th:text="${data.nombre}" th:value="${data.nombre}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-3 justify-content-center">
                <div class="col-md-auto">
                    <button id="saveParamsBtn" class="btn btn-primary">Guardar Parámetros</button>
                </div>
            </div>
            <input type="hidden" id="csrfToken" th:value="${_csrf.token}" />
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    var queryString = window.location.search;
    var urlParams = new URLSearchParams(queryString);
    var respuesta = urlParams.get('resp');
    var row = urlParams.get('row');
    var column = urlParams.get('colum');
    validateAlerts(respuesta, row, column);
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
    
    //MODAL DE BORRAR
    
    var seleccionado = -1;
    var csrfToken = $("#csrfToken").val(); // Obtener el token CSRF

    function seleccionarTipoEvento(id) {
        seleccionado=id
    }

    function borrar(){
        var url = '/parametric/deleteEventType/' + seleccionado;
        // Realizar la solicitud POST con el token CSRF
        $.post(url, {_csrf: csrfToken})
            .done(function(response) {
                //console.log("Solicitud POST completada con éxito");
                location.reload();
            })
            .fail(function(xhr, status, error) {
                console.error("Ocurrió un error al enviar la solicitud POST: " + error);
            });
    }

    // Select Centro
    document.getElementById('centroContableSelect').addEventListener('change', function () {
    const selectedValue = this.value;

    fetch('/parametric/generalParam/firstLevel', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRF-TOKEN': csrfToken
        },
        body: `dataLevel=${encodeURIComponent(selectedValue)}`
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Error en la solicitud: ${response.statusText}`);
                }
                return response.json();
            })
            .then(data => {
                const centroSelect = document.getElementById('centroSelect');

                // Limpia las opciones existentes
                centroSelect.innerHTML = '';

                // Si no hay datos, muestra una opción predeterminada
                if (!data || data.length === 0) {
                    const option = document.createElement('option');
                    option.textContent = 'No hay datos disponibles';
                    centroSelect.appendChild(option);
                    return;
                }

                // Agrega las nuevas opciones
                data.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item.nombre; // Ajusta si hay otros campos relevantes
                    option.textContent = item.nombre;
                    centroSelect.appendChild(option);
                });
            })
            .catch(error => {
                console.error('Error al cargar los datos:', error);
                alert('No se pudo actualizar el selector. Verifique la consola.');
            });
    });

    // Select Cuenta
    document.getElementById('cuentaContableSelect').addEventListener('change', function () {
    const selectedValue = this.value;

    fetch('/parametric/generalParam/firstLevel', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRF-TOKEN': csrfToken
        },
        body: `dataLevel=${encodeURIComponent(selectedValue)}`
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Error en la solicitud: ${response.statusText}`);
                }
                return response.json();
            })
            .then(data => {
                const cuentaSelect = document.getElementById('cuentaSelect');

                // Limpia las opciones existentes
                cuentaSelect.innerHTML = '';

                // Si no hay datos, muestra una opción predeterminada
                if (!data || data.length === 0) {
                    const option = document.createElement('option');
                    option.textContent = 'No hay datos disponibles';
                    cuentaSelect.appendChild(option);
                    return;
                }

                // Agrega las nuevas opciones
                data.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item.nombre; // Ajusta si hay otros campos relevantes
                    option.textContent = item.nombre;
                    cuentaSelect.appendChild(option);
                });

                const contoSelect = document.getElementById('contoSelect');

                // Limpia las opciones existentes
                contoSelect.innerHTML = '';

                // Si no hay datos, muestra una opción predeterminada
                if (!data || data.length === 0) {
                    const option = document.createElement('option');
                    option.textContent = 'No hay datos disponibles';
                    contoSelect.appendChild(option);
                    return;
                }

                // Agrega las nuevas opciones
                data.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item.nombre; // Ajusta si hay otros campos relevantes
                    option.textContent = item.nombre;
                    contoSelect.appendChild(option);
                });
            })
            .catch(error => {
                console.error('Error al cargar los datos:', error);
                alert('No se pudo actualizar el selector. Verifique la consola.');
            });
    });

    // Select Cuenta y Divisa
    document.getElementById('cuentaDivisaSelect').addEventListener('change', function () {
    const selectedValue = this.value;

    fetch('/parametric/generalParam/firstLevel', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRF-TOKEN': csrfToken
        },
        body: `dataLevel=${encodeURIComponent(selectedValue)}`
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Error en la solicitud: ${response.statusText}`);
                }
                return response.json();
            })
            .then(data => {
                const cuentaDSelect = document.getElementById('cuentaDSelect');

                // Limpia las opciones existentes
                cuentaDSelect.innerHTML = '';

                // Si no hay datos, muestra una opción predeterminada
                if (!data || data.length === 0) {
                    const option = document.createElement('option');
                    option.textContent = 'No hay datos disponibles';
                    cuentaDSelect.appendChild(option);
                    return;
                }

                // Agrega las nuevas opciones
                data.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item.nombre; // Ajusta si hay otros campos relevantes
                    option.textContent = item.nombre;
                    cuentaDSelect.appendChild(option);
                });

                const divisaSelect = document.getElementById('divisaSelect');

                // Limpia las opciones existentes
                divisaSelect.innerHTML = '';

                // Si no hay datos, muestra una opción predeterminada
                if (!data || data.length === 0) {
                    const option = document.createElement('option');
                    option.textContent = 'No hay datos disponibles';
                    divisaSelect.appendChild(option);
                    return;
                }

                // Agrega las nuevas opciones
                data.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item.nombre; // Ajusta si hay otros campos relevantes
                    option.textContent = item.nombre;
                    divisaSelect.appendChild(option);
                });
            })
            .catch(error => {
                console.error('Error al cargar los datos:', error);
                alert('No se pudo actualizar el selector. Verifique la consola.');
            });
    });

    //Guardar

    document.getElementById('saveParamsBtn').addEventListener('click', function () {
    const params = {
        centroContable: document.getElementById('centroContableSelect').value,
        centro: document.getElementById('centroSelect').value,
        cuentaContable: document.getElementById('cuentaContableSelect').value,
        cuenta: document.getElementById('cuentaSelect').value,
        conto: document.getElementById('contoSelect').value,
        cuentaDivisa: document.getElementById('cuentaDivisaSelect').value,
        cuentaD: document.getElementById('cuentaDSelect').value,
        divisa: document.getElementById('divisaSelect').value
    };

    fetch('/parametric/generalParam/save', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRF-TOKEN': csrfToken
        },
        body: JSON.stringify(params)
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`Error en la solicitud: ${response.statusText}`);
            }
            return response.json(); // Suponiendo que el servidor devuelve un JSON válido
        })
        .then(data => {
            // Pop-up de éxito
            Swal.fire({
                icon: 'success',
                title: '¡Proceso Completado!',
                text: 'Los parámetros han sido guardados con éxito.',
                confirmButtonText: 'Aceptar'
            });
        })
        .catch(error => {
            // Pop-up de error
            Swal.fire({
                icon: 'error',
                title: '¡Error!',
                text: 'No se pudieron guardar los parámetros. Intente nuevamente.',
                confirmButtonText: 'Aceptar'
            });
        });
    });


</script>
</body>

</html>