<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/menuTemplate :: menuHead"></div>
<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>
<div class="main-container">
    <style>
        .contend{
            border-style: solid;
            padding: 20px;
            border-radius: 15px;
        }
    </style>
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 p-0 bg-primary d-flex justify-content-start align-items-center">
            <h3 class="fw-bold text-white mx-4 my-3">Módulo de Generar Conciliación</h3>
        </div>
    </div>
    <div class="row m-0 mt-5">
        <div class="mb-1 mt-3 row">
            <div class="col-3 ml-3">
                <div class="contend mb-3">
                    <h2>Fecha de Información</h2>
                    <form th:object="${concil}" th:action="@{/parametric/generateConciliation}" method="GET">
                        <input id="nomb" type="hidden" th:value="${nomb}">
                        <div class="form-group form-group-sm mb-1">
                            <h6 class="font-weight-bold">Conciliación</h6>
                            <select style="width: 100%; box-sizing: border-box;" class="form-control form-control-sm" required id="arhcont" name="arhcont">
                                <option disabled value="" selected hidden>Seleccione un archivo</option>
                                <option th:each="item : ${listConcil}" th:value="${item.id}" th:text="${item.nombre}"
                                        th:selected="${arhcont != null and arhcont.id == item.id }"></option>
                            </select>
                            <div class="invalid-feedback">Por favor, seleccione un archivo.</div>
                        </div>
                        <div class="form-group form-group-sm mb-1">
                            <h6 class="font-weight-bold">Fecha Conciliación</h6>
                            <div class="input-group input-group-sm">
                                <input type="date" id="period" th:name="period" th:value="${period}" class="form-control form-control-sm" style="width: 100%; box-sizing: border-box;" required onchange="toggleFechaConciliacion()">
                                <div class="invalid-feedback">Por favor, seleccione una fecha.</div>
                            </div>
                        </div>
                        <div class="form-group form-group-sm mb-1">
                            <h6 class="font-weight-bold">Fecha Contabilidad</h6>
                            <div class="input-group input-group-sm">
                                <input type="date" id="period2" th:name="period2" th:value="${period2}" class="form-control form-control-sm" style="width: 100%; box-sizing: border-box;" disabled required>
                                <div class="invalid-feedback">Por favor, seleccione una fecha.</div>
                            </div>
                        </div>

                        <input type="hidden" id="period2Hidden" name="period2" />
                        <input type="hidden" id="ultLog" name="ultLog" th:value="${ultLog != null ? ultLog[4] : 0}">

                        <div class="d-grid gap-2 col-3 mt-1" style="padding-left:0px">
                            <button type="submit" class="btn btn-primary btn-sm">Buscar</button>
                        </div>
                    </form>
                </div>
                <div class="contend">
                    <h2>Opciones</h2>
                    <div class="row g-2">
                        <div class="col-6">
                            <button th:disabled="${(ultLog != null and ultLog[2] == true)}" class="btn btn-primary btn-sm w-100" th:onclick="|generarConciliacion()|" type="button">Generar Concil.</button>
                        </div>
                        <div class="col-6">
                            <button th:disabled="${allLog.size()==0}" class="btn btn-primary btn-sm w-100" th:onclick="|exportarConsolidado()|" type="button">Exportar Concil.</button>
                        </div>
                        <div class="col-6">
                            <button th:if="${(ultLog != null and ultLog[3] == false) or ultLog == null}" th:disabled="${allLog.size()==0 or (ultLog != null and (ultLog[2] == false or ultLog[3] == true))}" class="btn btn-primary btn-sm w-100" data-toggle="modal" data-target="#confirmarModal2" type="button">Confirmar Concil.</button>
                            <button th:if="${(ultLog != null and ultLog[3] == true)}" class="btn btn-success btn-sm w-100" disabled type="button">Concil. Confirmada</button>
                        </div>
                        <div class="col-6">
                            <button th:if="${(ultLog != null and ultLog[2] == false) or ultLog == null}" th:disabled="${allLog.size()==0 or (ultLog != null and ultLog[5] == 'Fallido')}" data-toggle="modal" data-target="#confirmarModal" class="btn btn-primary btn-sm w-100" type="button">Confirmar Ajuste</button>
                            <button th:if="${(ultLog != null and ultLog[2] == true)}" class="btn btn-success btn-sm w-100" disabled type="button">Ajuste Confirmado</button>
                        </div>
                        <div class="col-6">
                            <button th:disabled="${allLog.size()==0 or ultLog == null or (ultLog != null and (ultLog[2] == false or ultLog[3] == true))}" data-toggle="modal" data-target="#rconfirmarModal" class="btn btn-primary btn-sm w-100" type="button">Reabrir Ajuste</button>
                        </div>
                        <div class="col-6">
                            <a type="button" class="btn btn-primary btn-sm w-100" th:if="${allLog.size()!=0}" th:href="@{'/parametric/cuadroMandoCons?period=' + ${period}}">Ir a Cuadro</a>
                            <button type="button" class="btn btn-primary btn-sm w-100" th:if="${allLog.size()==0}" disabled >Ir a Cuadro</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="col-md-12 contend mb-3">
                    <h2>Log Generación de Conciliación</h2>
                    <div class="table-responsive rounded border-primary" th:if="${allLog.size()>0}" style="max-height: 200px; overflow-y: auto;">
                        <table id="example" class="table table-striped table-hover text-center table-bordered table-sm" width="100%">
                            <thead class="bg-primary">
                            <tr>
                                <th>Código</th>
                                <th>Fecha Inventario</th>
                                <th>Fecha Proceso</th>
                                <th>Usuario</th>
                                <th>Estado Proceso</th>
                                <th>Novedad Presentada</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="rc, iter : ${allLog}">
                                <td th:text="${registers - ((current-1)*5) - iter.index}"></td>
                                <td th:text="${#dates.format(rc.fechaInventario,'yyyy-MM-dd')}"></td>
                                <td th:text="${#dates.format(rc.fechaPreciso,'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td th:text="${rc.usuario}"></td>
                                <td th:if="${rc.estadoProceso == 'Exitoso'}"><i class="fa fa-check-circle fa-2x text-success"></i></td>
                                <td th:if="${rc.estadoProceso == 'Fallido'}"><i class="fa fa-times-circle fa-2x text-danger"></i></td>
                                <td th:if="${rc.novedad != ''}">
                                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#novedadModal" th:attr="data-novedad=${rc.novedad}">Ver</button>
                                </td>
                                <td th:if="${rc.novedad == ''}">
                                    <button type="button" class="btn btn-primary btn-sm" disabled>Ver</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="alert alert-primary" th:if="${allLog.size()==0}">
                        No se encontro información asociada.
                    </div>
                    <div class="row mt-2" th:if="${last != 0}">
                        <div class="col-md-4 text-left">
                            <nav arial-label="Pagination">
                                <ul class="pagination pagination-sm">
                                    <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
                                        <a class="page-link"
                                           th:href="@{/parametric/{dir}/?page={page}&period={period}&arhcont={arhcont}&period2={period2}(arhcont=${arhcont.id},page=${prev},dir=${directory},period=${period},period2=${period2})}">Anterior</a>
                                    </li>
                                    <li class="page-item" th:classappend="${current == last ? 'disabled' : ''}">
                                        <a class="page-link"
                                           th:href="@{/parametric/{dir}/?page={page}&period={period}&arhcont={arhcont}&period2={period2}(arhcont=${arhcont.id},page=${next},dir=${directory},period=${period},period2=${period2})}">Siguiente</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-md-4 text-center">
                            <h6 th:utext="${registers} + ' Registros Encontrados'"></h6>
                        </div>
                        <div class="col-md-4 text-right">
                            <h6 class="mx-1" th:utext="'Página ' + ${current} + ' de ' + ${last}"></h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 contend">
                    <h2>Registros Cargados</h2>
                    <div class="table-responsive rounded border-primary" th:if="${allRCs.size()>0}" style="max-height: 320px; overflow-y: auto;">
                        <table id="example2" class="table table-striped table-hover text-center table-bordered table-sm" width="100%">
                            <thead class="bg-primary">
                            <tr>
                                <td th:each="rc : ${allColRCs}" th:text="${rc}"></td>
                                <td th:if="${(ultLog != null and ultLog[2] == true)}">Ajustes</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="row : ${allRCs}">
                                <td th:each="col, colStat : ${row}" th:text="${col}"></td>
                                <td th:if="${(ultLog != null and ultLog[2] == true) and T(java.lang.Double).parseDouble(row[6].replace('.', '').replace(',', '.')) != 0}">
                                    <button type="button"
                                            class="btn btn-primary btn-sm"
                                            data-bs-toggle="modal"
                                            data-bs-target="#detalleModal"
                                            th:attr="
                                                data-campo1=${row[0]},
                                                data-campo2=${row[1]},
                                                data-campo3=${row[2]},
                                                data-campo4=${row[3]},
                                                data-campo5=${row[4]},
                                                data-campo6=${row[5]},
                                                data-campo7=${row[6]}">Seleccionar
                                    </button>
                                </td>
                                <td th:if="${(ultLog != null and ultLog[2] == true) and T(java.lang.Double).parseDouble(row[6].replace('.', '').replace(',', '.')) == 0}"><i class="fa fa-check-circle fa-2x text-success"></i></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="alert alert-primary" th:if="${allRCs.size()==0}">
                        No se encontro información asociada.
                    </div>
                    <div class="row mt-2" th:if="${lastData != 0}">
                        <div class="col-md-4 text-left">
                            <nav arial-label="Pagination">
                                <ul class="pagination pagination-sm">
                                    <li class="page-item" th:classappend="${prevData == 0 ? 'disabled' : ''}">
                                        <a class="page-link"
                                           th:href="@{/parametric/{dir}/?pageData={pageData}&arhcont={arhcont}&period={period}&period2={period2}(period=${period},pageData=${prevData},dir=${directory},arhcont=${arhcont.id},period2=${period2})}">Anterior</a>
                                    </li>
                                    <li class="page-item" th:classappend="${currentData == lastData ? 'disabled' : ''}">
                                        <a class="page-link"
                                           th:href="@{/parametric/{dir}/?pageData={pageData}&arhcont={arhcont}&period={period}&period2={period2}(period=${period},pageData=${nextData},dir=${directory},arhcont=${arhcont.id},period2=${period2})}">Siguiente</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-md-4 text-center">
                            <h6 th:utext="${registersData} + ' Registros Encontrados'"></h6>
                        </div>
                        <div class="col-md-4 text-right">
                            <h6 class="mx-1" th:utext="'Página ' + ${currentData} + ' de ' + ${lastData}"></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirmarModal" tabindex="-1" role="dialog" aria-labelledby="confirmarModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Confirmar Proceso</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro de confirmar el proceso?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-sm" th:onclick="confirmarCruce()" data-dismiss="modal">
                            Confirmar
                        </button>
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="rconfirmarModal" tabindex="-1" role="dialog" aria-labelledby="rconfirmarModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="rexampleModalLabel">Confirmar Proceso</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro de reabrir el proceso?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-sm" th:onclick="rconfirmarCruce()" data-dismiss="modal">
                            Confirmar
                        </button>
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirmarModal2" tabindex="-1" role="dialog" aria-labelledby="confirmarModal2" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel2">Confirmar Proceso</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro de confirmar el proceso?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-sm" th:onclick="confirmarCruce2()" data-dismiss="modal">
                            Confirmar
                        </button>
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade custom-modal-width" id="novedadModal" tabindex="-1" aria-labelledby="novedadModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="novedadModalLabel">Detalle de Novedad</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="novedadText"></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal de detalle -->
    <div class="modal fade" id="detalleModal" tabindex="-1" aria-labelledby="detalleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl"> <!-- modal-xl para tamaño grande -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detalleModalLabel">Detalle del Registro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <!-- Campos principales -->
                    <div class="row mb-2">
                        <div class="col-md-3">
                            <label class="form-label fw-bold">Fecha</label>
                            <input type="text" id="det-campo1" class="form-control form-control-sm" readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label fw-bold">Centro</label>
                            <input type="text" id="det-campo2" class="form-control form-control-sm" readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label fw-bold">Cuenta</label>
                            <input type="text" id="det-campo3" class="form-control form-control-sm" readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label fw-bold">Divisa</label>
                            <input type="text" id="det-campo4" class="form-control form-control-sm" readonly>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label fw-bold">Saldo Contable</label>
                            <input type="text" id="det-campo5" class="form-control form-control-sm" readonly>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label fw-bold">Saldo Inventario</label>
                            <input type="text" id="det-campo6" class="form-control form-control-sm" readonly>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label fw-bold">Diferencia</label>
                            <input type="text" id="det-campo7" class="form-control form-control-sm" readonly>
                        </div>
                    </div>

                    <!-- Tabla de detalle -->
                    <div class="table-responsive mb-3">
                        <table class="table table-sm table-bordered">
                            <thead class="table-light">
                            <tr>
                                <th>Inventario</th>
                                <th>Operación</th>
                                <th>Valor Operación</th>
                            </tr>
                            </thead>
                            <tbody id="detalleTablaBody">
                            <!-- se inyectará desde JavaScript -->
                            </tbody>
                        </table>
                    </div>

                    <!-- Justificación -->
                    <div class="mb-2">
                        <label for="justificacion" class="form-label fw-bold">Justificación</label>
                        <textarea id="justificacion" class="form-control" rows="4" placeholder="Escribe tu justificación aquí..."></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary btn-sm" id="btnGuardarRegistro">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<script>
  const detalleModal = document.getElementById('detalleModal');
  detalleModal.addEventListener('show.bs.modal', function (event) {
  const button = event.relatedTarget;

    // Extraer datos de data-attributes
    const fecha   = button.getAttribute('data-campo1');
    const centro   = button.getAttribute('data-campo2');
    const cuenta   = button.getAttribute('data-campo3');
    const divisa   = button.getAttribute('data-campo4');
    const campo5   = button.getAttribute('data-campo5');
    const campo6   = button.getAttribute('data-campo6');
    const campo7   = button.getAttribute('data-campo7');

    console.log(campo1);

    // Rellenar inputs principales
    document.getElementById('det-campo1').value = fecha;
    document.getElementById('det-campo2').value = centro;
    document.getElementById('det-campo3').value = cuenta;
    document.getElementById('det-campo4').value = divisa;
    document.getElementById('det-campo5').value = campo5;
    document.getElementById('det-campo6').value = campo6;
    document.getElementById('det-campo7').value = campo7;

    const idConcil1 = document.getElementById('arhcont').value;

    // Llamada AJAX opcional para obtener datos de detalle
    /*fetch(/parametric/detalleRegistro/${fecha}/${centro}/${cuenta}/${divisa}/${idConcil1})
      .then(resp => resp.json())
      .then(data => {
        const tbody = document.getElementById('detalleTablaBody');
        tbody.innerHTML = '';
        data.forEach(det => {
          const tr = document.createElement('tr');
          tr.innerHTML = `
            <td>${det[0]}</td>
            <td>${det[1]}</td>
            <td>${det[2]}</td>
          `;
          tbody.appendChild(tr);
        });
      })
      .catch(err => console.error(err));*/
  });

  document.getElementById('btnGuardarRegistro').addEventListener('click', () => {
    const id    = document.getElementById('det-id').value;
    const just  = document.getElementById('justificacion').value;

    fetch('/parametric/registrarJustificacion', {
      method: 'POST',
      headers: {'Content-Type':'application/json'},
      body: JSON.stringify({ id, just })
    })
    .then(r => r.ok ? location.reload() : Promise.reject('Error'))
    .catch(e => alert('No se pudo guardar: ' + e));
  });

    // Obtener los elementos de fecha
   const periodInput = document.getElementById('period');
   const accountingInput = document.getElementById('period2');

   // Escuchar el evento de cambio en el primer campo
   periodInput.addEventListener('change', function () {
       // Asignar el valor del primer campo al segundo campo
       accountingInput.value = this.value;
   });

   periodInput.addEventListener('change', function () {
        // Asignar el valor del primer campo al campo oculto de period2
        document.getElementById('period2Hidden').value = this.value;
    });

    async function toggleFechaConciliacion() {
        const concilID = document.getElementById('arhcont').value;
        const fechaInformacion = document.getElementById('period').value;
        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        if (concilID && fechaInformacion) {
            const response = await fetch(`/parametric/obtenerFechaCont/${concilID}/${fechaInformacion}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                }
            });

            const data = await response.json();

            const campo = data[0]; // Accede directamente al primer (y único) elemento
            if (campo === undefined) {
                // Si no se encuentra el campo, muestra el alert
                Swal.fire({
                    icon: 'warning',
                    title: 'Atención',
                    text: 'Falta completar el maestro de inventarios',
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: 'Entendido'
                });
                return; // Sale de la función si no se encuentra el campo
            }

            const fechaCont = campo[0].split('T')[0]; // Extrae solo la fecha (año-mes-día)
            document.getElementById('period2').value = fechaCont;
            document.getElementById('period2Hidden').value = fechaCont;
        }
    }

   //GENERAR CONCILIACION
   //---------------------------------------------------------------------
   function generarConciliacion() {
       var conciliacion = document.getElementById("arhcont");
       var fechaInformacion = document.getElementById("period");
       var fechaContabilidad = document.getElementById("period2");

       var isValid = true;
       if (conciliacion !=null && !conciliacion.value) {
           conciliacion.classList.add("is-invalid");
           isValid = false;
       } else {
           conciliacion.classList.remove("is-invalid");
       }
       if (fechaInformacion !=null && !fechaInformacion.value) {
           fechaInformacion.classList.add("is-invalid");
           isValid = false;
       } else {
           fechaInformacion.classList.remove("is-invalid");
       }
       if (fechaContabilidad !=null && !fechaContabilidad.value) {
           fechaContabilidad.classList.add("is-invalid");
           isValid = false;
       } else {
          fechaContabilidad.classList.remove("is-invalid");
       }
       if (isValid) {
           dialogOpen();
           generacionConciliacion(conciliacion.value, fechaInformacion.value, fechaContabilidad.value);
       }
   }

   function generacionConciliacion(conciliacion, fechaInformacion, fechaContabilidad) {
       const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
       const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        var formData = new FormData();
        formData.append("id", conciliacion);
        formData.append("fecha", fechaInformacion);
        formData.append("fechaContabilidad", fechaContabilidad);

       fetch('/parametric/conciliation/generateConciliation', {
            method: 'POST',
            body: formData,
            headers: {
                [csrfHeader]: csrfToken
            }
       })
        .then(response => response.text())
        .then(data => {
            Swal.close();
            validateAlerts(data,'')
       })
        .catch(error => {
            console.error("Error:", error);
       });
   }

   //EXPORTAR CONSOLIDADO
   //---------------------------------------------------------------------
   function exportarConsolidado() {
       var conciliacion = document.getElementById("arhcont");
       var fechaInformacion = document.getElementById("period");
       var fechaContabilidad = document.getElementById("period2");

       var isValid = true;
       if (conciliacion !=null && !conciliacion.value) {
           conciliacion.classList.add("is-invalid");
           isValid = false;
       } else {
           conciliacion.classList.remove("is-invalid");
       }
       if (fechaInformacion !=null && !fechaInformacion.value) {
           fechaInformacion.classList.add("is-invalid");
           isValid = false;
       } else {
           fechaInformacion.classList.remove("is-invalid");
       }
       if (fechaContabilidad !=null && !fechaContabilidad.value) {
           fechaContabilidad.classList.add("is-invalid");
           isValid = false;
       } else {
          fechaContabilidad.classList.remove("is-invalid");
       }
       if (isValid) {
           dialogOpen();
           exportacionConsolidado(conciliacion.value, fechaInformacion.value, fechaContabilidad.value);
       }
   }
   function exportacionConsolidado(archivoContable, fechaInformacion,fechaContabilidad) {
       const encodedId = encodeURIComponent(archivoContable);
       const encodedFecha = encodeURIComponent(fechaInformacion);
       const encodedFecha2 = encodeURIComponent(fechaContabilidad);
       const url = `/parametric/conciliation/download?id=${encodedId}&fecha=${encodedFecha}&fecha2=${encodedFecha2}`;
       fetch(url)
           .then(response => {
               if (!response.ok) {
                   throw new Error(`HTTP error! Status: ${response.status}`);
               }
               return response.blob(); // Cambia a blob para manejar la descarga del archivo
           })
           .then(blob => {
               const url = window.URL.createObjectURL(blob);
               const a = document.createElement('a');
               a.style.display = 'none';
               a.href = url;
               a.download = document.getElementById("nomb").value+'_'+encodedFecha+'.xlsx';
               document.body.appendChild(a);
               a.click();
               window.URL.revokeObjectURL(url);
               Swal.close();
           })
           .catch(error => {
               console.error("Error:", error);
               alert("Error al descargar el archivo: " + error.message);
           });
   }

   document.addEventListener('DOMContentLoaded', function () {
        const modal = document.getElementById('novedadModal');
        const novedadText = document.getElementById('novedadText');

        modal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget; // Botón que activó el modal
            const novedad = button.getAttribute('data-novedad'); // Extraer el valor de data-novedad
            novedadText.textContent = novedad; // Asignar el valor al contenido del modal
        });
    });

    //CONFIRMACIÓN
    //---------------------------------------------------------------------
    function confirmarCruce(){
        const valueCuen = document.getElementById('ultLog').value;
        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        var url = '/parametric/confirmarGenConciliacion/' + valueCuen;

        // Realizar la solicitud POST con el token CSRF
        $.post(url, {_csrf: csrfToken})
            .done(function(response) {
                if (response === false) {
                    $('#errorModal').modal('show');
                }
                else location.reload();
            })
            .fail(function(xhr, status, error) {
                console.error("Ocurrió un error al enviar la solicitud POST: " + error);
            });
    }

    function rconfirmarCruce(){
        const valueCuen = document.getElementById('ultLog').value;
        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        var url = '/parametric/rconfirmarGenConciliacion/' + valueCuen;

        // Realizar la solicitud POST con el token CSRF
        $.post(url, {_csrf: csrfToken})
            .done(function(response) {
                if (response === false) {
                    $('#errorModal').modal('show');
                }
                else location.reload();
            })
            .fail(function(xhr, status, error) {
                console.error("Ocurrió un error al enviar la solicitud POST: " + error);
            });
    }

    function confirmarCruce2(){
        const valueCuen = document.getElementById('ultLog').value;
        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        var url = '/parametric/confirmarGenConciliacion2/' + valueCuen;

        // Realizar la solicitud POST con el token CSRF
        $.post(url, {_csrf: csrfToken})
            .done(function(response) {
                if (response === false) {
                    $('#errorModal').modal('show');
                }
                else location.reload();
            })
            .fail(function(xhr, status, error) {
                console.error("Ocurrió un error al enviar la solicitud POST: " + error);
            });
    }

    window.onload=function(){
        toggleFechaConciliacion();
    }
</script>
</body>
</html>