<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>

<div class="main-container">
    <style>
        .contend{
            border-style: solid;
            padding: 20px;
            border-radius: 15px;
        }
    </style>
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 p-0 bg-primary d-flex justify-content-start align-items-center">
            <h3 class="fw-bold text-white mx-4 my-3">Módulo de Cruce de Información</h3>
        </div>
    </div>
    <div class="row m-0 mt-5">
        <div class="mb-1 mt-3 row">
            <div class="col-3 ml-3">
                <div class="contend mb-3">
                    <h2>Fecha de Información</h2>
                    <form th:object="${concil}" th:action="@{/parametric/informationCrossing}" method="GET">
                        <div class="form-group mb-1">
                            <h6 class="font-weight-bold">Conciliación</h6>
                            <select style="width: 100%; box-sizing: border-box;" class="form-control" required id="arhcont" name="arhcont">
                                <option disabled value="" selected hidden>Seleccione un archivo</option>
                                <option th:each="item : ${listConcil}" th:value="${item.id}" th:text="${item.nombre}"
                                        th:selected="${arhcont != null and arhcont.id == item.id }"></option>
                            </select>
                            <div class="invalid-feedback">Por favor, seleccione un archivo.</div>
                        </div>
                        <div class="form-group mb-1">
                            <h6 class="font-weight-bold">Fecha Conciliación</h6>
                            <div class="input-group">
                                <div class="input-group">
                                    <input type="date" id="period" th:name="period" th:value="${period}" class="form-control" style="width: 100%; box-sizing: border-box;" required>
                                    <div class="invalid-feedback">Por favor, seleccione una fecha.</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <h6 class="font-weight-bold">Tipo Evento</h6>
                            <select style="width: 100%; box-sizing: border-box;" class="form-control" required id="evento" name="evento">
                                <option disabled value="" selected hidden>Seleccione un archivo</option>
                                <option th:each="item : ${listTypeEvent}" th:value="${item.id}" th:text="${item.nombre}"
                                        th:selected="${evento != null and evento.id == item.id }"></option>
                            </select>
                            <div class="invalid-feedback">Por favor, seleccione un archivo.</div>
                        </div>

                        <div class="d-grid gap-2 col-3 mt-1" style="padding-left:0px">
                            <button type="submit" class="btn btn-primary">Buscar</button>
                        </div>
                    </form>
                </div>

                <div class="contend">
                    <h2>Opciones</h2>
                    <div>
                        <div class="d-grid gap-2 col-3 mt-1" style="padding-left:0px">
                            <button th:disabled="${!p_modificar}" class="btn btn-primary"
                                    th:onclick="|generarCuentas()|" type="button">Generar Cuentas</button>
                        </div>
                        <div class="d-grid gap-2 col-3 mt-1" style="padding-left:0px">
                            <button th:disabled="${!p_modificar}" class="btn btn-primary"
                                    th:onclick="|validarYSubir()|" type="button">Exportar Consolidado</button>
                        </div>
                        <div class="d-grid gap-2 col-3 mt-1" style="padding-left:0px">
                            <button th:disabled="${!p_modificar}" class="btn btn-primary"
                                    th:onclick="|validarYSubir()|" type="button">Exportar Detallado</button>
                        </div>
                        <div class="d-grid gap-2 col-3 mt-1" style="padding-left:0px">
                            <button th:disabled="${!p_modificar}" class="btn btn-primary"
                                    th:onclick="|validarYSubir()|" type="button">Exportar Novedades</button>
                        </div>
                        <div class="d-grid gap-2 col-3 mt-1" style="padding-left:0px">
                            <button th:disabled="${!p_modificar}" class="btn btn-primary"
                                    th:onclick="|validarYSubir()|" type="button">Confirmar Conciliación</button>
                        </div>
                        <div class="d-grid gap-2 col-3 mt-1" style="padding-left:0px">
                            <button th:disabled="${!p_modificar}" class="btn btn-primary"
                                    th:onclick="|validarYSubir()|" type="button">Reanudar Proceso</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-8">
                <div class="col-md-12 contend mb-3">
                    <h2>Log Cruce de Información</h2>
                    <div class="table-responsive rounded border-primary" th:if="${allLog.size()>0}" style="max-height: 200px; overflow-y: auto;">
                        <table id="example" class="table table-striped table-hover text-center table-bordered table-sm" width="100%">
                            <thead class="bg-primary">
                            <tr>
                                <th>Código</th>
                                <th>Fecha Proceso</th>
                                <th>Novedad Presentada</th>
                                <th>Fecha Proceso</th>
                                <th>Usuario</th>
                                <th>Tipo Proceso</th>
                                <th>Estado Proceso</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="rc : ${allLog}">
                                <td th:text="${rc.id}"></td>
                                <td th:text="${#dates.format(rc.fechaProceso,'yyyy-MM-dd')}"></td>
                                <td th:text="${rc.novedad}"></td>
                                <td th:text="${#dates.format(rc.fechaPreciso,'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td th:text="${rc.usuario}"></td>
                                <td th:text="${rc.tipoProceso}"></td>
                                <td th:if="${rc.estadoProceso == 'Exitoso'}"><i class="fa fa-check-circle fa-2x text-success"></i></td>
                                <td th:if="${rc.estadoProceso == 'Fallido'}"><i class="fa fa-times-circle fa-2x text-danger"></i></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="alert alert-primary" th:if="${allLog.size()==0}">
                        No se encontro información asociada.
                    </div>
                    <div class="row mt-2" th:if="${last != 0}">
                        <div class="col-md-4 text-left">
                            <nav arial-label="Pagination">
                                <ul class="pagination">
                                    <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
                                        <a class="page-link"
                                           th:href="@{/parametric/{dir}/?page={page}&period={period}&arhcont={arhcont}(arhcont=${arhcont.id},page=${prev},dir=${directory},period=${period})}">Anterior</a>
                                    </li>
                                    <li class="page-item" th:classappend="${current == last ? 'disabled' : ''}">
                                        <a class="page-link"
                                           th:href="@{/parametric/{dir}/?page={page}&period={period}&arhcont={arhcont}(arhcont=${arhcont.id},page=${next},dir=${directory},period=${period})}">Siguiente</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-md-4 text-center">
                            <h6 th:utext="${registers} + ' Registros Encontrados'"></h6>
                        </div>
                        <div class="col-md-4 text-right">
                            <h6 class="mx-1" th:utext="'Página ' + ${current} + ' de ' + ${last}"></h6>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 contend">
                    <h2>Registros Cargados</h2>
                    <div class="table-responsive rounded border-primary" th:if="${allRCs.size()>0}" style="max-height: 320px; overflow-y: auto;">
                        <table id="example2" class="table table-striped table-hover text-center table-bordered table-sm" width="100%">
                            <thead class="bg-primary">
                            <tr>
                                <td th:each="rc : ${allColRCs}" th:text="${rc}"></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="row : ${allRCs}">
                                <td th:each="col, colStat : ${row}"
                                    th:text="${col instanceof T(java.lang.Number) ? #numbers.formatDecimal(col, 2, '###,###.00') : col}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="alert alert-primary" th:if="${allRCs.size()==0}">
                        No se encontro información asociada.
                    </div>
                    <div class="row mt-2" th:if="${lastData != 0}">
                        <div class="col-md-4 text-left">
                            <nav arial-label="Pagination">
                                <ul class="pagination">
                                    <li class="page-item" th:classappend="${prevData == 0 ? 'disabled' : ''}">
                                        <a class="page-link"
                                           th:href="@{/parametric/{dir}/?pageData={pageData}&arhcont={arhcont}&period={period}&evento={evento}(period=${period},pageData=${prevData},dir=${directory},arhcont=${arhcont.id},evento=${evento.id})}">Anterior</a>
                                    </li>
                                    <li class="page-item" th:classappend="${currentData == lastData ? 'disabled' : ''}">
                                        <a class="page-link"
                                           th:href="@{/parametric/{dir}/?pageData={pageData}&arhcont={arhcont}&period={period}&evento={evento}(period=${period},pageData=${nextData},dir=${directory},arhcont=${arhcont.id},evento=${evento.id})}">Siguiente</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-md-4 text-center">
                            <h6 th:utext="${registersData} + ' Registros Encontrados'"></h6>
                        </div>
                        <div class="col-md-4 text-right">
                            <h6 class="mx-1" th:utext="'Página ' + ${currentData} + ' de ' + ${lastData}"></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>

    //GENERAR CUENTAS
    //---------------------------------------------------------------------
    function generarCuentas() {
        var conciliacion = document.getElementById("arhcont");
        var fechaInformacion = document.getElementById("period");
        var evento = document.getElementById("evento");
        var isValid = true;
        if (conciliacion !=null && !conciliacion.value) {
            concilacion.classList.add("is-invalid");
            isValid = false;
        } else {
            conciliacion.classList.remove("is-invalid");
        }
        if (fechaInformacion !=null && !fechaInformacion.value) {
            fechaInformacion.classList.add("is-invalid");
            isValid = false;
        } else {
            fechaInformacion.classList.remove("is-invalid");
        }
        if (evento !=null && !evento.value) {
            evento.classList.add("is-invalid");
            isValid = false;
        } else {
           evento.classList.remove("is-invalid");
        }
        console.log(conciliacion.value, fechaInformacion.value, evento.value);
        if (isValid) {
            dialogOpen();
            generacionCuenta(conciliacion.value, fechaInformacion.value, evento.value);
        }
    }

    function generacionCuenta(conciliacion, fechaInformacion, evento) {
        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
        var formData = new FormData();
        formData.append("id", conciliacion);
        formData.append("fecha", fechaInformacion);
        formData.append("evento", evento);

        fetch('/parametric/informationCrossing/generateAccount', {
            method: 'POST',
            body: formData,
            headers: {
                [csrfHeader]: csrfToken
            }
        })
        .then(response => response.text())
        .then(data => {
            Swal.close();
            validateAlerts(data,'')
        })
        .catch(error => {
            console.error("Error:", error);
        });
    }
    //EXPORTAR CONSOLIDADO
    //---------------------------------------------------------------------
    function exportarConsolidado() {
        var concilacion = document.getElementById("arhcont");
        var fechaInformacion = document.getElementById("period");
        var evento = document.getElementById("evento");
        var isValid = true;
        if (concilacion !=null && !concilacion.value) {
            concilacion.classList.add("is-invalid");
            isValid = false;
        } else {
            concilacion.classList.remove("is-invalid");
        }

        if (fechaInformacion !=null && !fechaInformacion.value) {
            fechaInformacion.classList.add("is-invalid");
            isValid = false;
        } else {
            fechaInformacion.classList.remove("is-invalid");
        }

        if (evento !=null && !evento.value) {
            evento.classList.add("is-invalid");
            isValid = false;
        } else {
           evento.classList.remove("is-invalid");
        }
        if (isValid) {
            dialogOpen();
            exportacionConsolidado(conciliacion.value, fechaInformacion.value, evento.value);
        }
    }

    function exportacionConsolidado(conciliacion, fechaInformacion, evento) {
        fetch(`/parametric/informationCrossing/generateAccount?id=${encodeURIComponent(conciliacion)}&fecha=${encodeURIComponent(fechaInformacion)}&evento=${encodeURIComponent(evento)}`)
        .then(response => response.text())
        .then(data => {
            Swal.close();
            validateAlerts(data,'')
        })
        .catch(error => {
            console.error("Error:", error);
        });
    }

    /*
    document.addEventListener('DOMContentLoaded', function () {
        const modal = document.getElementById('novedadModal');
        const novedadText = document.getElementById('novedadText');

        modal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget; // Botón que activó el modal
            const novedad = button.getAttribute('data-novedad'); // Extraer el valor de data-novedad
            novedadText.textContent = novedad; // Asignar el valor al contenido del modal
        });
    });
    */


</script>
</body>
</html>