<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>

<div class="main-container">
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h2 class="fw-bold text-white mx-4 my-3">Creación de Matriz de Eventos</h2>
        </div>
    </div>
    <div id="content">
        <form th:object="${eventMatrix}" th:action="@{/parametric/modifyEventMatrix}" method="POST">
            <div class="row mt-3 pt-4 px-4">
                <div class="text-left col-md-6">
                    <h2 class="font-weight-bold">Información de Registro</h2>
                </div>
                <div class="text-right col-md-6">
                    <a class="btn btn-sm btn-danger" th:href="@{/parametric/eventMatrix}"><i class="fa-solid fa-left-long"></i> Regresar</a>
                    <button type="submit" class="btn btn-sm btn-primary ml-1">Modificar Matriz</button>
                </div>
            </div>
            <div class="row px-4">
                <div class="row p-2 mt-1 mb-2 border rounded">
                    <div hidden class="col-md-2">
                        <div class="form-group  form-group-sm">
                            <h6 class="font-weight-bold">ID</h6>
                            <input type="text" class="form-control form-control-sm" th:field="*{id}">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group  form-group-sm">
                            <h6 class="font-weight-bold">Activo</h6>
                            <input id="activoInput" name="activo" th:field="*{estado}" th:id="${activo}"
                                   th:value="${estado}" type="checkbox" class="styled-checkbox">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group  form-group-sm">
                            <h6 class="font-weight-bold">Aplica Conversion PYG:</h6>
                            <input id="PYG" name="PYG" th:field="*{PYG}" th:id="${PYG}"
                                   th:value="${PYG}" type="checkbox" class="styled-checkbox">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group  form-group-sm">
                            <h6 class="font-weight-bold">Maneja Centro Contable:</h6>
                            <input id="manejaCC" name="manejaCC" th:field="*{manejaCC}"
                                   th:value="${manejaCC}" type="checkbox" class="styled-checkbox" onchange="toggleFields()">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group  form-group-sm">
                            <h6 class="font-weight-bold">Aplica Homologacion de Centro:</h6>
                            <input id="homCntros" name="homCntros" th:field="*{homCntros}" th:id="${homCntros}"
                                   th:value="${homCntros}" type="checkbox" class="styled-checkbox">
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="form-group  form-group-sm">
                            <h6 class="font-weight-bold">Conciliación:<i class="bi bi-caret-down"></i></h6>
                            <select class="form-control form-control-sm" required name="selectedConcil" id="selectedConcil" onchange="toggleConciliacion()">
                                <option disabled value="" selected hidden>Seleccione una Conciliación</option>
                                <option th:each="concil : ${conciliaciones}" th:value="${concil.id}" th:text="${concil.nombre}"
                                    th:selected="${eventMatrix.conciliacion != null and concil.id == eventMatrix.conciliacion.id}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group  form-group-sm">
                            <h6 class="font-weight-bold">Inventario Conciliación:<i class="bi bi-caret-down"></i></h6>
                            <select class="form-control form-control-sm" required name="selectedRutaConcil" id="selectedRutaConcil" onchange="toggleRuta()">
                                <option disabled value="" selected hidden>Seleccione un archivo</option>
                                <option th:each="ruta : ${rutascs}" th:value="${ruta[0]}" th:text="${ruta[1]}"
                                    th:selected="${eventMatrix.inventarioConciliacion != null and ruta[0] == eventMatrix.inventarioConciliacion.id}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group  form-group-sm">
                            <h6 class="font-weight-bold">Tipo Evento:<i class="bi bi-caret-down"></i></h6>
                            <select class="form-control form-control-sm" required name="selectedTipoEvento" id="selectedTipoEvento">
                                <option disabled value="" selected hidden>Seleccione una tipo de Evento</option>
                                <option th:each="tipoEvento : ${tipoEventos}" th:value="${tipoEvento.id}" th:text="${tipoEvento.nombre}"
                                    th:selected="${eventMatrix.tipoEvento != null and tipoEvento.id == eventMatrix.tipoEvento.id}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group  form-group-sm">
                            <h6 class="font-weight-bold">Campo Operación:<i class="bi bi-caret-down"></i></h6>
                            <select class="form-control form-control-sm" required name="campoOperacion" id="campoOperacion">
                                <option value="" selected >Seleccione Campo</option>
                                <option th:each="campo : ${campos}" th:value="${campo[0]}" th:text="${campo[1]}"
                                    th:selected="${eventMatrix.campoOperacion != null and campo[0] == eventMatrix.campoOperacion.id}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Campo Centro Contable:<i class="bi bi-caret-down"></i></h6>
                            <select class="form-control form-control-sm" name="campocontable" id="campocontable">
                                <option value="" selected >Seleccione Campo</option>
                                <option th:each="campo : ${campos}" th:value="${campo[0]}" th:text="${campo[1]}"
                                        th:selected="${eventMatrix.campoCC != null and campo[0] == eventMatrix.campoCC.id}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <h6 class="font-weight-bold">Centro Contable:</h6>
                            <input type="text" class="form-control form-control-sm" name="ccontable" id="ccontable" th:field="*{centroContable}">
                        </div>
                    </div>

                    <input type="hidden" id="csrfToken" th:value="${_csrf.token}" />
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script>

    // Inicializar el estado de los campos cuando la página se carga
    window.onload = function() {
        toggleFields();
    };


    function updateFilePath() {
        var fileInput = document.getElementById('file');
        var filePath = document.getElementById('filePath');
        var fakePath = fileInput.value;  // "ruta virtual"
        filePath.value = fakePath;
    }

    function limpiarCampos(){
        const campoCentroContable = document.getElementById('campocontable');
        const campoOperacion = document.getElementById('campoOperacion');

        campoCentroContable.innerHTML = '';
        campoOperacion.innerHTML = '';

        campoCentroContable.innerHTML = '<option disabled value="" selected hidden>Seleccione Campo</option>';
        campoOperacion.innerHTML = '<option disabled value="" selected hidden>Seleccione Campo</option>';
    }

    async function toggleConciliacion() {
        const concilID = document.getElementById('selectedConcil').value;
        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        if (concilID) {
            const response = await fetch(`/parametric/obtenerRutasConcilByConcil/${concilID}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                }
            });

            const data = await response.json();

            const ruta = document.getElementById('selectedRutaConcil');
            ruta.innerHTML = '<option disabled value="" selected hidden>Seleccione un archivo</option>';

            data.forEach(campo => {
                const optionRC = document.createElement('option');
                optionRC.value = campo[0];
                optionRC.text = campo[1];
                ruta.appendChild(optionRC);
            });

            limpiarCampos();
        }
    }

    async function toggleRuta() {
        const rutaID = document.getElementById('selectedRutaConcil').value;
        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        if (rutaID) {
            const response = await fetch(`/parametric/obtenerCamposFichero/${rutaID}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                }
            });

            const data = await response.json();

            const campoOperacion = document.getElementById('campoOperacion');
            const campoCentroContable = document.getElementById('campocontable');

            campoOperacion.innerHTML = '<option disabled value="" selected hidden>Seleccione Campo</option>';
            campoCentroContable.innerHTML = '<option disabled value="" selected hidden>Seleccione Campo</option>';

            data.forEach(campo => {
                const optionOperacion = document.createElement('option');
                optionOperacion.value = campo[0];
                optionOperacion.text = campo[1];
                campoOperacion.appendChild(optionOperacion);

                const optionCC = document.createElement('option');
                optionCC.value = campo[0];
                optionCC.text = campo[1];
                campoCentroContable.appendChild(optionCC);
            });
        }
    }

    function toggleFields() {
        var manejaCCCheckbox = document.getElementById('manejaCC');
        var campoCentroContable = document.getElementById('campocontable');
        var centroContableInput = document.getElementById('ccontable');

        // Si el checkbox está marcado, habilita "Campo Centro Contable" y deshabilita "Centro Contable"
        campoCentroContable.disabled = !manejaCCCheckbox.checked;
        centroContableInput.disabled = manejaCCCheckbox.checked;
    }

</script>
</body>
</html>