<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>

<div class="main-container">
    <style>

        .scrollable-menu {
            height: auto;
            max-height: 300px;
            overflow-x: hidden;
        }

        .table-wrapper {
            max-height: 250px;
            overflow-y: auto;
        }

    </style>
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h2 class="fw-bold text-white mx-4 my-3">Edición de Ruta Contable</h2>
        </div>
    </div>
    <div id="content">
        <form th:object="${aroute}" th:action="@{/parametric/modifyAccountingRoute}" method="POST">
            <div class="row mt-4 px-3 pt-3">
                <div class="text-left col-md-6">
                    <h2 class="font-weight-bold">Información Registro</h2>
                </div>
                <div class="text-right col-md-6">
                    <a class="btn btn-danger btn-sm" th:href="@{/parametric/accountingRoutes}"><i class="fa-solid fa-left-long"></i> Regresar</a>
                    <button type="submit" class="btn btn-primary btn-sm ml-1">Modificar Ruta</button>
                </div>
            </div>
            <div class="row px-3">
                <div class="row border rounded pt-1">
                    <input type="hidden" class="form-control form-control-sm"  th:field="*{id}"  required>
                    <div class="col-md-1">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Activo</h6>
                            <input id="activoInput" name="activo" th:field="*{activo}" th:id="${activo}"
                                   th:value="${activo}" type="checkbox" class="styled-checkbox">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Maneja Siglas de Fechas</h6>
                            <input id="siglasFechasInput" name="siglasFechas" th:field="*{siglasFechas}"
                                   th:value="${siglasFechas}" type="checkbox" class="styled-checkbox" onchange="toggleFields()">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Detalle:</h6>
                            <input type="text" class="form-control form-control-sm"  th:field="*{nombre}"  required>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Ruta: </h6>
                            <input type="text" id="filePath" class="form-control form-control-sm" placeholder="Ruta del archivo" th:field="*{ruta}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Nombre Archivo:</h6>
                            <input type="text" class="form-control form-control-sm"  th:field="*{nombreArchivo}"  required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Complemento Archivo:</h6>
                            <input type="text" class="form-control form-control-sm"  th:field="*{complementoArchivo}" >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Tipo Archivo:<i class="bi bi-caret-down"></i></h6>
                            <select class="form-control form-control-sm" name="selectedTipoArchivo" id="tipoArchivo" th:field="*{tipoArchivo}" required>
                                <option disabled hidden selected value="">Seleccione un filtro</option>
                                <option th:value="CRCC" th:selected="${aroute.tipoArchivo == 'CRCC'}">ARCHIVO CRCC</option>
                                <option th:value="CRCC_CUIF" th:selected="${aroute.tipoArchivo == 'CRCC_CUIF'}">ARCHIVO CRCC_CUIF</option>
                                <option th:value="CRCC_NIIF" th:selected="${aroute.tipoArchivo == 'CRCC_NIIF'}">ARCHIVO CRCC_NIIF</option>
                                <option th:value="DIALOGO" th:selected="${aroute.tipoArchivo == 'DIALOGO'}">ARCHIVO DIALOGO</option>
                                <option th:value="DIALOGO_CUIF" th:selected="${aroute.tipoArchivo == 'DIALOGO_CUIF'}">ARCHIVO DIALOGO_CUIF</option>
                                <option th:value="DIALOGO_NIIF" th:selected="${aroute.tipoArchivo == 'DIALOGO_NIIF'}">ARCHIVO DIALOGO_NIIF</option>
                                <option th:value="XLS" th:selected="${aroute.tipoArchivo == 'XLS'}">ARCHIVO EXCEL XLS</option>
                                <option th:value="XLSX" th:selected="${aroute.tipoArchivo == 'XLSX'}">ARCHIVO EXCEL XLSX</option>
                                <option th:value="CSV" th:selected="${aroute.tipoArchivo == 'CSV'}">ARCHIVO PLANO CSV</option>
                                <option th:value="TXT" th:selected="${aroute.tipoArchivo == 'TXT'}">ARCHIVO PLANO TXT</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Delimitador:</h6>
                            <input type="text" class="form-control form-control-sm"  th:field="*{delimitador}">

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Hora Ejecución:</h6>
                            <input type="time" class="form-control form-control-sm" th:id="selecthoraCargue" th:name="selecthoraCargue" th:value="${selecthoraCargue}" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Filas Omitidas:</h6>
                            <input type="number" class="form-control form-control-sm"  th:field="*{filasOmitidas}"  required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Sistema Fuente:<i class="bi bi-caret-down"></i></h6>
                            <select class="form-control form-control-sm" required th:name="selectedSF" th:id="selectedSF">
                                <option disabled hidden selected value="">Seleccione un filtro</option>
                                <option th:each="sfrc : ${allSFs}" th:text="${sfrc.nombre}" th:value="${sfrc.nombre}"
                                        th:selected="${aroute.sfrc != null and sfrc.id == aroute.sfrc.id}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 hidden" id="formatoFechaContainer">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Formato Fecha:<i class="bi bi-caret-down"></i></h6>
                            <select class="form-control form-control-sm" name="selectedFormatoFecha" id="formatoFecha" required th:field="*{formatoFecha}">
                                <option disabled value="" selected hidden>Seleccione formato</option>
                                <option value="yyyyMMdd">AÑO MES DIA CORTA (YYYYMMDD)</option>
                                <option value="yyMMdd">AÑO MES DIA RED (YYMMDD)</option>
                                <option value="ddMMyyyy">DIA MES AÑO CORTA (DDMMYYYY)</option>
                                <option value="ddMMyy">DIA MES AÑO RED. (DDMMYY)</option>
                                <option value="ddMMMMyyyy">DIA MES AÑO SIMPLE (DDMMMMYYYY)</option>
                                <option value="ddMMMyyyy">DIA MES AÑO SIMPLE (DDMMMYYYY)</option>
                                <option value="MMddyy">MES DIA AÑO (MMDDYY)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 hidden" id="idiomaFechaContainer">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Idioma Fecha:<i class="bi bi-caret-down"></i></h6>
                            <select class="form-control form-control-sm" name="selectedIdiomaFecha" id="idiomaFecha" required th:field="*{idiomaFecha}">
                                <option disabled value="" selected hidden>Seleccione formato</option>
                                <option value="EspañolColombia">Español - Colombia</option>
                                <option value="EspañolEspaña">Español - España</option>
                                <option value="InglésUSA">Inglés - USA</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script>
    function toggleFields() {
        var siglasFechasCheckbox = document.getElementById('siglasFechasInput');
        var formatoFechaContainer = document.getElementById('formatoFechaContainer');
        var idiomaFechaContainer = document.getElementById('idiomaFechaContainer');

        if (siglasFechasCheckbox.checked) {
            formatoFechaContainer.classList.remove('hidden');
            idiomaFechaContainer.classList.remove('hidden');
        } else {
            formatoFechaContainer.classList.add('hidden');
            idiomaFechaContainer.classList.add('hidden');
        }
    }

    // Inicializar el estado de los campos cuando la página se carga
    window.onload = function() {
        toggleFields();
    };
</script>
</body>
</html>