<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>

<div class="main-container">
    <style>

        body, .btn, .form-control {
            font-size: 12px;
        }

        .big-checkbox {width: 1rem; height: 1rem; top:0.5rem}

        .scrollable-menu {
            height: auto;
            max-height: 300px;
            overflow-x: hidden;
        }

        .table-wrapper {
            max-height: 250px;
            overflow-y: auto;
        }

        input[type=checkbox] {
            -ms-transform: scale(1.5); /* IE */
            -moz-transform: scale(1.5); /* FF */
            -webkit-transform: scale(1.5); /* Safari y Chrome */
            margin: 10px;
        }

    </style>
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h3 class="fw-bold text-white mx-4 my-3">Edición de Ruta de Conciliación</h3>
        </div>
    </div>
    <div id="content">
        <div class="row mt-5">
            <form th:object="${croute}" th:action="@{/parametric/modifyConciliationRoute}" method="POST">
                <div class="col-md-12 px-5 mb-3">

                    <div hidden="">
                        <div class="form-group mb-1">
                            <label>ID</label>
                            <input type="text" class="form-control" th:field="*{id}" >
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group mb-1">
                                <label>Conciliación:</label>
                                <select class="form-control" name="selectedConcil" id="selectedConcil" required="" style="width: auto;">
                                    <option disabled value="" selected hidden>Seleccione Conciliación</option>
                                    <option th:each="concil : ${conciliations}" th:value="${concil.nombre}" th:text="${concil.nombre}"
                                            th:selected="${croute.conciliacion != null and concil.id == croute.conciliacion.id}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-1">
                                <label>Detalle:</label>
                                <input type="text" class="form-control"  th:field="*{detalle}"  required>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group mb-1">
                                <label>Activo:</label>
                                <input id="activoInput" name="activo" th:field="*{activo}" th:id="${activo}"
                                       th:value="${activo}" type="checkbox" class="styled-checkbox">
                                <label>[[${activo}]]</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group mb-1">
                                <label>Es fichero?:</label>
                                <input id="ficehroInput" name="fichero" th:field="*{fichero}" th:id="${fichero}"
                                       th:value="${fichero}" type="checkbox" class="styled-checkbox">
                                <label>[[${fichero}]]</label>
                            </div>
                        </div>
                        <input type="hidden" id="csrfToken" th:value="${_csrf.token}" />
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group mb-1">
                                <label>Nombre Archivo:</label>
                                <input type="text" class="form-control"  th:field="*{nombreArchivo}"  required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group mb-1">
                                <label>Tipo Archivo:</label>
                                <select class="form-control" name="selectedTipoArchivo" id="tipoArchivo" required>
                                    <option disabled value="" selected hidden>Seleccione formato</option>
                                    <option th:value="XLS" th:selected="${croute.tipoArchivo == 'XLS'}">ARCHIVO EXCEL XLS</option>
                                    <option th:value="XLSX" th:selected="${croute.tipoArchivo == 'XLSX'}">ARCHIVO EXCEL XLSX</option>
                                    <option th:value="CSV" th:selected="${croute.tipoArchivo == 'CSV'}">ARCHIVO PLANO CSV</option>
                                    <option th:value="TXT" th:selected="${croute.tipoArchivo == 'TXT'}">ARCHIVO PLANO TXT</option>
                                    <option th:value="TXT_SINDEL" th:selected="${croute.tipoArchivo == 'TXT_SINDEL'}">ARCHIVO PLANO TXT SIN DEL.</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-group mb-1">
                                <label>Delimitador:</label>
                                <input type="text" class="form-control"  th:field="*{delimitador}"  required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label>Ruta: </label>
                                <input type="text" class="form-control"  th:field="*{ruta}"  required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group mb-1">
                                <label>Filas Omitidas:</label>
                                <input type="text" class="form-control"  th:field="*{filasOmitidas}"  required>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group mb-1">
                                <label>Maneja Siglas de Fechas:</label>
                                <input id="siglasFechasInput" name="siglasFechas" th:field="*{siglasFechas}" th:id="${activo}"
                                       th:value="${siglasFechas}" type="checkbox" class="styled-checkbox">
                                <label>[[${siglasFechas}]]</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group mb-1">
                                <label>Formato Fecha:</label>
                                <select class="form-control" name="selectedFormatoFecha" id="formatoFecha" required>
                                    <option disabled value="" selected hidden>Seleccione formato</option>
                                    <option th:value="YYYYMMDD" th:selected="${croute.formatoFecha == 'YYYYMMDD'}">AÑO MES DIA CORTA (YYYYMMDD)</option>
                                    <option th:value="YYMMDD" th:selected="${croute.formatoFecha == 'YYMMDD'}">AÑO MES DIA RED (YYMMDD)</option>
                                    <option th:value="DDMMMMYYYY" th:selected="${croute.formatoFecha == 'DDMMMMYYYY'}">DIA MES AÑO COM. (DDMMMMYYYY)</option>
                                    <option th:value="DDMMYYYY" th:selected="${croute.formatoFecha == 'DDMMYYYY'}">DIA MES AÑO CORTA (DDMMYYYY)</option>
                                    <option th:value="DDMMYY" th:selected="${croute.formatoFecha == 'DDMMYY'}">DIA MES AÑO RED. (DDMMYY)</option>
                                    <option th:value="DDMMMMYYYY" th:selected="${croute.formatoFecha == 'DDMMMMYYYY'}">DIA MES AÑO SIMPLE (DDMMMMYYYY)</option>
                                    <option th:value="MMDDYY" th:selected="${croute.formatoFecha == 'MMDDYY'}">MES DIA AÑO (MMDDYY)</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group mb-1">
                                <label>Idioma Fecha:</label>
                                <select class="form-control" name="selectedIdiomaFecha" id="idiomaFecha" required>
                                    <option disabled value="" selected hidden>Seleccione formato</option>
                                    <option th:value="EspañolColombia" th:selected="${croute.idiomaFecha == 'EspañolColombia'}">Español - Colombia</option>
                                    <option th:value="EspañolEspaña" th:selected="${croute.idiomaFecha == 'EspañolEspaña'}">Español - España</option>
                                    <option th:value="InglésUSA" th:selected="${croute.idiomaFecha == 'InglésUSA'}">Inglés - USA</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row pt-3 py-3">
                    <div class="col-md-12 d-flex align-content-center justify-content-center">
                        <div class="d-grid gap-2 col-3">
                            <button type="submit" class="btn btn-primary">Agregar</button>
                        </div>
                        <div class="d-grid gap-2 col-3">
                            <a class="btn btn-danger" th:href="@{/parametric/conciliationRoutes}">Cancelar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<script>

</script>
</body>
</html>