<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>
<div class="main-container">
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h3 class="fw-bold text-white mx-4 my-3">Terceros Cuentas por Cobrar</h3>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-end pe-5">
        </div>
    </div>
    <div id="content">
        <form method="POST" th:action="@{/parametric/modifyThirdsCc}" th:object="${thirdModify}">
            <div class="row mt-5">
                <div class="col-md-12">
                    <h3 class="mb-3">Editar Tercero CC</h3>
                    <input class="form-control" id="id" maxlength="255" required th:name="id" th:value="*{nit}"
                           type="hidden">
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Nit</label>
                        <input class="form-control" id="idNew" maxlength="255" name="idNew" required th:field="*{nit}"
                               type="text">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Nombre Completo</label>
                        <input class="form-control" maxlength="255" required th:field="*{nombre}" type="text">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Impuesto</label>
                        <select class="form-control" name="impSelect" th:field="*{impuesto}"  required>
                            <option hidden selected
                                    th:text="${thirdModify.impuesto}" th:value="${thirdModify.impuesto}"></option>
                            <option th:value="'SIN IMPUESTOS'" th:text="'SIN IMPUESTOS'"></option>
                            <option th:value="'RETEFUENTE'" th:text="'RETEFUENTE'"></option>
                            <option th:value="'IVA'" th:text="'IVA'"></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Dirección</label>
                        <input class="form-control" maxlength="255" required th:field="*{direccion}" type="text">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Teléfono</label>
                        <input class="form-control" maxlength="255" required th:field="*{telefono}"
                               type="text" >
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Correo Principal</label>
                        <input class="form-control" maxlength="255" required
                               th:field="*{correo}" type="email">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Correo Alterno</label>
                        <input class="form-control" maxlength="255"
                               th:field="*{correoAlterno}" type="email">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Correo Alterno 2</label>
                        <input class="form-control" maxlength="255"
                               th:field="*{correoAlterno2}" type="email">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Correo Copia 1</label>
                        <input class="form-control" maxlength="255" required
                               th:field="*{correoCopia1}" type="email">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Correo Copia 2</label>
                        <input class="form-control" maxlength="255"
                               th:field="*{correoCopia2}" type="email">
                    </div>
                </div>
            </div>
            <div class="row pt-5 py-3">
                <div class="col-md-12 d-flex align-content-center justify-content-center">
                    <div class="d-grid gap-2 col-3">
                        <button type="submit" class="btn btn-primary">Modificar Tercero</button>
                    </div>
                    <div class="d-grid gap-2 col-3">
                        <a class="btn btn-danger" th:href="@{/parametric/thirdsCc}">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
    $("#idNew").change(function () {
        $.get("/parametric/validateNitThirdsCc/?idNew=" + $("#idNew").val() + "&id=" + $("#id").val(), function (responseText) {
            if (responseText != 'valid') {
                Swal.fire({
                    position: 'center',
                    icon: 'warning',
                    title: '¡Validación NIT Fallo!',
                    text: 'El NIT con valor ' + $("#idNew").val() + ' ingresado en el campo Nit ya se encuentra asociado a otro registro.',
                    showConfirmButton: true
                });
                $("#idNew").val('');
            }
        });
    });
</script>
</body>
</html>