<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>

<div class="main-container">
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h2 class="fw-bold text-white mx-4 my-3">Cargue de Estructura de Parametros Reportes</h2>
        </div>
    </div>
    <div class="row mt-5 pt-3 px-4">
        <div class="text-left col-md-4">
            <h2>Cargue de Estructura de Reportes</h2>
        </div>
        <div class="text-right col-md-8">
            <a class="btn btn-danger btn-sm" th:href="@{/parametric/parametrosReportes(page=${page1})}"><i class="bx bxs-home"></i> Ir a Para. Reportes</a>
            <a class="btn btn-primary btn-sm mx-1" th:href="@{/parametric/fieldLoadingParametrosReportes/{id}(id=${parametro.id},page1=${page1})}">Campos <i class="fa-solid fa-right-long"></i></a>
            <a class="btn btn-primary btn-sm mx-1" th:href="@{/parametric/filtersParametroReportes/{id}(id=${parametro.id},page1=${page1})}">Filtros <i class="fa-solid fa-right-long"></i></a>
            <a class="btn btn-primary btn-sm mx-1" th:href="@{/parametric/sourcesParametroReportes/{id}(id=${parametro.id},page1=${page1})}">Fuentes <i class="fa-solid fa-right-long"></i></a>
            <a class="btn btn-primary btn-sm mx-1 disabled" th:href="@{/parametric/structuresParametroReportes/{id}/0(id=${parametro.id},page1=${page1})}">Estructuras <i class="fa-solid fa-right-long"></i></a>
            <a class="btn btn-primary btn-sm mx-1" th:href="@{/parametric/additionalSourcesParametrosReportes/{id}(id=${parametro.id},page1=${page1})}">Fuen. Adicion <i class="fa-solid fa-right-long"></i></a>
            <a class="btn btn-primary btn-sm mx-1" th:href="@{/parametric/validationsParametroReportes/{id}/0(id=${parametro.id},page1=${page1})}">Vald. Adicion <i class="fa-solid fa-right-long"></i></a>
            <a class="btn btn-primary btn-sm mx-1" th:href="@{/parametric/resultingfieldsParametroReportes/{id}/0(id=${parametro.id},page1=${page1})}">Rsl. Adicion <i class="fa-solid fa-right-long"></i></a>
        </div>
    </div>
    <div class="row px-4">

        <form id="miFormulario" th:object="${fuente}"  th:action="@{/parametric/createStructureParametroReportes}" method="POST">

            <div class="text-left col-md-12 mb-1">
                <div class="px-3 pt-1 mb-1 row border rounded">
                    <div hidden class="col-md-2">
                        <div class="form-group form-group-sm ">
                            <label>ID</label>
                            <input id="idInput" type="text" class="form-control form-control-sm  " th:field="*{id}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Fuente</h6>
                            <select class="form-control form-control-sm" name="selectedFuente" id="selectedFuente" required onchange="toggleFuente()">
                                <option disabled value="" selected hidden>Seleccione Fuente</option>
                                <option th:each="fnt : ${fuentes}"
                                        th:value="${fnt.inventario.id}"
                                        th:data-id="${fnt.id}"
                                        th:selected="${fuente != null and fuente.id == fnt.id}"
                                        th:text="${fnt.fuente.detalle + ' - ' + fnt.inventario.detalle + ' - ' + fnt.evento.nombre}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 p-0">
                <div class="table-responsive rounded border-primary">

                    <div class="row p-0 m-0">
                        <div class="text-left col-md-6">
                            <h2>Campos registrados</h2>
                        </div>
                        <div class="text-right col-md-6">
                            <button class="btn btn-sm btn-primary mx-1" type="submit">Actualizar</button>
                        </div>
                    </div>

                    <table id="tablaDatos" class="table table-striped table-hover text-center table-bordered table-sm" width="100%">
                        <thead class="bg-primary">
                        <tr>
                            <th>Campo Reporte</th>
                            <th>Campo 1</th>
                            <th>Operacion</th>
                            <th>Campo 2</th>
                            <th>Aplica formula</th>
                            <th>Valor formula</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="estructura, iter : ${fuente.estructuras}">
                            <td hidden>
                                <input type="text" class="form-control form-control-sm"
                                       th:value="${estructura.id}"
                                       th:name="'estructuraId_'+${iter.count}"
                                       th:id="'estructuraId_'+${iter.count}"
                                       th:text="${estructura.id}"
                                >
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm" hidden
                                       th:value="${estructura.campoReporte.id}"
                                       th:name="'campoReporte_'+${iter.count}"
                                       th:id="'campoReporte_'+${iter.count}"
                                       th:text="${estructura.campoReporte.detalle}"
                                >
                            </td>
                            <td>
                                <select class="form-control form-control-sm" id="campo1Select" onchange="updateCampo1HiddenValue()"
                                        th:name="'campo1_'+${iter.count}"
                                        th:id="'campo1_'+${iter.count}"
                                >
                                    <option value="0" selected>Seleccione Campo</option>
                                    <option th:each="campRC : ${camposRc}"
                                            th:value="${campRC[0]}"
                                            th:text="${campRC[1]}"
                                            th:selected="${estructura.campo1 != null and campRC[0] == estructura.campo1.id}"
                                    ></option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control form-control-sm" id="operacionSelect" onchange="updateOperacionHiddenValue()"
                                        th:name="'operacion_'+${iter.count}"
                                        th:id="'operacion_'+${iter.count}"
                                >
                                    <option value="0" selected>Seleccione Operación</option>
                                    <option th:value="Suma" th:selected="${estructura.operacion == 'Suma'}">Suma</option>
                                    <option th:value="Resta" th:selected="${estructura.operacion == 'Resta'}">Resta</option>
                                    <option th:value="Multiplica" th:selected="${estructura.operacion == 'Multiplica'}">Multiplica</option>
                                    <option th:value="Divida" th:selected="${estructura.operacion == 'Divida'}">Divida</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control form-control-sm" id="campo2Select" onchange="updateCampo2HiddenValue()"
                                        th:name="'campo2_'+${iter.count}"
                                        th:id="'campo2_'+${iter.count}"
                                >
                                    <option value="0" selected>Seleccione Campo</option>
                                    <option th:each="campRC : ${camposRc}"
                                            th:value="${campRC[0]}"
                                            th:text="${campRC[1]}"
                                            th:selected="${estructura.campo2 != null and campRC[0] == estructura.campo2.id}"
                                    ></option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox"
                                       th:name="'aplicaFormula_'+${iter.count}"
                                       th:id="'aplicaFormula_'+${iter.count}"
                                       th:value="${estructura.aplicaFormula}"
                                       th:checked="${estructura.aplicaFormula}"
                                >
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm"
                                       th:name="'valorFormula_'+${iter.count}"
                                       th:id="'valorFormula_'+${iter.count}"
                                       th:value="${estructura.valorFormula}"
                                >
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" th:if="${last != 0}">
                    <div class="col-md-4 text-left">
                        <nav arial-label="Pagination">
                            <ul class="pagination">
                                <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
                                    <a class="page-link"
                                       th:href="@{/parametric/{dir}/?page={page}&vId={vId}&vFilter={vFilter}(vFilter=${vFilter},page=${prev},dir=${directory},vId=${vId})}">Anterior</a>
                                </li>
                                <li class="page-item" th:classappend="${current == last ? 'disabled' : ''}">
                                    <a class="page-link"
                                       th:href="@{/parametric/{dir}/?page={page}&vId={vId}&vFilter={vFilter}(vFilter=${vFilter},page=${next},dir=${directory},vId=${vId})}">Siguiente</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-4 text-center">
                        <h6 th:utext="${registers} + ' Registros Encontrados'"></h6>
                    </div>
                    <div class="col-md-4 text-right">
                        <h6 class="mx-1" th:utext="'Página ' + ${current} + ' de ' + ${last}"></h6>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center" th:if="${filterExport != 'Original'}">
                    <h5><span class="badge badge-pill text-light badge-info py-2 px-5">¡La Tabla se encuentra Filtrada!</span>
                    </h5>
                </div>
            </div>

            <!-- Formulario oculto para pasar el objeto aroute -->
            <input type="hidden" id="parametroId" name="parametroId" th:value="${parametro.id}" />
            <input type="hidden" id="fuenteId" name="fuenteId" th:value="*{id}" />
            <input type="hidden" id="numCampos" name="numCampos" th:value="${registers}" />
        </form>

    </div>
</div>
</div>
<script>

    async function toggleFuente() {
        const id = document.querySelector("input[name='parametroId']").value;
        var select = document.getElementById('selectedFuente');
        var selectedOption = select.options[select.selectedIndex];
        var fuenteId = selectedOption.getAttribute('data-id');
       window.location.href = `/parametric/structuresParametroReportes/${id}/${fuenteId}`;
   }
</script>
</body>
</html>