<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>

<div class="main-container">
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-12 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h2 class="fw-bold text-white ml-4 my-3">Validaciones (</h2>
            <div class="d-flex " style="align-items">
                <h3 class=" fw-bold text-white  my-3">Conciliacion: <span th:text="${matriz.conciliacion.nombre}"></span></h3>
                <h3 class=" fw-bold text-white  my-3">, Inventario: <span th:text="${matriz.inventarioConciliacion.detalle}"></span></h3>
                <h3 class=" fw-bold text-white  my-3">, Matriz: <span th:text="${matriz.id}"></span></h3>
                <h3 class=" fw-bold text-white  my-3">, Tipo Evento: <span th:text="${matriz.tipoEvento.nombre}"></span>)</h3>
            </div>
        </div>
    </div>

    <div class="row mt-5 pt-1 pb-1 px-4">
        <div class="text-left col-md-6">
            <h2>Cargue de Validaciones a Campos</h2>
        </div>
        <div class="text-right col-md-6">
            <a class="btn btn-sm btn-danger mx-1" th:href="@{/parametric/eventMatrix}"><i class="fa-solid fa-left-long"></i> Regresar</a>
        </div>
    </div>
    <div class="row px-4">
        <div class="text-left col-md-12 mb-1">

            <form id="miFormulario" th:object="${validationME}" th:action="@{/parametric/createValidacionME}" method="POST">

                <!-- Formulario oculto para pasar el objeto matriz-->
                <input type="hidden" id="matrizId" name="matrizId" th:value="${matriz.id}" />

                <div class="mb-1 px-3 row border rounded">
                    <div hidden class="col-md-2">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">ID</h6>
                            <input type="text" id="idInput" class="form-control form-control-sm" th:field="*{id}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Campo Validación</h6>
                            <div class="d-flex align-items-center">
                                <select class="form-control form-control-sm" name="selectedCampoVal" id="selectedCampoVal">
                                    <option disabled value="" selected hidden>Seleccione Campo</option>
                                    <option th:each="campoVal : ${campos}" th:value="${campoVal[0]}" th:text="${campoVal[1]}"></option>
                                </select>
                                <p class="font-weight-bold mx-1 mb-0" style="line-height: 1.5;">=</p>
                                <input type="text" class="form-control form-control-sm" th:field="*{valorValidacion}">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="col-12"><h6 class="font-weight-bold">Se adiciona Campo Afecta?</h6></div>
                        <div class="form-group col-md-2">
                            <div class="form-check form-check-inline">
                                <input id="adCampoAfecta1" name="adCampoAfecta" th:field="*{adCampoAfecta}" th:id="${adCampoAfecta}"
                                       th:value="${adCampoAfecta}" type="checkbox" class="styled-checkbox" onchange="toggleFieldsAfecta()">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 hidden" id="afectaAContainer">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Afecta a:</h6>
                            <select class="form-control form-control-sm"  th:name="selectedCampoAf" id="selectedCampoAf">
                                <option selected value="">Seleccione un campo</option>
                                <option th:each="campo : ${campos}" th:value="${campo[0]}" th:text="${campo[1]}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2" id="afectaAEspacio"></div>
                    <div class="col-md-4"></div>


                    <div class="col-md-2">
                        <div class="col-12"><h6 class="font-weight-bold">Aplica Fórmula?</h6></div>
                        <div class="form-group col-md-2">
                            <div class="form-check form-check-inline">
                                <input id="aplicaFormula1" name="formula" th:field="*{aplicaFormula}" th:id="${aplicaFormula}"
                                       th:value="${formula}" type="checkbox" class="styled-checkbox" onchange="toggleFieldsFormula()">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2" id="campoContainer">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Campo:<i class="bi bi-caret-down"></i></h6>
                            <select class="form-control form-control-sm"  th:name="selectedCampo" id="selectedCampo">
                                <option selected value="">Seleccione un campo</option>
                                <option th:each="campo : ${campos}" th:value="${campo[0]}" th:text="${campo[1]}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 hidden" id="operacionContainer">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Operacion:<i class="bi bi-caret-down"></i></h6>
                            <select class="form-control form-control-sm" name="selectedOperacion" id="selectedOperacion">
                                <option value="" selected >Seleccione operación</option>
                                <option th:value="Suma">Suma</option>
                                <option th:value="Resta">Resta</option>
                                <option th:value="Multiplica">Multiplica</option>
                                <option th:value="Divida">Divida</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group form-group-sm">
                            <h6 class="font-weight-bold">Valor Operación</h6>
                            <input type="text" class="form-control form-control-sm"  th:field="*{valorOperacion}">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="d-grid gap-2 col-1">
                        <button th:disabled="${!p_modificar}" type="button" class="btn btn-sm btn-primary" onclick="descartar()">Eliminar</button>
                    </div>
                    <div class="d-grid gap-2 col-1">
                        <button th:disabled="${!p_modificar}" id="actionButton" type="submit" class="btn btn-sm btn-primary">Agregar</button>
                    </div>
                    <div class="col-auto">
                        <div class="border-start ms-3" style="height: 100%;"></div>
                    </div>
                    <div class="d-grid gap-2 col-1">
                        <button type="button" class="btn btn-sm btn-primary" } onclick="Limpiar()">Deseleccionar Item</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-12 p-0">
            <div class="table-responsive rounded border-primary">
                <h2>Validaciones registrados</h2>
                <table id="example" class="table table-striped table-hover text-center table-bordered table-sm" width="100%">
                    <thead class="bg-primary">
                    <tr>
                        <th>Campo validación</th>
                        <th>Valor validación</th>
                        <th>Campo Campo Afecta</th>
                        <th>Campo referencia</th>
                        <th>Operación</th>
                        <th>Valor operación</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="val : ${validaciones}">
                        <td th:text="${val.campoVal.nombre}"></td>
                        <td th:text="${val.valorValidacion}"></td>
                        <td th:text="${val.campoAfecta?.nombre ?: ''}"></td>
                        <td th:text="${val.campoRef?.nombre ?: ''}"></td>
                        <td th:text="${val.operacion == '0' ? '' : val.operacion}"></td>
                        <td th:text="${val.valorOperacion}"></td>
                        <td>
                            <button th:disabled="${!p_modificar}" class="btn btn-sm btn-primary mx-1"
                                    th:data-id="${val.id}"
                                    th:data-campoAfecta="${val.campoAfecta?.nombre?: ''}"
                                    th:data-campoVal="${val.campoVal?.nombre ?: ''}"
                                    th:data-campoRef="${val.campoRef?.nombre ?: ''}"
                                    th:data-operacion="${val.operacion != 0 ? val.operacion : ''}"
                                    th:data-valorOperacion="${val.valorOperacion}"
                                    th:data-valorValidacion="${val.valorValidacion}"
                                    th:data-aplicaFormula="${val.aplicaFormula}"
                                    th:data-adCampoAfecta="${val.adCampoAfecta}"
                                    onclick="cargarCampos(this)">Seleccionar</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" th:if="${last != 0}">
                <div class="col-md-4 text-left">
                    <nav arial-label="Pagination">
                        <ul class="pagination pagination-sm">
                            <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{/admin/{dir}/?page={page}&vId={vId}&vFilter={vFilter}(vFilter=${vFilter},page=${prev},dir=${directory},vId=${vId})}">Anterior</a>
                            </li>
                            <li class="page-item" th:classappend="${current == last ? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{/admin/{dir}/?page={page}&vId={vId}&vFilter={vFilter}(vFilter=${vFilter},page=${next},dir=${directory},vId=${vId})}">Siguiente</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-4 text-center">
                    <h6 th:utext="${registers} + ' Registros Encontrados'"></h6>
                </div>
                <div class="col-md-4 text-right">
                    <h6 class="mx-1" th:utext="'Página ' + ${current} + ' de ' + ${last}"></h6>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center" th:if="${filterExport != 'Original'}">
                <h5><span class="badge badge-pill text-light badge-info py-2 px-5">¡La Tabla se encuentra Filtrada!</span>
                </h5>
            </div>
            <!--
            <div class="d-flex align-items-center justify-content-center">
                <a th:href="@{/admin/users/download/?vFilter={vFilter}&vId={vId}(vFilter=${vFilter},vId=${vId})}" class="btn btn-sm btn-primary">Exportar a Excel</a>
            </div>
            -->
        </div>

    </div>
</div>
</div>

<script>
    function cargarCampos(button) {

        var id = button.getAttribute("data-id");
        var valorValidacion = button.getAttribute("data-valorValidacion");
        var valorOperacion = button.getAttribute("data-valorOperacion");

        var campoVal = button.getAttribute("data-campoVal");
        var campoAfecta = button.getAttribute("data-campoAfecta");
        var campoRef = button.getAttribute("data-campoRef");

        var operacion = button.getAttribute("data-operacion");

        var aplicaFormula = button.getAttribute("data-aplicaFormula") === 'true';
        var adCampoAfecta = button.getAttribute("data-adCampoAfecta") === 'true';

        // Asignar los valores a los campos del formulario
        document.querySelector("input[name='id']").value = id;
        document.querySelector("input[name='valorOperacion']").value = valorOperacion;
        document.querySelector("input[name='valorValidacion']").value = valorValidacion;

        document.querySelector("input[name='aplicaFormula']").checked = aplicaFormula;
        document.querySelector("input[name='adCampoAfecta']").checked = adCampoAfecta;

        var selectCampoVal = document.querySelector("select[name='selectedCampoVal']");
        var optionsVal = selectCampoVal.options;
        if (campoVal != null && campoVal.trim().length > 0) {
            for (var i = 0; i < optionsVal.length; i++) {
                if (optionsVal[i].text.trim() === campoVal.trim()) {
                    selectCampoVal.value = optionsVal[i].value; // Establece el valor de la opción encontrada
                    break;
                }
            }
        }
        else{
            selectCampoVal.value = "";
        }

        var selectCampoAf = document.querySelector("select[name='selectedCampoAf']");
        var optionsCampoAf = selectCampoAf.options;

        if (campoAfecta != null && campoAfecta.trim().length > 0 && campoAfecta!=0) {
            for (var i = 0; i < optionsCampoAf.length; i++) {
                if (optionsCampoAf[i].text.trim() === campoAfecta.trim()) {
                    selectCampoAf.value = optionsCampoAf[i].value; // Establece el valor de la opción encontrada
                    break;
                }
            }
        }
        else{
            selectCampoAf.value = "";
        }

        var selectCampo = document.querySelector("select[name='selectedCampo']");
        var optionsCampo = selectCampo.options;
        if (campoRef != null && campoRef.trim().length > 0) {
            for (var i = 0; i < optionsCampo.length; i++) {
                if (optionsCampo[i].text.trim() === campoRef.trim()) {
                    selectCampo.value = optionsCampo[i].value; // Establece el valor de la opción encontrada
                    break;
                }
            }
        }
        else{
            selectCampo.value = "";
        }

        var selectOperacion = document.querySelector("select[name='selectedOperacion']");
        var optionsOperacion = selectOperacion.options;
        if (campoRef != null && campoRef.trim().length > 0) {
            for (var i = 0; i < optionsOperacion.length; i++) {
                if (optionsOperacion[i].text.trim() === operacion.trim()) {
                    selectOperacion.value = optionsOperacion[i].value; // Establece el valor de la opción encontrada
                    break;
                }
            }
        }
        else{
            selectOperacion.value = "";
        }

        toggleFieldsAfecta();
        toggleFieldsFormula();

        updateButtonText();

    }

    function descartar() {
        const id = document.querySelector("input[name='id']").value;
        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
        const matrizId = document.getElementById('matrizId').value;

        if (id) {
            fetch(`/parametric/deleteValidationME/${id}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                }
            }).then(response => {
                if (response.ok) {
                    window.location.href = `/parametric/validationsEventMatrix/${matrizId}`;
                }
            }).catch(error => {
                // Manejo de errores
                console.error('Error:', error);
            });
        }
        updateButtonText();
    }

    function toggleFieldsFormula() {
        var formulaCheckbox = document.getElementById('aplicaFormula1');
        var operacionContainer = document.getElementById('operacionContainer');

        console.log(formulaCheckbox);

        if (formulaCheckbox.checked) {
            operacionContainer.classList.remove('hidden');
        } else {
            operacionContainer.classList.add('hidden');
        }
    }

    function toggleFieldsAfecta() {
        var checkbox  = document.getElementById('adCampoAfecta1');
        var afectaContainer = document.getElementById('afectaAContainer');
        var afectaEspacio = document.getElementById('afectaAEspacio');

        if (checkbox.checked) {
            afectaContainer.classList.remove('hidden');
            afectaEspacio.classList.add('hidden');
        } else {
            afectaContainer.classList.add('hidden');
            afectaEspacio.classList.remove('hidden');
        }
    }

    function Limpiar() {
        document.getElementById('miFormulario').reset();
        //toggleFields();
        updateButtonText();
    }

    function updateButtonText() {
         const idInput = document.getElementById("idInput");
        const actionButton = document.getElementById("actionButton");

        // Elimina espacios antes de validar
        const value = idInput.value.trim();

        // Cambia el texto según el estado del campo
        if (value === "0") {
            actionButton.textContent = "Agregar";
        } else {
            actionButton.textContent = "Modificar";
        }
    }

    window.onload = function() {
        toggleFieldsAfecta();
        toggleFieldsFormula();
    };

</script>
</body>
</html>