<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>
<div class="main-container">
  <!-- Cover -->
  <div class="row m-0 bg-primary fixed-top myNav">
    <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
      <h3 class="fw-bold text-white mx-4 my-3">Log de Auditoria</h3>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-end pe-5">
      <form class="form-inline" method="get" th:action="@{/admin/searchAudit}">
        <div class="input-group">
          <input type="text" class="form-control" th:name="vId" placeholder="Buscar...">
          <div class="input-group-append">
            <select class="form-control" th:name="vFilter" required>
              <option disabled value="" selected hidden>Seleccione un filtro</option>
              <option th:each="item : ${columns}" th:value="${item}" th:text="${item}"></option>
            </select>
          </div>
          <div class="input-group-append d-flex align-items-center">
            <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="content">
    <div class="row mt-5">
      <div class="text-left pr-3 col-md-6 my-2">
      </div>
      <div class="text-right pr-3 col-md-6 my-2">
        <a class="btn btn-primary mx-1" th:href="@{/admin/audit}"><i class="fas fa-redo-alt"></i></a>
      </div>
      <div class="col-md-12">
        <div class="table-responsive rounded border-primary">
          <table id="example" class="table table-striped table-hover text-center table-bordered table-sm" width="100%">
            <thead class="bg-primary">
            <tr>
              <th>ID Reporte</th>
              <th>Usuario</th>
              <th>Nombre</th>
              <th>Centro Costos</th>
              <th>Componente</th>
              <th>Input</th>
              <th>Acción</th>
              <th>Fecha</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="audit : ${allAudit}">
              <th th:text="${audit.idAuditoria}"></th>
              <td th:text="${audit.usuario}"></td>
              <td th:text="${audit.nombre}"></td>
              <td th:text="${audit.centro}"></td>
              <td th:text="${audit.componente}"></td>
              <td th:text="${audit.input}"></td>
              <td th:text="${audit.accion}"></td>
              <td th:text="${audit.fecha}"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row" th:if="${last != 0}">
      <div class="col-md-8 text-left">
        <nav arial-label="Pagination">
          <ul class="pagination">
            <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
              <a class="page-link" th:href="@{/admin/{dir}/?page={page}&vId={vId}&vFilter={vFilter}(vFilter=${vFilter},page=${prev},dir=${directory},vId=${vId})}">Anterior</a>
            </li>
            <li class="page-item" th:classappend="${current == last ? 'disabled' : ''}">
              <a class="page-link" th:href="@{/admin/{dir}/?page={page}&vId={vId}&vFilter={vFilter}(vFilter=${vFilter},page=${next},dir=${directory},vId=${vId})}">Siguiente</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-md-4 text-right">
        <h6 class="mx-1" th:utext="'Página ' + ${current} + ' de ' + ${last}" ></h6>
      </div>
    </div>
    <div th:if="${filterExport != 'Original'}" class="d-flex align-items-center justify-content-center">
      <h5><span class="badge badge-pill text-light badge-info py-2 px-5">¡La Tabla se encuentra Filtrada!</span></h5>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <a th:href="@{/admin/audit/download/?vFilter={vFilter}&vId={vId}(vFilter=${vFilter},vId=${vId})}" class="btn btn-primary">Exportar a Excel</a>
    </div>
  </div>
</div>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script type="text/javascript">
    var queryString = window.location.search;
    var urlParams = new URLSearchParams(queryString);
    var respuesta = urlParams.get('resp');
    var row = urlParams.get('row');
    var column = urlParams.get('colum');
    validateAlerts(respuesta,row,column);
    $(document).ready(function() {
      $('#sidebarCollapse').on('click', function() {
        $('#sidebar').toggleClass('active');
      });
    });
  </script>
</body>

</html>