<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>
<div class="main-container">

    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-12 border-bottom border-primary p-0 bg-primary d-flex align-items-center">
            <h3 class="fw-bold text-white mx-4 my-3">Crear Usuario</h3>
        </div>
    </div>

    <div id="content m-5">
        <form class="mt-5 mx-3" method="POST" th:action="@{/admin/createUser}" th:object="${user}">
            <div class="row mt-5 pt-5 py-3">
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Código Usuario</label>
                        <input class="form-control" maxlength="7" minlength="7" required th:field="*{usuario}"
                               type="text">
                        <div class="alert alert-warning" th:errors="*{usuario}"
                             th:if="${#fields.hasErrors('usuario')}"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Correo</label>
                        <input class="form-control" maxlength="255" required th:field="*{correo}" type="email">
                        <div class="alert alert-warning" th:errors="*{correo}"
                             th:if="${#fields.hasErrors('correo')}"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Primer nombre</label>
                        <input class="form-control" maxlength="255" required th:field="*{primerNombre}" type="text">
                        <div class="alert alert-warning" th:errors="*{primerNombre}"
                             th:if="${#fields.hasErrors('primerNombre')}"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Segundo nombre</label>
                        <input class="form-control" maxlength="255" required th:field="*{segundoNombre}" type="text">
                        <div class="alert alert-warning" th:errors="*{segundoNombre}"
                             th:if="${#fields.hasErrors('segundoNombre')}"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Primer apellido</label>
                        <input class="form-control" maxlength="255" required th:field="*{primerApellido}" type="text">
                        <div class="alert alert-warning" th:errors="*{primerApellido}"
                             th:if="${#fields.hasErrors('primerApellido')}"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Segundo apellido</label>
                        <input class="form-control" maxlength="255" required th:field="*{segundoApellido}" type="text">
                        <div class="alert alert-warning" th:errors="*{segundoApellido}"
                             th:if="${#fields.hasErrors('segundoApellido')}"></div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Tipo Documento</label>
                        <select class="form-control" name="selectedTipoDoc" id="selectedTipoDoc" required>
                            <option disabled value="" selected hidden>Seleccione tipo de documento</option>
                            <option th:each="tipo : ${tipos}" th:value="${tipo.nombre}" th:text="${tipo.nombre}"
                                    th:selected="${user.tipoDocumento != null and tipo.id == user.tipoDocumento.id}"></option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Número de documento</label>
                        <input class="form-control" maxlength="255" required th:field="*{numeroDocumento}" type="text">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12">
                            <p>Perfiles:</p>
                        </div>
                        <div class="form-group col-12">
                            <div class="form-check form-check-inline" th:each="role : ${roles}">
                                <input class="form-check-input " name="selectedRoles" th:id="${role.nombre}"
                                       th:value="${role.nombre}" type="checkbox">
                                <input id="userRoles" th:value="${hasRoles}" type="hidden"/>
                                <label>[[${role.nombre}]]</label>
                            </div>
                            <div class="alert alert-warning" th:errors="*{roles}"
                                 th:if="${#fields.hasErrors('roles')}"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Cargo</label>
                        <select class="form-control" name="selectedCargo" id="selectedCargo" required>
                            <option disabled value="" selected hidden>Seleccione el primer filtro</option>
                            <option th:each="cargo : ${cargos}" th:value="${cargo.nombre}" th:text="${cargo.nombre}"
                                    th:selected="${user.cargo != null and cargo.id == user.cargo.id}"></option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Fecha Nacimiento</label>
                        <input class="form-control" type="date"
                               th:field="*{fechaNacimiento}">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Fecha inicio inactividad</label>
                        <input class="form-control" type="date"
                               th:field="*{inicioInactividad}" >
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Fecha fin inactividad</label>
                        <input class="form-control" type="date"
                               th:field="*{finInactividad}">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12">
                            <p>Activo:</p>
                        </div>
                        <div class="form-group col-12">
                            <div class="form-check form-check-inline">
                                <input id="fechaNacimientoInput" class="form-check-input" name="activo" th:field="*{activo}" th:id="${activo}"
                                       th:value="${activo}" type="checkbox" required>
                                <label>[[${activo}]]</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row pt-5 py-3">
                <div class="col-md-12 d-flex align-content-center justify-content-center">
                    <div class="d-grid gap-2 col-3">
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </div>
                    <div class="d-grid gap-2 col-3">
                        <a class="btn btn-danger"th:href="@{/admin/users}">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

<script>

    function dropDown(event) {
        event.target.parentElement.children[1].classList.remove("d-none");
        document.getElementById("overlay").classList.remove("d-none");
    }

    function hide(event) {
        let items = document.getElementsByClassName('menu');
        for (let i = 0; i < items.length; i++) {
            items[i].classList.add("d-none");
        }
        document.getElementById("overlay").classList.add("d-none");
    }
</script>
</body>
</html>