<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>
<div class="main-container">
    <style>
        body, .btn, .form-control, .badge, h6 {
            font-size: 12px;
        }

        .big-checkbox {width: 1rem; height: 1rem; top:0.5rem}
    </style>
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-12 border-bottom border-primary p-0 bg-primary d-flex align-items-center">
            <h3 class="fw-bold text-white mx-4 my-3">Modificar Usuario</h3>
        </div>
    </div>

    <!-- Cover -->
    <div id="content m-5">
        <form class="mt-5 mx-3" method="POST" th:action="@{/admin/modifyUsers}" th:object="${userModify}">
            <div class="row pt-5 py-3">
                <div class="col-md-12">
                    <input class="form-control" required id="newU" name="newU" th:value="${userModify.usuario}" type="hidden">
                    <input class="form-control" th:field="*{contra}" type="hidden">
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Código Usuario</label>
                        <input class="form-control" maxlength="7" minlength="7" required th:field="*{usuario}"
                               type="text">
                        <div class="alert alert-warning" th:errors="*{usuario}"
                             th:if="${#fields.hasErrors('usuario')}"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Correo</label>
                        <input class="form-control" maxlength="255" required th:field="*{correo}" type="text">
                        <div class="alert alert-warning" th:errors="*{correo}"
                             th:if="${#fields.hasErrors('correo')}"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Primer nombre</label>
                        <input class="form-control" maxlength="255" required th:field="*{primerNombre}" type="text">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Segundo nombre</label>
                        <input class="form-control" maxlength="255" required th:field="*{segundoNombre}" type="text">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Primer apellido</label>
                        <input class="form-control" maxlength="255" required th:field="*{primerApellido}" type="text">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Segundo apellido</label>
                        <input class="form-control" maxlength="255" required th:field="*{segundoApellido}" type="text">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Tipo Documento</label>
                        <select class="form-control" name="selectedTipoDoc" id="selectedTipoDoc" required>
                            <option disabled value="" selected hidden>Seleccione tipo de documento</option>
                            <option th:each="tipo : ${tipos}" th:value="${tipo.nombre}" th:text="${tipo.nombre}"
                                    th:selected="${userModify.tipoDocumento != null and tipo.id == userModify.tipoDocumento.id}"></option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Número de documento</label>
                        <input class="form-control" maxlength="255" required th:field="*{numeroDocumento}" type="text">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12">
                            <p th:text="${validaRoles}">AA</p>
                            <p>Perfiles:</p>
                        </div>
                        <div class="form-group col-12">
                            <div class="form-check form-check-inline" th:each="role : ${roles}">
                                <input class="form-check-input " name="selectedRoles" th:id="${role.nombre}"
                                       th:value="${role.nombre}" type="checkbox">
                                <input id="userRoles" th:value="${hasRoles}" type="hidden"/>
                                <label>[[${role.nombre}]]</label>
                            </div>
                            <div class="alert alert-warning" th:errors="*{user.roles}"
                                 th:if="${validaRoles == 'NOTok'}"></div>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Cargo</label>
                        <select class="form-control" name="selectedCargo" id="selectedCargo" required>
                            <option disabled value="" selected hidden>Seleccione el cargo</option>
                            <option th:each="cargo : ${cargos}" th:value="${cargo.nombre}" th:text="${cargo.nombre}"
                                    th:selected="${userModify.cargo != null and cargo.id == userModify.cargo.id}"></option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12">
                            <p>Activo:</p>
                        </div>
                        <div class="form-group col-12">
                            <div class="form-check form-check-inline">
                                <input id="activoInput" class="form-check-input " name="activo" th:field="*{activo}" th:id="${activo}"
                                       th:value="${activo}" type="checkbox">
                                <label>[[${activo}]]</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row pt-3 py-3">
                <div class="col-md-12 d-flex align-content-center justify-content-center">
                    <div class="d-grid gap-2 col-3">
                        <button type="submit" class="btn btn-primary">Modificar</button>
                    </div>
                    <div class="d-grid gap-2 col-3">
                        <a class="btn btn-danger"th:href="@{/admin/searchUsers?vId=activo&vFilter=Estado}">Cancelar</a>
                    </div>
                </div>
            </div>

        </form>
    </div>

</div>
<script>

    window.onload = checkIfChecked();

    function checkIfChecked() {
        const input = document.querySelector('#userRoles');
        const roles = JSON.parse(input.value);
        roles.forEach(role => {
            const nombre = role.nombre;
            console.log(nombre);
            const getField = document.getElementById(nombre);
            console.log(getField)
            if (getField !== null) {
                getField.setAttribute('checked', 'checked');
            }
        })
    }

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>



</body>
</html>