<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>
<div class="main-container">
    <!-- Cover -->
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h3 class="fw-bold text-white mx-4 my-3">Conciliación IFRS9</h3>
            <h5 id="date" th:utext="'Periodo: '+${period}" class="fw-bold text-white mx-4 my-3"></h5>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-end pe-5">
            <form class="form-inline" method="get" th:action="@{/ifrs9/concilScopeIFRS9?period={period}&order={order}(period=${period},order=${order})}">
                <div class="input-group">
                    <div class="input-group-append d-flex align-items-center">
                        <h5 class="me-2 mb-0">Fecha Consulta: </h5>
                        <input type="month" th:name="period" th:value="${period}" class="form-control" required>
                        <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="content">
        <div class="row mt-5">
            <div class="col-md-12 d-flex align-items-center justify-content-end">
                <div class="text-right pr-3 col-md-6 my-2 d-flex align-content-center justify-content-end" >
                    <form style="justify-content: end;" class="form-inline mx-1" method="get" th:action="@{/ifrs9/conciliateIfrs9?period={period}(period=${period})}">
                        <button  class="btn btn-primary" type="submit">Generar Conciliación</button>
                    </form>
                </div>
                <a class="btn btn-primary mx-1"
                   th:href="@{/ifrs9/concilScopeIFRS9?period={period}(period=${period})}">
                    <i class="fas fa-redo-alt"></i>
                </a>
            </div>
            <div class="col-md-12">
                <div class="table-responsive rounded border-primary">
                    <table id="example" class="table table-sm table-striped table-hover text-center table-bordered" width="100%">
                        <thead class="bg-primary">
                        <tr>
                            <th>Empresa</th>
                            <th>Cuenta</th>
                            <th>Descripción</th>
                            <th>Codicons</th>
                            <th>Saldo S2</th>
                            <th>Diferencia Total</th>
                            <th>Validación</th>
                            <th>Observaciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="con : ${allData}">
                            <td th:text="${con.getEmpresa()}"></td>
                            <td th:text="${con.getCuenta()}"></td>
                            <td th:text="${con.getDescripcion()}"></td>
                            <td th:text="${con.getCodicons()}"></td>
                            <td th:text="${#numbers.formatDecimal(con.getSaldoS2(),1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(con.getDiferencias(),1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${con.getValidacion()}"></td>
                            <td th:text="${con.getObservacion()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" th:if="${last != 0}">
            <div class="col-md-4 text-left">
                <nav arial-label="Pagination">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{/ifrs9/{dir}/?page={page}&period={period}(period=${period},page=${prev},dir=${directory})}">Anterior</a>
                        </li>
                        <li class="page-item" th:classappend="${current == last ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{/ifrs9/{dir}/?page={page}&period={period}(period=${period},page=${next},dir=${directory})}">Siguiente</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-4 text-center">
                <h6 th:utext="${registers} + ' Registros Encontrados'"></h6>
            </div>
            <div class="col-md-4 text-right">
                <h6 class="mx-1" th:utext="'Página ' + ${current} + ' de ' + ${last}" ></h6>
            </div>
        </div>
        <div class="pr-3 col-md-12 my-2">
            <div class="d-flex align-items-center justify-content-center">
                <a th:href="@{/ifrs/concilifrs9/download?period={period}(period=${period})}" class="btn btn-primary">Exportar Conciliación</a>
            </div>
        </div>
    </div>
</div>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script type="text/javascript">
    var queryString = window.location.search;
    var urlParams = new URLSearchParams(queryString);
    var respuesta = urlParams.get('resp');
    let date = document.querySelector('#date').textContent.replace("Periodo: ","");

    if(respuesta === 'correct'){
        createPersonalAlert(
            'success',
            'Conciliación Exitosa',
            `<p>Se ha generado la conciliación correctamente para el periodo ${date}<p>`,
            '/ifrs9/concilScopeIFRS9',
            date
        )
    }else if (respuesta === 'error'){
        createPersonalAlert(
            'error',
            'Error en la Conciliación',
            `<p>Se ha generado la conciliación correctamente para el periodo ${date}<p>`,
            '/ifrs9/concilScopeIFRS9',
            date
        )
    }

</script>
</body>

</html>
