<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>

<div class="main-container">
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-5 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h3 class="fw-bold text-white mx-4 my-3">Contabilidad Nivel 15</h3>
            <h5 class="fw-bold text-white mx-4 my-3" th:utext="'Periodo: '+${period}"></h5>
        </div>
        <div class="col-md-7 d-flex align-items-center justify-content-end pe-5">
            <form class="form-inline" method="get"
                  th:action="@{/ifrs/searchconnv15?period={period}(period=${period})}">
                <div class="input-group">
                    <h5 class="me-2 mt-1">Fecha Consulta: </h5>
                    <input class="form-control" th:name="period" th:value="${period}" type="month">
                    <input class="form-control" placeholder="Buscar..." th:name="vId" type="text">
                    <div class="input-group-append">
                        <select class="form-control" th:name="vFilter">
                            <option disabled hidden selected value="">No Filtrar</option>
                            <option th:each="item : ${columns}" th:text="${item}" th:value="${item}"></option>
                        </select>
                    </div>
                    <div class="input-group-append d-flex align-items-center">
                        <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                        <a class="btn btn-secondary" th:href="@{/ifrs/connv15?period={period}(period=${period})}"><i
                                class="fas fa-window-close"></i></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row m-0 px-4 mt-5">
        <div class="row my-3 p-0">
            <div class="col-md-6 d-flex align-items-center justify-content-center p-0">
                <form id="myForm" class="row g-2 align-items-center w-100" th:action="@{/ifrs9/con15/upload}">
                    <div class="col-8 form-inline d-flex align-items-center justify-content-evenly">
                        <label class="form-label m-0 p-0 font-weight-bold" for="picker">Periodo:</label>
                        <input id="picker" class="form-control w-75" required type="month" th:name="fileDate">
                    </div>
                    <div class="col-3">
                        <button class="btn btn-primary mb-0" id="BtnDescon">Cargar Información</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-end p-0">
                <a class="btn btn-primary mx-1"
                   th:href="@{/ifrs/connv15/?period={period}(period=${period})}">
                    <i class="fas fa-redo-alt"></i>
                </a>
            </div>
        </div>

        <div class="col-md-12 p-0">
            <div class="table-responsive table-responsive-sm rounded border-primary">
                <table class="table table-sm table-striped table-hover text-center table-bordered" id="example"
                       width="100%">
                    <thead class="bg-primary">
                    <tr>
                        <th>Cuenta</th>
                        <th>Divisa</th>
                        <th>Sald</th>
                        <th>Salc</th>
                        <th>Diferencia</th>
                        <th>Sald_div</th>
                        <th>Salc_div</th>
                        <th>Observaciones</th>
                        <th>Tp</th>
                        <th>Tp_1</th>
                        <th>Fuente información</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="templateconnv15 : ${allTemplateContnv15}">
                        <th th:text="${templateconnv15.cuenta}"></th>
                        <th th:text="${templateconnv15.divisa}"></th>
                        <th th:text="${#numbers.formatDecimal(templateconnv15.sald,1,'POINT',2,'COMMA')}"></th>
                        <th th:text="${#numbers.formatDecimal(templateconnv15.salc,1,'POINT',2,'COMMA')}"></th>
                        <th th:text="${#numbers.formatDecimal(templateconnv15.diferencia,1,'POINT',2,'COMMA')}"></th>
                        <th th:text="${#numbers.formatDecimal(templateconnv15.saldDiv,1,'POINT',2,'COMMA')}"></th>
                        <th th:text="${#numbers.formatDecimal(templateconnv15.salcDiv,1,'POINT',2,'COMMA')}"></th>
                        <th th:text="${templateconnv15.observaciones}"></th>
                        <th th:text="${templateconnv15.tp}"></th>
                        <th th:text="${templateconnv15.tp1}"></th>
                        <th th:text="${templateconnv15.fuenteInformacion}"></th>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" th:if="${last != 0}">
                <div class="col-md-4 text-left">
                    <nav arial-label="Pagination">
                        <ul class="pagination">
                            <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{/ifrs/{dir}/?page={page}&vId={vId}&vFilter={vFilter}&period={period}(period=${period},vFilter=${vFilter},page=${prev},dir=${directory},vId=${vId})}">Anterior</a>
                            </li>
                            <li class="page-item" th:classappend="${current == last ? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{/ifrs/{dir}/?page={page}&vId={vId}&vFilter={vFilter}&period={period}(period=${period},vFilter=${vFilter},page=${next},dir=${directory},vId=${vId})}">Siguiente</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-4 text-center">
                    <h6 th:utext="${registers} + ' Registros Encontrados'"></h6>
                </div>
                <div class="col-md-4 text-right">
                    <h6 class="mx-1" th:utext="'Página ' + ${current} + ' de ' + ${last}"></h6>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <a class="btn btn-primary"
                   th:href="@{/ifrs/connv15/download/?period={period}&vFilter={vFilter}&vId={vId}(vFilter=${vFilter},vId=${vId},period=${period})}">Exportar
                    a Excel</a>
            </div>
        </div>
    </div>
</div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var queryString = window.location.search;
    var urlParams = new URLSearchParams(queryString);
    var respuesta = urlParams.get('resp');
    var row = urlParams.get('row');
    var column = urlParams.get('colum');
    var message = urlParams.get('message');
    validateAlerts(respuesta, row, column, message);
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });

    let myBtn = document.querySelector('#BtnDescon');

    myBtn.addEventListener('click', e => {
        e.preventDefault();

        let picker = document.querySelector('#picker')

        if (picker.value === '') {
            Swal.fire({
                title: 'Error',
                text: 'Seleccione una fecha válida',
                icon: 'error'
            })
        } else {
            Swal.fire({
                title: 'Atención!',
                text: `¿Está seguro de que el archivo de Contabilidad Nivel 15 en la ruta corresponde al periodo ${picker.value}?`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si,Cargar'
            }).then((result) => {
                if (result.isConfirmed) {
                    let form = document.querySelector('#myForm')
                    form.submit();
                }
            })
        }


    })


</script>
</body>
</html>