<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>
<div class="main-container">
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h3 class="fw-bold text-white mx-4 my-3">Cuadre Contable Motor CodNeocon</h3>
            <h5 th:utext="'Periodo: '+${period}" class="fw-bold text-white mx-4 my-3"></h5>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-end pe-5">
            <form class="form-inline" method="get" th:action="@{/ifrs9/fitDifferences}">
                <div class="input-group">
                    <div class="input-group-append d-flex align-items-center">
                        <h5 class="me-2 mb-0">Fecha Consulta: </h5>
                        <input id="period" type="month" th:name="period" th:value="${period}" class="form-control" required>
                        <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="content">
        <div class="row mt-5">
            <div class="col-md-8 d-block pr-3">
                <form enctype="multipart/form-data" id="fileUploadForm" method="post"
                      th:action="@{/ifrs9/fitDifferences/upload?period={period}(period=${period})}">
                    <div class="form-group my-3">
                        <label>Cargar archivo: </label> <input accept=".xlsx" class="custom-file-control" id="file"
                                                               name="file" required type="file">
                        <button class="btn btn-primary" type="submit">Cargar</button>
                    </div>
                </form>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-end">
                <a class="btn btn-primary mx-1" th:href="@{/ifrs9/fitDifferences?period={period}(period=${period})}"><i class="fas fa-redo-alt"></i></a>
            </div>
            <div class="col-md-12">
                <div class="table-responsive rounded border-primary">
                    <table class="table table-striped table-hover text-center table-bordered" id="example" width="100%">
                        <thead class="bg-primary">
                        <tr>
                            <th>Código Neocon</th>
                            <th>Fichero Saldos IFRS9</th>
                            <th>Ficha Saldos Inicial</th>
                            <th>Diferencias IFRS9 - PI</th>
                            <th>Saldo EEFF</th>
                            <th>Diferencia IFRS9 vs EEFF</th>
                            <th>Saldo Conciliación</th>
                            <th>Diferencia IFRS9 vs Conciliación</th>
                            <th>Diferencia EEFF vs Conciliación</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="adj : ${allFit}">
                            <td th:text="${adj.neocon}"></td>
                            <td th:text="${#numbers.formatDecimal(adj.ficheroSaldosIFRS9,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(adj.fichaSaldosInicial,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(adj.diferenciasIFRS9PI,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(adj.saldoEEFF,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(adj.diferenciaIFRS9EEFF,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(adj.saldoConciliacion,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(adj.diferenciaIFRS9Conciliacion,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(adj.diferenciaEEFFConciliacion,1,'POINT',2,'COMMA')}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" th:if="${last != 0}">
                    <div class="col-md-4 text-left">
                        <nav arial-label="Pagination">
                            <ul class="pagination">
                                <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
                                    <a class="page-link"
                                       th:href="@{/ifrs9/{dir}/?page={page}(page=${prev},dir=${directory})}">Anterior</a>
                                </li>
                                <li class="page-item" th:classappend="${current == last ? 'disabled' : ''}">
                                    <a class="page-link"
                                       th:href="@{/ifrs9/{dir}/?page={page}(page=${next},dir=${directory})}">Siguiente</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-4 text-center">
                        <h6 th:utext="${registers} + ' Registros Encontrados'"></h6>
                    </div>
                    <div class="col-md-4 text-right">
                        <h6 class="mx-1" th:utext="'Página ' + ${current} + ' de ' + ${last}"></h6>
                    </div>
                </div>
                <div class="pr-3 col-md-12 my-2">
                    <div class="d-flex align-items-center justify-content-center">
                        <a class="btn btn-large btn-primary mx-1" th:href="@{/ifrs9/fitDifferences/download?period={period}(period=${period})}">Exportar Excel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var queryString = window.location.search;
    var urlParams = new URLSearchParams(queryString);
    var respuesta = urlParams.get('resp');
    var row = urlParams.get('row');
    var column = urlParams.get('colum');
    validateAlerts(respuesta, row, column);
</script>
</body>

</html>