<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>
<div class="main-container">
  <div class="row m-0 bg-primary fixed-top myNav">
    <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
      <h3 class="fw-bold text-white mx-4 my-3">Perdida incurrida</h3>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-end pe-5">
      <a class="btn btn-secondary" th:href="@{/ifrs/incurredloss}"><i class="fas fa-redo-alt"></i></a>
    </div>
  </div>
  <div id="content">
    <div class="row mt-5">
      <div class="text-left pr-3 col-md-12 my-2">
        <form th:action="@{/ifrs/incurredloss}" id="fileUploadForm" enctype="multipart/form-data" method="post">
          <div class="form-group my-3">
            <label>Cargar archivo: </label> <input accept=".txt" type="file" name="file" class="custom-file-control" id="file" required>
            <button type="submit" class="btn btn-primary">Cargar</button>
          </div>
        </form>
      </div>
      <div class="col-md-12">
        <div class="table-responsive-sm rounded border-primary">
          <table class="table table-sm table-striped table-hover text-center table-bordered" id="example"
                 width="100%">
            <thead class="bg-primary">
            <tr>
              <th>Cuenta</th>
              <th>Centro</th>
              <th>Saldo</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lost : ${allLost}">
              <th th:text="${lost[0]}"></th>
              <td th:text="${lost[1]}"></td>
              <td th:text="${#numbers.formatDecimal(lost[2],1,'POINT',2,'COMMA')}"></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="row" th:if="${last != 0}">
          <div class="col-md-4 text-left">
            <nav arial-label="Pagination">
              <ul class="pagination">
                <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
                  <a class="page-link"
                     th:href="@{/ifrs/{dir}/?page={page}&vId={vId}&period={period}(period=${period},page=${prev},dir=${directory},vId=${vId})}">Anterior</a>
                </li>
                <li class="page-item" th:classappend="${current == last ? 'disabled' : ''}">
                  <a class="page-link"
                     th:href="@{/ifrs/{dir}/?page={page}&vId={vId}&period={period}(period=${period},page=${next},dir=${directory},vId=${vId})}">Siguiente</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-md-4 text-center">
            <h6 th:utext="${registers} + ' Registros Encontrados'"></h6>
          </div>
          <div class="col-md-4 text-right">
            <h6 class="mx-1" th:utext="'Página ' + ${current} + ' de ' + ${last}"></h6>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center" th:if="${filterExport != 'Original'}">
          <h5><span class="badge badge-pill text-light badge-info py-2 px-5">¡La Tabla se encuentra Filtrada!</span>
          </h5>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <a href="#exportModal" role="button" class="btn btn-large btn-primary mx-1" data-toggle="modal" th:if="${filterExport == 'Original'}">Exportar Tabla</a>
          <a class="btn btn-large btn-primary mx-1" th:href="@{/ifrs/incurredloss/download}">Exportar Resumen</a>
        </div>
        <div class="modal fade" id="exportModal">
          <div class="modal-dialog rounded-1 modal-dialog-centered modal-lg">
            <div class="modal-content">
              <form method="get" th:action="@{/ifrs/incurredloss/downloadDinamic}">
                <div class="modal-header bg-primary text-light">
                  <h4 class="modal-title">Exportar Perdida Incurrida</h4>
                  <button aria-hidden="true" class="close" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row text-center">
                    <h5 class="fw-bold">Seleccione los filtros</h5>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-text">
                        <label for="centro" class="col-form-label">Centro:</label>
                        <input type="text" class="form-control" id="centro" th:name="centro">
                      </div>
                      <div class="form-text">
                        <label for="cuenta" class="col-form-label">Cuenta:</label>
                        <input type="text" class="form-control" id="cuenta" th:name="cuenta">
                      </div>
                      <div class="form-text">
                        <label for="contrato" class="col-form-label">Contrato:</label>
                        <input type="text" class="form-control" id="contrato" th:name="contrato">
                      </div>
                      <div class="form-text">
                        <label for="segmento" class="col-form-label">Segmento:</label>
                        <input type="text" class="form-control" id="segmento" th:name="segmento">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-text">
                        <label for="stage" class="col-form-label">Stage:</label>
                        <input type="text" class="form-control" id="stage" th:name="stage">
                      </div>
                      <div class="form-text">
                        <label for="indicador_contrato" class="col-form-label">Indicador Contrato:</label>
                        <input type="text" class="form-control" id="indicador_contrato" th:name="indicador_contrato">
                      </div>
                      <div class="form-text">
                        <label for="saldo" class="col-form-label">Saldo:</label>
                        <input type="text" class="form-control" id="saldo" th:name="saldo">
                      </div>
                      <div class="form-text">
                        <label for="codigo_consolidacion" class="col-form-label">Código Consolidación:</label>
                        <input type="text" class="form-control" id="codigo_consolidacion" th:name="codigo_consolidacion">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                  <button class="btn btn-primary" type="submit">Exportar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!--<div id="exportModal" class="modal fade">
          <div class="modal-dialog rounded-1 modal-lg modal-dialog-centered">
            <div class="modal-content">
              <form method="get" th:action="@{/ifrs/incurredloss/downloadDinamic}">
                <div class="modal-header bg-primary text-light">
                  <h4 class="modal-title">Exporte Perdida Incurrida</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                  <p>Seleccione los Inputs a descargar:</p>
                  <div class="row px-3">
                    <div class="col-md-4">
                      <div class="input-group d-flex align-items-center mb-1">
                        <label>Cuenta</label>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="input-group-append d-flex align-items-center mb-1">
                        <select class="form-control" id="opcionCuenta" th:name="opcionCuenta" required>
                          <option selected>N/A</option>
                          <option> Igual </option>
                          <option> Diferente </option>
                          <option> Mayor que </option>
                          <option> Menor que </option>
                          <option> Contiene </option>
                          <option> No Contiene </option>
                        </select>
                        <input class="form-control" id="cuentaM" placeholder="Ingrese la cuenta" maxlength="18" name="cuentaM" type="text">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group d-flex align-items-center mb-1">
                        <label>Centro</label>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="input-group-append d-flex align-items-center mb-1">
                        <select class="form-control" id="opcionCentro" th:name="opcionCentro" required>
                          <option selected>N/A</option>
                          <option> Igual </option>
                          <option> Diferente </option>
                          <option> Mayor que </option>
                          <option> Menor que </option>
                          <option> Contiene </option>
                          <option> No Contiene </option>
                        </select>
                        <input class="form-control" id="centroM" maxlength="18" placeholder="Ingrese el centro" name="centroM" type="text">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group d-flex align-items-center mb-1">
                        <label>Contrato</label>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="input-group-append d-flex align-items-center mb-1">
                        <select class="form-control" id="opcionContrato" th:name="opcionContrato" required>
                          <option selected>N/A</option>
                          <option> Igual </option>
                          <option> Diferente </option>
                          <option> Mayor que </option>
                          <option> Menor que </option>
                          <option> Contiene </option>
                          <option> No Contiene </option>
                        </select>
                        <input class="form-control" id="contratoM" maxlength="18" placeholder="Ingrese el contrato" name="contratoM" type="text" >
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group d-flex align-items-center mb-1">
                        <label>Segmento</label>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="input-group-append d-flex align-items-center mb-1">
                        <select class="form-control" id="opcionSegmento" th:name="opcionSegmento" required>
                          <option selected>N/A</option>
                          <option> Igual </option>
                          <option> Diferente </option>
                          <option> Mayor que </option>
                          <option> Menor que </option>
                          <option> Contiene </option>
                          <option> No Contiene </option>
                        </select>
                        <input class="form-control" id="segmentoM" maxlength="18" placeholder="Ingrese el segmento" name="segmentoM" type="text">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group d-flex align-items-center mb-1">
                        <label>Stage</label>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="input-group-append d-flex align-items-center mb-1">
                        <select class="form-control" id="opcionStage" th:name="opcionStage" required>
                          <option selected>N/A</option>
                          <option> Igual </option>
                          <option> Diferente </option>
                          <option> Mayor que </option>
                          <option> Menor que </option>
                          <option> Contiene </option>
                          <option> No Contiene </option>
                        </select>
                        <input class="form-control" id="stageM" maxlength="18" placeholder="Ingrese el stage" name="stageM" type="text">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group d-flex align-items-center mb-1">
                        <label>Indicador Contrato</label>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="input-group-append d-flex align-items-center mb-1">
                        <select class="form-control" id="opcionIndicador" th:name="opcionIndicador" required>
                          <option selected>N/A</option>
                          <option> Igual </option>
                          <option> Diferente </option>
                          <option> Mayor que </option>
                          <option> Menor que </option>
                          <option> Contiene </option>
                          <option> No Contiene </option>
                        </select>
                        <input class="form-control" id="indicadorM" maxlength="18" placeholder="Ingrese el indicador de contrato" name="indicadorM" type="text">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group d-flex align-items-center mb-1">
                        <label>Código Consolidación</label>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="input-group-append d-flex align-items-center mb-1">
                        <select class="form-control" id="opcionCodigo" th:name="opcionCodigo" required>
                          <option selected>N/A</option>
                          <option> Igual </option>
                          <option> Diferente </option>
                          <option> Mayor que </option>
                          <option> Menor que </option>
                          <option> Contiene </option>
                          <option> No Contiene </option>
                        </select>
                        <input class="form-control" id="codigoM" maxlength="18" placeholder="Ingrese el código de consolidación" name="codigoM" type="text">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                  <button class="btn btn-primary" type="submit">Exportar</button>
                </div>
              </form>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</div>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script type="text/javascript">
    var queryString = window.location.search;
    var urlParams = new URLSearchParams(queryString);
    var respuesta = urlParams.get('resp');
    var row = urlParams.get('row');
    var column = urlParams.get('colum');
    validateAlerts(respuesta,row,column);
    $(document).ready(function() {
        $('#sidebarCollapse').on('click', function() {
            $('#sidebar').toggleClass('active');
        });
    });
</script>
</body>

</html>