<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>
<div class="main-container">
    <!-- Cover -->
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h3 class="fw-bold text-white mx-4 my-3">Ajustes Manuales</h3>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-end pe-5">
            <form class="form-inline" method="get" th:action="@{/ifrs/manualAdjustments}">
                <div class="input-group">
                    <div class="input-group-append d-flex align-items-center">
                        <h5 class="me-2 mb-0">Fecha Consulta: </h5>
                        <input class="form-control" required th:name="period" th:value="${period}" type="month">
                        <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row m-0 px-4 mt-5 justify-content-between">

        <div class="col-md-12 d-block mx-2 my-1">
            <div class="row my-1">
                <div class="align-items-center mb-1">
                    <form enctype="multipart/form-data" id="fileUploadForm"
                          method="post" th:action="@{/ifrs/manualAdjustments/upload?period={period}(period=${period})}">
                        <div class="form-group my-3">
                            <label>Cargar Ajustes Manuales: </label> <input accept=".xls,.xlsx,.xlsm" class="custom-file-control" id="file"
                                                                   name="file" required type="file">
                            <button class="btn btn-primary" type="submit">Cargar</button>
                            <button type="button" class="btn btn-primary mx-2" th:data1="${period}" id="clearTable" th:onclick="'javascript:operationDeleteReconIFRS9(\'MANUAL-ADJ\', this.getAttribute(\'data1\'))'">Limpiar Tabla por fecha</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive rounded border-primary">
                <table class="table table-sm table-striped table-hover text-center table-bordered" id="example"
                       width="100%">
                    <thead class="bg-primary">
                    <tr>
                        <th>Código Consolidación</th>
                        <th>Divisa</th>
                        <th>Fuente</th>
                        <td>Saldo</td>
                        <td>Observación</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="manual : ${allManuals}">
                        <th th:text="${manual.codicons}"></th>
                        <th th:text="${manual.divisaEspana}"></th>
                        <th th:text="${manual.fuente}"></th>
                        <td th:text="${#numbers.formatDecimal(manual.saldo,1,'POINT',2,'COMMA')}"></td>
                        <th th:text="${manual.observacion}"></th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" th:if="${last != 0}">
            <div class="col-md-4 text-left">
                <nav arial-label="Pagination">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
                            <a class="page-link"
                               th:href="@{/ifrs/{dir}/?page={page}(period=${period},page=${prev},dir=${directory})}">Anterior</a>
                        </li>
                        <li class="page-item" th:classappend="${current == last ? 'disabled' : ''}">
                            <a class="page-link"
                               th:href="@{/ifrs/{dir}/?page={page}(period=${period},page=${next},dir=${directory})}">Siguiente</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-4 text-center">
                <h6 th:utext="${registers} + ' Registros Encontrados'"></h6>
            </div>
            <div class="col-md-4 text-right">
                <h6 class="mx-1" th:utext="'Página ' + ${current} + ' de ' + ${last}"></h6>
            </div>
        </div>
    </div>

    <div class="pr-3 col-md-12 my-2">
        <div class="d-flex align-items-center justify-content-center">
            <a class="btn btn-primary" style="margin-right: 1%"
               th:href="@{/ifrs/manualAdjustments/download?period={period}(period=${period})}">Exportar Ajustes Manuales</a>
        </div>
    </div>
</div>
</div>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var queryString = window.location.search;
    var urlParams = new URLSearchParams(queryString);
    var respuesta = urlParams.get('resp');
    var row = urlParams.get('row');
    var column = urlParams.get('colum');
    validateAlerts(respuesta, row, column);
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>
</body>

</html>
