<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>
<div class="main-container">
  <!-- Cover -->
  <div id="content">
    <form th:object="${perimeterModify}" th:action="@{/ifrs/modifyPerimeter}" method="POST">
      <div class="row mt-5">
        <div class="col-md-12" >
          <h3 class="mb-3">Editar Perímetro EEFF IFRS9</h3>
          <input type="hidden" maxlength="5" id="id" name="id" class="form-control"  th:value="*{segmento}"  required>
        </div>
        <div class="col-md-6" >
          <div class="form-group mb-1">
            <label>Segmento</label>
            <input type="text" id="idNew" name="idNew" maxlength="5" class="form-control"  th:field="*{segmento}" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-1">
            <label>Subproducto</label>
            <input type="text" maxlength="20" class="form-control" th:field="*{subproducto}" placeholder="Ingrese el contrato origen" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-1">
            <label>Codigo consolidacion</label>
            <input type="text" maxlength="20"  class="form-control" th:field="*{codConso}" placeholder="Ingrese el Codigo consolidacion" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-1">
            <label>Saldo Query</label>
            <input type="text" maxlength="20"  class="form-control" th:field="*{saldoQuery}" placeholder="Ingrese el saldo Query" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-1">
            <label>Saldo Neocon</label>
            <input type="text" maxlength="20"  class="form-control" th:field="*{saldoNeocon}" placeholder="Ingrese el Saldo Neocon" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-1">
            <label>Diferencias saldos</label>
            <input type="text" maxlength="20"  class="form-control" th:field="*{difSaldos}" placeholder="Ingrese la Diferencias saldos" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="button d-inline-block mt-3 justify-content-center btn btn-primary">Modificar</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-grid gap-2 col-6 mx-auto">
            <a class="button d-inline-block mt-3 justify-content-center btn btn-primary"th:href="@{/ifrs/perimeter}">Volver</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function() {
      $('#sidebarCollapse').on('click', function() {
        $('#sidebar').toggleClass('active');
      });
    });
  </script>
</body>
</html>