<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>

<div class="main-container">
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h3 class="fw-bold text-white mx-4 my-3">Calculo 1%</h3>
            <h5 class="fw-bold text-white mx-4 my-3" th:utext="'Periodo: '+${period}"></h5>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-end pe-5">
            <form class="form-inline" method="get" th:action="@{/ifrs9/onePercent}">
                <div class="input-group">
                    <div class="input-group-append d-flex align-items-center">
                        <h5 class="me-2 mb-0">Fecha Consulta: </h5>
                        <input class="form-control" required th:name="period" th:value="${period}" type="month">
                        <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row m-0 px-4 mt-5">
        <div class="col-md-12 d-flex align-items-center justify-content-end p-0 m-0">
            <div class="row my-3 p-0">
                <div class="col-3 d-flex align-content-center justify-content-start">
                    <form class="row g-3 align-items-center w-75"
                          th:action="@{/ifrs9/onePercent/massiveCharge?period={period}(period=${period})}">
                        <div class="col-3">
                            <label class="form-label m-0 p-0 font-weight-bold" for="excCharge">Versión:</label>
                        </div>
                        <div class="col-6">
                            <select class="form-select" id="excCharge" name="excVer" required th:name="excVer">
                                <option selected value="">Versión</option>
                                <option value="1">Versión 1</option>
                                <option value="2">Versión 2</option>
                                <option value="3">Versión 3</option>
                                <option value="4">Versión 4</option>
                                <option value="5">Versión 5</option>
                                <option value="6">Versión 6</option>
                                <option value="7">Versión 7</option>
                                <option value="8">Versión 8</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-primary mb-0" type="submit">Carga Masiva Excel</button>
                        </div>
                    </form>
                </div>
                <div class="col-3 d-flex align-content-center justify-content-start">
                    <form class="row g-3 align-items-center w-75"
                          th:action="@{/ifrs9/onePercent/downloadCsv}">
                        <div class="col-3">
                            <label class="form-label m-0 p-0 font-weight-bold" for="csvCharge">Versión:</label>
                            <input type="hidden" th:id="period" th:name="period" th:value="${period}">
                        </div>
                        <div class="col-6">
                            <select class="form-select" id="csvCharge" name="csvCharge" required th:name="csvCharge">
                                <option selected value="">Versión</option>
                                <option value="1">Versión 1</option>
                                <option value="2">Versión 2</option>
                                <option value="3">Versión 3</option>
                                <option value="4">Versión 4</option>
                                <option value="5">Versión 5</option>
                                <option value="6">Versión 6</option>
                                <option value="7">Versión 7</option>
                                <option value="8">Versión 8</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-primary mb-0" type="submit">Carga Masiva Csv</button>
                        </div>
                    </form>
                </div>
                <div class="col-3 d-flex align-content-center justify-content-start">
                    <form class="row g-3 align-items-center w-75" id="formJob"
                          method="get"
                          th:action="@{/ifrs9/onePercent/forceData/upload?period={period}&version={version}(period=${period},version=${version})}">
                        <div class="col-3">
                            <label class="form-label m-0 p-0 font-weight-bold" for="forceJob">Versión:</label>
                        </div>
                        <div class="col-6">
                            <select class="form-select" id="forceJob" name="forceJob" required th:name="forceJob">
                                <option selected value="">Versión</option>
                                <option value="1">Versión 1</option>
                                <option value="2">Versión 2</option>
                                <option value="3">Versión 3</option>
                                <option value="4">Versión 4</option>
                                <option value="5">Versión 5</option>
                                <option value="6">Versión 6</option>
                                <option value="7">Versión 7</option>
                                <option value="8">Versión 8</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-primary mb-0" id="btnJobForm" type="button">Forzar Ejecución</button>
                        </div>
                    </form>
                </div>
                <div class="col-3 d-flex align-items-center justify-content-end">
                    <a class="btn btn-primary mx-1"
                       th:href="@{/ifrs9/onePercent/downloadAnexo8?period={period}(period=${period})}">
                        Exportar Anexo 8
                    </a>
                    <a class="btn btn-primary mx-1"
                       th:href="@{/ifrs9/onePercent/upload?period={period}(period=${period})}">
                        Generar Tablón
                    </a>
                    <a class="btn btn-primary mx-1"
                       th:href="@{/ifrs9/onePercent?period={period}(period=${period})}">
                        <i class="fas fa-redo-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-12 p-0">
            <div class="table-responsive rounded border-primary">
                <table class="table table-sm table-striped table-hover text-center table-bordered" id="example">
                    <thead class="bg-primary">
                    <tr>
                        <th>Oficina</th>
                        <th>Nucta</th>
                        <th>Cálculo 1</th>
                        <th>Cálculo 2</th>
                        <th>Cálculo 3</th>
                        <th>Cálculo 4</th>
                        <th>Cálculo 5</th>
                        <th>Cálculo 6</th>
                        <th>Cálculo 7</th>
                        <th>Cálculo 8</th>
                        <th>Porcentaje Calculado</th>
                        <th>Cuenta Balance</th>
                        <th>Cuenta PyG</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="calc: ${allPerc}">
                        <th th:text="${calc.getOficina()}"></th>
                        <th th:text="${calc.getNucta()}"></th>
                        <th th:text="${#numbers.formatDecimal(calc.getCalculo1(),1,'POINT',2,'COMMA')}"></th>
                        <th th:text="${#numbers.formatDecimal(calc.getCalculo2(),1,'POINT',2,'COMMA')}"></th>
                        <th th:text="${#numbers.formatDecimal(calc.getCalculo3(),1,'POINT',2,'COMMA')}"></th>
                        <th th:text="${#numbers.formatDecimal(calc.getCalculo4(),1,'POINT',2,'COMMA')}"></th>
                        <th th:text="${#numbers.formatDecimal(calc.getCalculo5(),1,'POINT',2,'COMMA')}"></th>
                        <th th:text="${#numbers.formatDecimal(calc.getCalculo6(),1,'POINT',2,'COMMA')}"></th>
                        <th th:text="${#numbers.formatDecimal(calc.getCalculo7(),1,'POINT',2,'COMMA')}"></th>
                        <th th:text="${#numbers.formatDecimal(calc.getCalculo8(),1,'POINT',2,'COMMA')}"></th>
                        <th th:text="${calc.getPorcentajeCalc()}"></th>
                        <th th:text="${calc.getCuentaBalance()}"></th>
                        <th th:text="${calc.getCuentaPyG()}"></th>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" th:if="${last != 0}">
                <div class="col-md-4 text-left">
                    <nav arial-label="Pagination">
                        <ul class="pagination">
                            <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{/ifrs9/{dir}/?page={page}&period={period}(period=${period},page=${prev},dir=${directory})}">Anterior</a>
                            </li>
                            <li class="page-item" th:classappend="${current == last ? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{/ifrs9/{dir}/?page={page}&period={period}(period=${period},page=${next},dir=${directory})}">Siguiente</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-4 text-center">
                    <h6 th:utext="${registers} + ' Registros Encontrados'"></h6>
                </div>
                <div class="col-md-4 text-right">
                    <h6 class="mx-1" th:utext="'Página ' + ${current} + ' de ' + ${last}"></h6>
                </div>
            </div>
            <div class="pr-3 col-md-12 my-2">
                <div class="d-flex align-items-center justify-content-center">
                    <a class="btn btn-primary"
                       th:href="@{/ifrs9/onePercent/download?period={period}(period=${period})}">Exportar Tablón 1%</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<script type="text/javascript">

    var queryString = window.location.search;
    var urlParams = new URLSearchParams(queryString);
    var respuesta = urlParams.get('resp');
    var row = urlParams.get('row');
    var column = urlParams.get('colum');
    validateAlerts(respuesta, row, column);

    let myBtn = document.querySelector('#btnJobForm');

    myBtn.addEventListener('click', e => {
        e.preventDefault();

        let selectOpt = document.querySelector('#forceJob');
        let selectedOpt = selectOpt.options[selectOpt.selectedIndex].value;

        console.log(selectOpt)
        console.log(selectedOpt)

        if (selectedOpt === '') {
            Swal.fire({
                title: 'Error',
                text: 'Debe seleccionar una versión para el 1%',
                icon: 'error'
            })
        } else {
            Swal.fire({
                title: 'Atención!',
                text: "Está seguro de forzar la carga del 1%?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirmar'
            }).then((result) => {
                if (result.isConfirmed) {
                    let form = document.querySelector('#formJob')
                    form.submit();
                }
            })
        }


    })


</script>

</body>
</html>