<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>
<div class="main-container">

    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h3 class="fw-bold text-white mx-4 my-3">Riesgos de mercado</h3>
            <!--<h5 th:utext="'Periodo: '+${vFilter}" class="fw-bold text-white mx-4 my-3"></h5>-->
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-end pe-5">
            <form class="form-inline" method="get" th:action="@{/ifrs/Risk?period={period}(period=${period})}">
                <div class="input-group">
                    <div class="input-group-append d-flex align-items-center">
                        <h5 class="me-2 mb-0">Fecha Consulta: </h5>
                        <input type="month" th:name="period" th:value="${period}" class="form-control" required>
                        <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Cover -->
    <div id="content">
        <div class="row mt-5">
            <!--<div class="text-right col-md-12">
                <form class="form-inline" method="get" th:action="@{/ifrs/Risk?period={period}(period=${period})}" style="justify-content: end">
                    <div class="input-group">
                        <div class="input-group-append">
                            <label class="h5 mx-2">Fecha Consulta:  </label>
                            <input type="month" th:name="period" th:value="${period}" class="form-control" required>
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>-->
            <div class="text-left pr-3 col-md-6 my-2">
                <form th:action="@{/ifrs/Risk?period={period}(period=${period})}" id="fileUploadForm" enctype="multipart/form-data" method="post">
                    <div class="form-group my-3">
                        <label>Cargar archivo: </label> <input accept=".xls,.xlsx,.xlsm" type="file" name="file" class="custom-file-control" id="file" required>
                        <button type="submit" class="btn btn-primary">Cargar</button>
                    </div>
                </form>
            </div>
            <div class="col-md-12">
                <div class="table-responsive rounded border-primary">
                    <table id="example" class="table table-sm table-striped table-hover text-center table-bordered" width="100%">
                        <thead class="bg-primary">
                        <tr>
                            <!--<th>Contrato</th>
                            <th>Familia Inicial</th>
                            <th>Familia Final</th>
                            <th>Codigo Cliente</th>
                            <th>Stage Inicial</th>
                            <th>Stage Final</th>
                            <th>Edad Inicial</th>
                            <th>Edad Final</th>
                            <th>Y01 Inicial</th>
                            <th>Y01 Final</th>
                            <th>Prov Inicial</th>
                            <th>Prov Final</th>
                            <th>Ajuste Provision</th>
                            <th>Numero Caso</th>
                            <th>CMCO_IMP_SDFUBA_CON</th>
                            <th>CMCO_IMP_RACREG_CON</th>
                            <th>FAMILIA</th>
                            <th COLSPAN="2">Acciones</th>-->
                            <th>Número papeleta</th>
                            <th>Cod Puc</th>
                            <th>Valor total</th>
                            <th>Intereses</th>
                            <th>Causacion hoy</th>
                            <th>Moneda</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--<tr th:each="templateRisk : ${allTemplateRisk}">
                            <th th:text="${templateRisk.CMCO_COD_CCONTR}"></th>
                            <td th:text="${templateRisk.CMCO_COD_FAMILIA_FINAL}"></td>
                            <td th:text="${templateRisk.CMCO_COD_FAMILIA_FINAL}"></td>
                            <td th:text="${templateRisk.CMCO_COD_CLIENT}"></td>
                            <td th:text="${templateRisk.CMCO_IND_STAGE_INICIAL}"></td>
                            <td th:text="${templateRisk.CMCO_IMP_SDFUBA_CON}"></td>
                            <td th:text="${templateRisk.EAD_INICIAL}"></td>
                            <td th:text="${templateRisk.EAD_FINAL}"></td>
                            <td th:text="${templateRisk.EAD_Y01_INICIAL}"></td>
                            <td th:text="${templateRisk.EAD_Y01_FINAL}"></td>
                            <td th:text="${templateRisk.CMCO_IMP_PROV_INICIAL}"></td>
                            <td th:text="${templateRisk.CMCO_IMP_PROV_FINAL}"></td>
                            <td th:text="${templateRisk.VALOR_AJUSTE_PROVISION}"></td>
                            <td th:text="${templateRisk.numero_caso}"></td>
                            <td th:text="${templateRisk.CMCO_IMP_SDFUBA_CON}"></td>
                            <td th:text="${templateRisk.CMCO_IMP_RACREG_CON}"></td>
                            <td th:text="${templateRisk.FAMILIA}"></td>
                            <td><button class="btn btn-primary" id="clearTableOne" th:data1="${templateRisk.CMCO_COD_CCONTR}" th:onclick="'javascript:operationDeleteOne(this.getAttribute(\'data1\'),\'Risk\')'">Eliminar</button></td>-->
                        <tr th:each="templateBank,iter : ${allTemplateRisk}">
                            <th th:text="${templateBank.numeroPapeleta}"></th>
                            <th th:text="${templateBank.codPuc}"></th>
                            <th th:text="${templateBank.valorTotal}"></th>
                            <th th:text="${templateBank.intereses}"></th>
                            <th th:text="${templateBank.causacionHoy}"></th>
                            <th th:text="${templateBank.moneda}"></th>
                        </tr>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" th:if="${last != 0}">
            <div class="col-md-4 text-left">
                <nav arial-label="Pagination">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{/ifrs/{dir}/?page={page}(period=${period},page=${prev},dir=${directory})}">Anterior</a>
                        </li>
                        <li class="page-item" th:classappend="${current == last ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{/ifrs/{dir}/?page={page}(period=${period},page=${next},dir=${directory})}">Siguiente</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-4 text-center">
                <h6 th:utext="${registers} + ' Registros Encontrados'"></h6>
            </div>
            <div class="col-md-4 text-right">
                <h6 class="mx-1" th:utext="'Página ' + ${current} + ' de ' + ${last}" ></h6>
            </div>
        </div>
    </div>
</div>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script type="text/javascript">
    var queryString = window.location.search;
    var urlParams = new URLSearchParams(queryString);
    var respuesta = urlParams.get('resp');
    var row = urlParams.get('row');
    var column = urlParams.get('colum');
    validateAlerts(respuesta,row,column);
    $(document).ready(function() {
        $('#sidebarCollapse').on('click', function() {
            $('#sidebar').toggleClass('active');
        });
    });
</script>
</body>

</html>
