<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/menuTemplate :: menuHead"></div>
<body>

<div th:replace="fragments/menuTemplate :: menuBody"></div>
<div class="main-container">

    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-8 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h3 class="fw-bold text-white mx-4 my-3">Patrimoniales</h3>
            <h5 th:utext="'Periodo: '+${period}" class="fw-bold text-white mx-4 my-3"></h5>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-end pe-5">
            <form class="form-inline" method="get"
                  th:action="@{/eeffConsolidated/EeffPatrimoniales?period={period}(period=${period})}">
                <div class="input-group">
                    <div class="input-group-append d-flex align-items-center">
                        <h5 class="me-2 mb-0">Fecha Consulta: </h5>
                        <input type="month" th:name="period" th:value="${period}" class="form-control" required>
                        <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row m-0 px-4 mt-5">
        <div class="row m-1 p-0">
            <!-- Botones en la mitad de la pantalla -->
            <div class="col-md-6 offset-md-3 text-center my-1">
                <a class="btn btn-primary mx-1"
                   th:href="@{/eeffConsolidated/EeffPatrimoniales?period={period}&order={order}(period=${period},order=${order})}">Fiduciaria</a>

                <a class="btn btn-info mx-1"
                   th:href="@{/eeffConsolidated/EeffPatrimonialesValores?period={period}&order={order}(period=${period},order=${order})}">Valores</a>

                <a class="btn btn-info mx-1"  th:href="@{/eeffConsolidated/EeffPatrimonialesAsiento?period={period}&order={order}(period=${period},order=${order})}">Asiento</a>

                <a class="btn btn-primary mx-1" th:href="@{/eeffConsolidated/EeffPatrimoniales}"><i
                        class="fas fa-redo-alt"></i></a>
            </div>
        </div>

        <div class="col-md-6 offset-md-3 text-center my-1">
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary mx-1"
                   th:href="@{/eeffConsolidated/procesarEliminacionesPatrimonio?period={period}&order={order}(period=${period},order=${order})}">Generar Eliminaciones</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="table-responsive rounded border-primary">
                <table class="table table-sm table-striped table-hover text-center table-bordered"
                       id="example" width="100%">
                    <thead class="bg-primary">
                    <tr>
                        <th colspan="3">Verificación Patrimonio Fiduciaria</th>
                    </tr>
                    <tr>
                        <th>Concepto</th>
                        <th>Cuenta</th>
                        <th>Saldo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="data : ${ListaEliminacion}">
                        <td class="bg-primary" th:text="${data.concepto}" colspan="2" th:if="${data.concepto == 'Total'}"></td>
                        <td th:text="${data.concepto}" th:if="${data.concepto != 'Total'}"></td>
                        <td th:text="${data.cuenta}" th:if="${data.concepto != 'Total'}"></td>
                        <td th:text="${#numbers.formatDecimal(data.getSaldo(),1,'POINT',2,'COMMA')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive rounded border-primary">
                <table class="table table-sm table-striped table-hover text-center table-bordered"
                       id="example1" width="100%">
                    <thead class="bg-primary">
                    <tr>
                        <th colspan="2">Validación Patrimonio Fiduciaria</th>
                    </tr>
                    <tr>
                        <th>Concepto</th>
                        <th>Saldo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="data : ${ValidacionP}">
                        <td th:text="${data.concepto}"></td>
                        <td th:text="${#numbers.formatDecimal(data.getSaldo(),1,'POINT',2,'COMMA')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-4">
            <div class="table-responsive rounded border-primary">
                <table class="table table-sm table-striped table-hover text-center table-bordered"
                       id="example1" width="100%">
                    <thead class="bg-primary">
                    <tr>
                        <th colspan="2">Total Patrimonio Fiduciaria</th>
                    </tr>
                    <tr>
                        <th>Concepto</th>
                        <th>Saldo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="data : ${VerificacionF}">
                        <td th:text="${data.concepto}"></td>
                        <td th:text="${#numbers.formatDecimal(data.getSaldo(),1,'POINT',2,'COMMA')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive rounded border-primary">
                <table class="table table-sm table-striped table-hover text-center table-bordered"
                       id="example1" width="100%">
                    <thead class="bg-primary">
                    <tr>
                        <th colspan="2">Validación Contabilidad Eliminación</th>
                    </tr>
                    <tr>
                        <th>Concepto</th>

                        <th>Saldo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="data : ${ValidacionC}">
                        <td th:text="${data.concepto}"></td>
                        <td th:text="${#numbers.formatDecimal(data.getSaldo(),1,'POINT',2,'COMMA')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-4">
            <div class="table-responsive rounded border-primary">
                <table class="table table-sm table-striped table-hover text-center table-bordered"
                       id="example" width="100%">
                    <thead class="bg-primary">
                    <tr>
                        <th colspan="3">Contabilidad Eliminación</th>
                    </tr>
                    <tr>
                        <th>Concepto</th>
                        <th>Cuenta</th>
                        <th>Saldo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="data : ${ContabilidadE}">
                        <td th:text="${data.concepto}"></td>
                        <td th:text="${data.cuenta}"></td>
                        <td th:text="${#numbers.formatDecimal(data.getSaldo(),1,'POINT',2,'COMMA')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive rounded border-primary">
                <table class="table table-sm table-striped table-hover text-center table-bordered"
                       id="example" width="100%">
                    <thead class="bg-primary">
                    <tr>
                        <th colspan="2">Validación Final Fiduciaria</th>
                    </tr>
                    <tr>
                        <th>Concepto</th>
                        <th>Saldo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="data : ${ValidacionFinal}">
                        <td th:text="${data.concepto}" th:if="${data.concepto != 'Total'}"></td>
                        <td class="bg-primary" th:text="${data.concepto}" th:if="${data.concepto == 'Total'}"></td>
                        <td th:text="${#numbers.formatDecimal(data.getSaldo(),1,'POINT',2,'COMMA')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    var queryString = window.location.search;
    var urlParams = new URLSearchParams(queryString);
    var respuesta = urlParams.get('resp');
    var row = urlParams.get('row');
    var column = urlParams.get('colum');
    validateAlerts(respuesta, row, column);
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });

</script>
</body>
</html>