<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>
<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>
<div class="main-container">

    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-8 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h3 class="fw-bold text-white mx-4 my-3">EEFF Filiales</h3>
            <h5 th:utext="'Perfil Actual: '+${rol}" class="fw-bold text-white mx-4 my-3"></h5>
            <h5 th:utext="'Periodo: '+${period}" class="fw-bold text-white mx-4 my-3"></h5>
        </div>

        <div class="col-md-4 d-flex align-items-center justify-content-end pe-5">
            <form class="form-inline" method="get"
                  th:action="@{/eeffConsolidated/filialesBanco?period={period}(period=${period})}">
                <div class="input-group">
                    <div class="input-group-append d-flex align-items-center">
                        <h5 class="me-2 mb-0">Fecha Consulta: </h5>
                        <input type="month" th:name="period" th:value="${period}" class="form-control" required>
                        <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div id="content">
        <div class="row mt-5">

            <div class="d-flex align-items-center justify-content-center p-1" th:if="${rol == 'Banco'}">
                <div class="col-4 border">
                    <form th:action="@{/eeffConsolidated/CargarQueryBanco}"
                          id="ValoresfileUploadFormEEFF" enctype="multipart/form-data" method="post">
                        <input th:type="hidden" th:name="period" th:value="${period}">
                        <div class="form-group my-3 align-items-end">
                            <div class="col-12 mb-2">
                                <input accept=".txt" type="file" name="file" class="custom-file-control" id="file"
                                       required>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Cargar EEFF</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-4 border">
                    <form th:action="@{/eeffConsolidated/CargarSFCBanco}"
                          id="ValoresfileUploadFormSFC" enctype="multipart/form-data" method="post">
                        <input th:type="hidden" th:name="period" th:value="${period}">
                        <div class="form-group my-3 align-items-end">
                            <div class="col-12 mb-2">
                            <label></label> <input accept=".pt,.txt,.csv" type="file" name="file"
                                                   class="custom-file-control" id="file" required>
                            </div>
                            <div class="col-12">
                            <button type="submit" class="btn btn-primary">Cargar Soporte SFC</button>
                            </div>
                        </div>
                    </form>

                </div>

                <div class="col-4 border">
                    <form th:action="@{/eeffConsolidated/CargarQueryAjusteBanco}"
                          id="QueryBanco" enctype="multipart/form-data" method="post">
                        <input th:type="hidden" th:name="period" th:value="${period}">
                        <div class="form-group my-3 align-items-end">
                            <div class="col-12 mb-2">
                            <input accept=".xlsx" type="file" name="file" class="custom-file-control" id="file" required>
                            </div>
                            <div class="col-12">
                            <button type="submit" class="btn btn-primary">Cargar Ajuste</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-center my-1 text-center">
                <a class="btn btn-sm btn-info mx-1"
                   th:href="@{/eeffConsolidated/processQueryBanco/?period={period}(period=${period})}">Procesar Ajustes EEFF Banco</a>
            </div>


                <!---   <form th:action="@{/eeffConsolidated/ConfirmarFiduciaria?period={period}&rol={rol}(period=${period},rol=${rol})}"
                         id="confirmarFiduciaria"
                         method="post" class="d-flex justify-content-center mt-3">
                       <div class="d-flex justify-content-center mt-3">
                           <button type="submit" class="btn btn-info"
                                   th:if="${estadoDelRegistro == 'SUCCESS'}">
                               Confirmar Archivos
                           </button>
                           <button type="submit" class="btn btn-info" disabled
                                   th:if="${estadoDelRegistro == 'CONFIRMADO'}">
                               Información Confirmada
                           </button>
                           <button type="submit" class="btn btn-info" disabled
                                   th:if="${estadoDelRegistro == 'PENDING'}">
                               Cargue los tres archivos para confirmar la información
                           </button>
                       </div>
                   </form> --->
                </th:block>



                <th:block th:if="${rol == 'Banco'}">

                    <div class="col-md-12">

                        <div class="table-responsive table-responsive-sm rounded border-primary">
                            <table class="table table-sm table-striped table-hover text-center table-bordered"
                                   id="example"
                                   width="100%">

                                <thead class="bg-primary">
                                <tr>
                                    <th style="font-size: 14px;">Empresa</th>
                                    <th style="font-size: 14px;">Nucta</th>
                                    <th style="font-size: 14px;">Fecont</th>
                                    <th style="font-size: 14px;">Coddiv</th>
                                    <th style="font-size: 14px;">Salmes</th>
                                    <th style="font-size: 14px;">Salmesd</th>
                                    <th style="font-size: 14px;">Salmed</th>
                                    <th style="font-size: 14px;">Salmedd</th>
                                    <th style="font-size: 14px;">Codigest</th>
                                    <th style="font-size: 14px;">Codicons</th>
                                    <th style="font-size: 14px;">Fech Proce</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="data : ${listaDeDatosBanco}">
                                    <td th:text="${data.empresa}" style="font-size: 12px;"></td>
                                    <td th:text="${data.getNUCTA()}" style="font-size: 12px;"></td>
                                    <td th:text="${data.getFECONT()}" style="font-size: 12px;"></td>
                                    <td th:text="${data.getCODDIV()}" style="font-size: 12px;"></td>
                                    <td th:text="${#numbers.formatDecimal(data.getSALMES(),1,'POINT',2,'COMMA')}"
                                        style="font-size: 12px;"></td>
                                    <td th:text="${#numbers.formatDecimal(data.getSALMED(),1,'POINT',2,'COMMA')}"
                                        style="font-size: 12px;"></td>
                                    <td th:text="${#numbers.formatDecimal(data.getSALMED(),1,'POINT',2,'COMMA')}"
                                        style="font-size: 12px;"></td>
                                    <td th:text="${#numbers.formatDecimal(data.getSALMEDD(),1,'POINT',2,'COMMA')}"
                                        style="font-size: 12px;"></td>
                                    <td th:text="${data.getCODIGEST()}" style="font-size: 12px;"></td>
                                    <td th:text="${data.getCODICONS()}" style="font-size: 12px;"></td>
                                    <td th:text="${data.getFECHPROCE()}" style="font-size: 12px;"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row" th:if="${last != 0}">
                        <div class="col-md-4 text-left">
                            <nav arial-label="Pagination">
                                <ul class="pagination">
                                    <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
                                        <a class="page-link"
                                           th:href="@{/eeffConsolidated/{dir}/?page={page}&period={period}&vFilter={vFilter}(vFilter=${vFilter},page=${prev},dir=${directory},period=${period})}">Anterior</a>
                                    </li>
                                    <li class="page-item" th:classappend="${current == last ? 'disabled' : ''}">
                                        <a class="page-link"
                                           th:href="@{/eeffConsolidated/{dir}/?page={page}&period={period}&vFilter={vFilter}(vFilter=${vFilter},page=${next},dir=${directory},period=${period})}">Siguiente</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-md-4 text-center">
                            <h6 th:utext="${registers} + ' Registros Encontrados'"></h6>
                        </div>
                        <div class="col-md-4 text-right">
                            <h6 class="mx-1" th:utext="'Página ' + ${current} + ' de ' + ${last}"></h6>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-md-2 text-center">
                                <form th:action="@{/eeffConsolidated/DescargarEeffBanco}" id="descargarEeff" method="get">
                                    <div class="form-group my-3 align-items-end">
                                        <input th:type="hidden" th:name="period" th:value="${period}">
                                        <button type="submit" class="btn btn-primary">Descargar EEFF</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-2 text-center">
                                <a th:href="@{/eeffConsolidated/descargarSfcBanco?period={period}&rol={rol}(period=${period},rol=${rol})}" class="btn btn-primary">Descargar SFC</a>
                            </div>
                            <div class="col-md-2 text-center">
                                <form th:action="@{/eeffConsolidated/DescargarPUCCompletoBanco}" id="descargarBanco" method="get">
                                    <div class="form-group my-3 align-items-end">
                                        <input th:type="hidden" th:name="period" th:value="${period}">
                                        <button type="submit" class="btn btn-primary">Descargar PUC </button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-2 text-center">
                                <form th:action="@{/eeffConsolidated/DescargarPlantillaBanco}" id="descargarQBanco" method="get">
                                    <div class="form-group my-3 align-items-end">
                                        <input th:type="hidden" th:name="period" th:value="${period}">
                                        <button type="submit" class="btn btn-primary">Descargar Plantilla Ajuste</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </th:block>
            </div>
        </div>

        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
                integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
                integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
                crossorigin="anonymous"></script>
        <script type="text/javascript">
            var queryString = window.location.search;
            var urlParams = new URLSearchParams(queryString);
            var respuesta = urlParams.get('resp');
            var row = urlParams.get('row');
            var column = urlParams.get('colum');
            validateAlerts(respuesta, row, column);
            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            });
        </script>
</body>
</html>