<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>
<div class="main-container">

    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-8 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h3 class="fw-bold text-white mx-4 my-3">Verificación Filiales</h3>
            <h5 th:utext="'Periodo: '+${period}" class="fw-bold text-white mx-4 my-3"></h5>


        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-end pe-5">
            <form class="form-inline" method="get"
                  th:action="@{/eeffConsolidated/SubsidiaryVerification?period={period}(period=${period})}">
                <div class="input-group">
                    <div class="input-group-append d-flex align-items-center">
                        <h5 class="me-2 mb-0">Fecha Consulta: </h5>
                        <input type="month" th:name="period" th:value="${period}" class="form-control" required>
                        <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

            <div id="content">
                <div class="row mt-5">
                    <div class="col-md-12">
                        <div class="table-responsive table-responsive-sm rounded border-primary">
                            <table class="table table-sm table-striped table-hover text-center table-bordered" id="example"
                                   width="100%">
                                <thead class="bg-primary">
                                <tr>
                                    <th>Entidad</th>
                                    <th>PUC</th>
                                    <th>EEFF</th>
                                    <th>Soporte SFC</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="data : ${listaDeDatosVerificados}">
                                    <td th:text="${data.entidad}"></td>
                                    <td>
                                        <a th:if="${data.carguePuc == null}"> No Cargado <i class="fa fa-times-circle fa-2x text-danger"></i></a>
                                        <a th:if="${data.carguePuc != null}">
                                            <div th:text="${#dates.format(data.carguePuc, 'yyyy-MM-dd HH:mm')}"></div>
                                            <i class="fa fa-check-circle fa-2x text-success"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a th:if="${data.cargueEeff == null}"> No Cargado <i class="fa fa-times-circle fa-2x text-danger"></i></a>
                                        <a th:if="${data.cargueEeff != null}">
                                            <div th:text="${#dates.format(data.cargueEeff, 'yyyy-MM-dd HH:mm')}"></div>
                                            <i class="fa fa-check-circle fa-2x text-success"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a th:if="${data.cargueSoporteSfc == null and data.entidad != 'Banco'}"> No Cargado <i class="fa fa-times-circle fa-2x text-danger"></i></a>
                                        <a th:if="${data.cargueSoporteSfc == null and data.entidad == 'Banco'}"> No Aplica <i class="fa fa-times-circle fa-2x text-danger"></i></a>
                                        <a th:if="${data.cargueSoporteSfc != null}">
                                            <div th:text="${#dates.format(data.cargueSoporteSfc, 'yyyy-MM-dd HH:mm')}"></div>
                                            <i class="fa fa-check-circle fa-2x text-success"></i>
                                        </a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12 text-center">
                        <form th:action="@{/eeffConsolidated/Guardar?period={period}&rol={rol}(period=${period},rol=${rol})}"
                              id="GuardarFiduciaria" method="post">
                            <button type="submit" class="btn btn-primary">Actualizar información Banco</button>
                        </form>
                    </div>
                </div>
                <div class="row" th:if="${last != 0}">
                    <div class="col-md-4 text-left">
                        <nav aria-label="Pagination">
                        </nav>
                    </div>
                </div>
            </div>
        </div>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    var queryString = window.location.search;
    var urlParams = new URLSearchParams(queryString);
    var respuesta = urlParams.get('resp');
    var row = urlParams.get('row');
    var column = urlParams.get('colum');
    validateAlerts(respuesta, row, column);
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });

</script>
</body>


</html>