<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>

<div class="main-container">
    <div class="row m-0 bg-primary fixed-top myNav d-flex justify-content-between">
        <form class="form-inline" method="get" th:action="@{/briefcase/f351icrv}">
            <div class="col-md-4 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
                <h3 class="fw-bold text-white mx-4 my-3">F351 ICRV</h3>
                <h5 class="fw-bold text-white mx-4 my-3" th:utext="'Periodo: '+${period}"></h5>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-start">

            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-start">
                <div class="input-group d-flex align-items-center ">
                    <div class="input-group-append d-flex align-items-center">
                        <h5 class="me-2 mb-0">Fecha Consulta: </h5>
                        <input class="form-control rounded" required th:name="period" th:value="${period}" type="month">
                        <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                    <div class="input-group-append d-flex align-items-center">
                        <a class="btn btn-secondary" th:href="@{/briefcase/f351icrv?period={period}(period=${period})}"><i
                                class="fas fa-window-close"></i></a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id="content">
        <div class="row mt-5">
            <div class="col-md-12 d-flex align-items-center justify-content-end">
                <div class="text-left pr-3 col-md-6 my-1">
                    <form enctype="multipart/form-data" id="fileUploadForm" method="post" th:action="@{/briefcase/f351icrv}">
                        <div class="form-group my-3">
                            <input class="form-control rounded" required th:name="period" th:value="${period}" type="hidden">
                            <label>Cargar Plantilla: </label> <input accept=".xls,.xlsx,.xlsm" class="custom-file-control"
                                                                   id="file"
                                                                   name="file" required type="file">
                            <button class="btn btn-primary" type="submit">Cargar</button>
                        </div>
                    </form>
                </div>
                <div class="text-right pr-3 col-md-6 my-1">
                    <a class="btn btn-primary mx-1" th:href="@{/briefcase/f351icrv?period={period}(period=${period})}"><i class="fas fa-redo-alt"></i></a>
                    <button class="btn btn-primary" id="clearTable" th:data1="${period}" th:onclick="'javascript:operationDeleteOne(this.getAttribute(\'data1\'),\'f351icrv\')'">Generar Plantilla
                    </button>
                </div>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-12">
                <div class="table-responsive rounded border-primary">
                    <table class="table table-sm table-striped table-hover text-center table-bordered" id="example" width="100%">
                        <thead class="bg-primary">
                        <tr>
                            <th>Fecha Proceso</th>
                            <th>Nro Asignado</th>
                            <th>Codigo Puc</th>
                            <th>Nit</th>
                            <th>Documento Emisor</th>
                            <th>Razon Social Emisor</th>
                            <th>Vinculado</th>
                            <th>Aval</th>
                            <th>Tipo Identificacion Aval</th>
                            <th>Identificacion Aval</th>
                            <th>Razon Social Aval</th>
                            <th>Identifacion Administrador</th>
                            <th>Razon Social Administrador</th>
                            <th>Clase Inversion</th>
                            <th>Nemotecnico</th>
                            <th>Cupon Principal</th>
                            <th>Fecha Emite</th>
                            <th>Fecha Vcto</th>
                            <th>Fecha Vcto Cupon</th>
                            <th>Fecha Compra</th>
                            <th>Cod Moneda</th>
                            <th>Valor Nominal</th>
                            <th>Amortizaciones</th>
                            <th>Valor Nominal Capitalizado</th>
                            <th>20 Numero Acciones</th>
                            <th>Clase Accion</th>
                            <th>Valor Compra</th>
                            <th>Valor Compra Pesos</th>
                            <th>Tasa Facial</th>
                            <th>Valor Tasa</th>
                            <th>Calculo Interes</th>
                            <th>Periodicidad Pago</th>
                            <th>Modalidad</th>
                            <th>Ind Tasa Referencia</th>
                            <th>Valor Mercado-1316</th>
                            <th>Valor Presente Pesos</th>
                            <th>Valor Mercado Dif Peso</th>
                            <th>Tasa Negociacion</th>
                            <th>Dias Vcto</th>
                            <th>Tasa Referencia</th>
                            <th>Valor Tasa Referencia</th>
                            <th>Valor Tasa Primer Flujo</th>
                            <th>Margen Valora</th>
                            <th>Tasa Descuento</th>
                            <th>Precio</th>
                            <th>Metodo Valora</th>
                            <th>Fecha Ultimo Reprecio</th>
                            <th>Valor Presente Reprecio</th>
                            <th>Ind Bursatibilidad</th>
                            <th>Interes Vencidos</th>
                            <th>Puc Provision</th>
                            <th>Base Provision</th>
                            <th>Valor Provision</th>
                            <th>Calificacion</th>
                            <th>Entidad Calificadora</th>
                            <th>Calificacion Riesgo</th>
                            <th>Calificacion Avalista</th>
                            <th>Calificacion Soberania</th>
                            <th>Entidad Calificadora Soberania</th>
                            <th>Custodio</th>
                            <th>Numero Identificacion</th>
                            <th>Fungible</th>
                            <th>Monto Emision</th>
                            <th>Porcentaje Participacion</th>
                            <th>Ramo</th>
                            <th>Relacion Matrix</th>
                            <th>Concentracion Propiedad</th>
                            <th>Relacion Vinculacion</th>
                            <th>Codigo Puc Causacion</th>
                            <th>Causacion Valoracion</th>
                            <th>Codigo Puc Causa Pat</th>
                            <th>Causa Valoracion Pat(Ajuste Mes)</th>
                            <th>Fecha Corte</th>
                            <th>Unidad Captura</th>
                            <th>Cod Emp</th>
                            <th>Portafolio</th>
                            <th>Tipo Evaluacion</th>
                            <th>Tipo Fideicomiso</th>
                            <th>Cod Fideicomiso</th>
                            <th>Tipo Entidad Vig</th>
                            <th>Cod Entidad Vig</th>
                            <th>Valor Valorizacion(199550-9650)</th>
                            <th>Valor Desvaloriza</th>
                            <th>Fecha Tasa Ref</th>
                            <th>Numero Asignado</th>
                            <th>Vlr Mercado Inv</th>
                            <th>Negocio Dn02</th>
                            <th>Operación Futuro</th>
                            <th>Valoracion Portafolio</th>
                            <th>Tipo Titulo</th>
                            <th>Isin Star</th>
                            <th>Registro Manual</th>
                            <th>Ciiu</th>
                            <th>Naturaleza Jurídica</th>
                            <th>Vinculación</th>
                            <th>Proveedor De Precios</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="data:${f351icrvList}">
                            <td th:text="${data.getFechaProceso()}"></td>
                            <td th:text="${data.getNroAsignado()}"></td>
                            <td th:text="${data.getCodigoPuc()}"></td>
                            <td th:text="${data.getNit()}"></td>
                            <td th:text="${data.getDocumentoEmisor()}"></td>
                            <td th:text="${data.getRazonSocialEmisor()}"></td>
                            <td th:text="${data.getVinculado()}"></td>
                            <td th:text="${data.getAval()}"></td>
                            <td th:text="${data.getTipoIdentificacionAval()}"></td>
                            <td th:text="${data.getIdentificacionAval()}"></td>
                            <td th:text="${data.getRazonSocialAval()}"></td>
                            <td th:text="${data.getIdentifacionAdministrador()}"></td>
                            <td th:text="${data.getRazonSocialAdministrador()}"></td>
                            <td th:text="${data.getClaseInversion()}"></td>
                            <td th:text="${data.getNemotecnico()}"></td>
                            <td th:text="${data.getCuponPrincipal()}"></td>
                            <td th:text="${data.getFechaEmite()}"></td>
                            <td th:text="${data.getFechaVcto()}"></td>
                            <td th:text="${data.getFechaVctoCupon()}"></td>
                            <td th:text="${data.getFechaCompra()}"></td>
                            <td th:text="${data.getCodMoneda()}"></td>
                            <td th:text="${#numbers.formatDecimal(data.getValorNominal(),1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${data.getAmortizaciones()}"></td>
                            <td th:text="${#numbers.formatDecimal(data.getValorNominalCapitalizado(),1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.getNumeroAcciones(),1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${data.getClaseAccion()}"></td>
                            <td th:text="${#numbers.formatDecimal(data.getValorCompra(),1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.getValorCompraPesos(),1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${data.getTasaFacial()}"></td>
                            <td th:text="${#numbers.formatDecimal(data.getValorTasa(),1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${data.getCalculoInteres()}"></td>
                            <td th:text="${data.getPeriodicidadPago()}"></td>
                            <td th:text="${data.getModalidad()}"></td>
                            <td th:text="${data.getIndTasaReferencia()}"></td>
                            <td th:text="${#numbers.formatDecimal(data.getValorMercado1316(),1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.getValorPresentePesos(),1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.getValorMercadoDifPeso(),1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${data.getTasaNegociacion()}"></td>
                            <td th:text="${data.getDiasVcto()}"></td>
                            <td th:text="${data.getTasaReferencia()}"></td>
                            <td th:text="${#numbers.formatDecimal(data.getValorTasaReferencia(),1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.getValorTasaPrimerFlujo(),1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${data.getMargenValora()}"></td>
                            <td th:text="${data.getTasaDescuento()}"></td>
                            <td th:text="${data.getPrecio()}"></td>
                            <td th:text="${#numbers.formatDecimal(data.getMetodoValora(),1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${data.getFechaUltimoReprecio()}"></td>
                            <td th:text="${#numbers.formatDecimal(data.getValorPresenteReprecio(),1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${data.getIndBursatibilidad()}"></td>
                            <td th:text="${data.getInteresVencidos()}"></td>
                            <td th:text="${data.getPucProvision()}"></td>
                            <td th:text="${data.getBaseProvision()}"></td>
                            <td th:text="${#numbers.formatDecimal(data.getValorProvision(),1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${data.getCalificacion()}"></td>
                            <td th:text="${data.getEntidadCalificadora()}"></td>
                            <td th:text="${data.getCalificacionRiesgo()}"></td>
                            <td th:text="${data.getCalificacionAvalista()}"></td>
                            <td th:text="${data.getCalificacionSoberania()}"></td>
                            <td th:text="${data.getEntidadCalificadoraSoberania()}"></td>
                            <td th:text="${data.getCustodio()}"></td>
                            <td th:text="${data.getNumeroIdentificacion()}"></td>
                            <td th:text="${data.getFungible()}"></td>
                            <td th:text="${data.getMontoEmision()}"></td>
                            <td th:text="${data.getPorcentajeParticipacion()}"></td>
                            <td th:text="${data.getRamo()}"></td>
                            <td th:text="${#numbers.formatDecimal(data.getRelacionMatrix(),1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${data.getConcentracionPropiedad()}"></td>
                            <td th:text="${data.getRelacionVinculacion()}"></td>
                            <td th:text="${data.getCodigoPucCausacion()}"></td>
                            <td th:text="${data.getCausacionValoracion()}"></td>
                            <td th:text="${data.getCodigoPucCausaPat()}"></td>
                            <td th:text="${data.getCausaValoracionPat()}"></td>
                            <td th:text="${data.getFechaCorte()}"></td>
                            <td th:text="${data.getUnidadCaptura()}"></td>
                            <td th:text="${data.getCodEmp()}"></td>
                            <td th:text="${data.getPortafolio()}"></td>
                            <td th:text="${data.getTipoEvaluacion()}"></td>
                            <td th:text="${data.getTipoFideicomiso()}"></td>
                            <td th:text="${data.getCodFideicomiso()}"></td>
                            <td th:text="${data.getTipoEntidadVig()}"></td>
                            <td th:text="${data.getCodEntidadVig()}"></td>
                            <td th:text="${data.getValorValorizacion()}"></td>
                            <td th:text="${data.getValorDesvaloriza()}"></td>
                            <td th:text="${data.getFechaTasaRef()}"></td>
                            <td th:text="${data.getNumeroAsignado()}"></td>
                            <td th:text="${data.getVlrMercadoInv()}"></td>
                            <td th:text="${data.getNegocioDn02()}"></td>
                            <td th:text="${data.getOperacionFuturo()}"></td>
                            <td th:text="${data.getValoracionPortafolio()}"></td>
                            <td th:text="${data.getTipoTitulo()}"></td>
                            <td th:text="${data.getIsinStar()}"></td>
                            <td th:text="${data.getRegistroManual()}"></td>
                            <td th:text="${data.getCiiu()}"></td>
                            <td th:text="${data.getNaturalezaJuridica()}"></td>
                            <td th:text="${data.getVinculacion()}"></td>
                            <td th:text="${data.getProveedorDePrecios()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" th:if="${last != 0}">
            <div class="col-md-4 text-left">
                <nav arial-label="Pagination">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
                            <a class="page-link"
                               th:href="@{/briefcase/{dir}/?page={page}&vId={vId}&vFilter={vFilter}&period={period}(vFilter=${vFilter},page=${prev},dir=${directory},vId=${vId},period=${period})}">Anterior</a>
                        </li>
                        <li class="page-item" th:classappend="${current == last ? 'disabled' : ''}">
                            <a class="page-link"
                               th:href="@{/briefcase/{dir}/?page={page}&vId={vId}&vFilter={vFilter}&period={period}(vFilter=${vFilter},page=${next},dir=${directory},vId=${vId},period=${period})}">Siguiente</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-4 text-center">
                <h6 th:utext="${registers} + ' Registros Encontrados'"></h6>
            </div>
            <div class="col-md-4 text-right">
                <h6 class="mx-1" th:utext="'Página ' + ${current} + ' de ' + ${last}"></h6>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center mb-3" th:if="${filterExport != 'Original'}">
            <h5><span class="badge badge-pill text-light badge-info py-2 px-5">¡La Tabla se encuentra Filtrada!</span>
            </h5>
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <a class="btn btn-primary mx-3"
               th:href="@{/briefcase/f351icrv/download/?vFilter={vFilter}&vId={vId}&period={period}(vFilter=${vFilter},vId=${vId},period=${period})}">Exportar F351</a>
        </div>
    </div>

</div>
</div>
</div>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script type="text/javascript">
    var queryString = window.location.search;
    var urlParams = new URLSearchParams(queryString);
    var respuesta = urlParams.get('resp');
    var row = urlParams.get('row');
    var column = urlParams.get('colum');
    var message = urlParams.get('message');
    validateAlerts(respuesta, row, column, message);
</script>
</body>
</html>