<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>
<div class="main-container">
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h3 class="fw-bold text-white mx-4 my-3">Bal Fiduciaria ICRV</h3>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-end pe-5">
        </div>
    </div>
    <div id="content">
        <form method="POST" th:action="@{/briefcase/modifyBalfiduciariaicrv}" th:object="${balfiduciariaicrvModify}">
            <div class="row mt-5">
                <div class="col-md-12">
                    <h3 class="mb-3">Editar Registro</h3>
                    <input class="form-control" maxlength="255" required th:field="*{idBal}"
                           type="hidden">
                    <input class="form-control" maxlength="255" required th:field="*{periodo}"
                           type="hidden">
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Corte</label>
                        <input class="form-control" placeholder="Ingrese el Corte"
                               th:field="*{corte}" type="date" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Código Contabilidad</label>
                        <input class="form-control" placeholder="Ingrese el Código Contabilidad"
                               th:field="*{codigoContabilidad}" type="text" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Nombre Fideicomiso</label>
                        <input class="form-control" placeholder="Ingrese el Nombre Fideicomiso"
                               th:field="*{nombreFideicomiso}" type="text" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Año</label>
                        <input class="form-control" placeholder="Ingrese el Año"
                               th:field="*{ano}" type="number" min="2000" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Mes</label>
                        <input class="form-control" placeholder="Ingrese el Mes"
                               th:field="*{mes}" type="number" max="12" min="1" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Código PUC</label>
                        <input class="form-control" placeholder="Ingrese el Código PUC"
                               th:field="*{codigoPuc}" type="text" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Código Cuenta NIIF</label>
                        <input class="form-control" maxlength="255" placeholder="Ingrese el Código Cuenta NIIF"
                               th:field="*{codigoCuentaNiif}" type="text" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Código PUC Local</label>
                        <input class="form-control" placeholder="Ingrese el Código PUC Local"
                               th:field="*{codigoPucLocal}" type="text" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Nombre</label>
                        <input class="form-control" maxlength="255" placeholder="Ingrese el Nombre"
                               th:field="*{nombre}" type="text" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Saldo Final</label>
                        <input class="form-control" placeholder="Ingrese la Saldo Final"
                               th:field="*{saldoFinal}" type="number" step="0.01" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Nivel</label>
                        <input class="form-control" maxlength="255" placeholder="Ingrese el Nivel"
                               th:field="*{nivel}" type="number" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Código Consolidación</label>
                        <input class="form-control" maxlength="255" placeholder="Ingrese el Código Consolidación"
                               th:field="*{codicons}" type="number" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Código Gestión</label>
                        <input class="form-control" maxlength="255" placeholder="Ingrese el Código Gestión"
                               th:field="*{codigest}" type="number" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>L4</label>
                        <input class="form-control" maxlength="255" placeholder="Ingrese el L4"
                               th:field="*{l4}" type="text" required>
                    </div>
                </div>
            </div>
            <div class="row pt-5 py-3">
                <div class="col-md-12 d-flex align-content-center justify-content-center">
                    <div class="d-grid gap-2 col-3">
                        <button type="submit" class="btn btn-primary">Modificar Registro</button>
                    </div>
                    <div class="d-grid gap-2 col-3">
                        <a class="btn btn-danger" th:href="@{/briefcase/balfiduciariaicrv}">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>
</body>
</html>