<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>

<div class="main-container">
    <div class="row m-0 bg-primary fixed-top myNav d-flex justify-content-between">
        <form class="form-inline" method="get" th:action="@{/briefcase/niveljerarquiaicrv}">
            <div class="col-md-4 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
                <h3 class="fw-bold text-white mx-4 my-3">Nivel Jerarquia ICRV</h3>
                <h5 class="fw-bold text-white mx-4 my-3" th:utext="'Periodo: '+${period}"></h5>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-start">

            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-start">
                <div class="input-group d-flex align-items-center ">
                    <div class="input-group-append d-flex align-items-center">
                        <h5 class="me-2 mb-0">Fecha Consulta: </h5>
                        <input class="form-control rounded" required th:name="period" th:value="${period}" type="month">
                        <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                    <div class="input-group-append d-flex align-items-center">
                        <a class="btn btn-secondary" th:href="@{/briefcase/niveljerarquiaicrv?period={period}(period=${period})}"><i
                                class="fas fa-window-close"></i></a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id="content">
        <div class="row mt-5">
            <div class="col-md-12 d-flex align-items-center justify-content-end">
                <div class="text-left pr-3 col-md-6 my-1">

                </div>
                <div class="text-right pr-3 col-md-6 my-1">
                    <a class="btn btn-primary mx-1" th:href="@{/briefcase/niveljerarquiaicrv?period={period}(period=${period})}"><i class="fas fa-redo-alt"></i></a>
                    <button class="btn btn-primary" id="clearTable" th:data1="${period}" th:onclick="'javascript:operationDeleteOne(this.getAttribute(\'data1\'),\'niveljerarquiaicrv\')'">Generar Información
                    </button>
                </div>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-12">
                <div class="table-responsive rounded border-primary">
                    <table class="table table-sm table-striped table-hover text-center table-bordered" id="example" width="100%">
                        <thead class="bg-primary">
                        <tr>
                            <th>Cuenta Inversión</th>
                            <th>Cuenta Valorización</th>
                            <th>Empresa</th>
                            <th>Fecha Adquisición</th>
                            <th>Nit</th>
                            <th>Isin</th>
                            <th>% Participación</th>
                            <th>Acciones En Circulación</th>
                            <th>Acciones BBVA</th>
                            <th>Capital</th>
                            <th>Val Nominal Acción</th>
                            <th>Nominal</th>
                            <th># Acciones</th>
                            <th>Vr Mcado Inver</th>
                            <th>Saldo Inversión</th>
                            <th>Saldo Valoración</th>
                            <th>Vr Mcado Inver</th>
                            <th>Vr Intrinseco Acción</th>
                            <th>Corte</th>
                            <th>Corte EEFF</th>
                            <th>Método Valoración</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="data:${niveljerarquiaicrvList}">
                            <td th:text="${data.cuentaContableInversion}"></td>
                            <td th:text="${data.cuentaContableValorizacion}"></td>
                            <th th:text="${data.empresa}"></th>
                            <td th:text="${data.fechaDeAdquision}"></td>
                            <td th:text="${data.nit}"></td>
                            <td th:text="${data.isin}"></td>
                            <td th:text="${#numbers.formatDecimal(data.porcentajeParticipacion,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.accionesEnCirculacion,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.accionesQuePoseeBbva,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.capital,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.valNominalAccion,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.nominal,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.noAcciones,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.vrMercadoInver,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.saldoInversion,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.saldoValoracion,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.vrMercadoInver2,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.vrIntrinsecoDeLaAccion,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${data.corte}"></td>
                            <td th:text="${data.corteDeEeff}"></td>
                            <td th:text="${data.metodoDeValoracion}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" th:if="${last != 0}">
            <div class="col-md-4 text-left">
                <nav arial-label="Pagination">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
                            <a class="page-link"
                               th:href="@{/briefcase/{dir}/?page={page}&vId={vId}&vFilter={vFilter}&period={period}(vFilter=${vFilter},page=${prev},dir=${directory},vId=${vId},period=${period})}">Anterior</a>
                        </li>
                        <li class="page-item" th:classappend="${current == last ? 'disabled' : ''}">
                            <a class="page-link"
                               th:href="@{/briefcase/{dir}/?page={page}&vId={vId}&vFilter={vFilter}&period={period}(vFilter=${vFilter},page=${next},dir=${directory},vId=${vId},period=${period})}">Siguiente</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-4 text-center">
                <h6 th:utext="${registers} + ' Registros Encontrados'"></h6>
            </div>
            <div class="col-md-4 text-right">
                <h6 class="mx-1" th:utext="'Página ' + ${current} + ' de ' + ${last}"></h6>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <a class="btn btn-primary mx-3"
               th:href="@{/briefcase/niveljerarquiaicrv/download/?vFilter={vFilter}&vId={vId}&period={period}(vFilter=${vFilter},vId=${vId},period=${period})}">Exportar</a>
        </div>
    </div>

</div>
</div>
</div>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script type="text/javascript">
    var queryString = window.location.search;
    var urlParams = new URLSearchParams(queryString);
    var respuesta = urlParams.get('resp');
    var row = urlParams.get('row');
    var column = urlParams.get('colum');
    var message = urlParams.get('message');
    validateAlerts(respuesta, row, column, message);
</script>
</body>
</html>