<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>

<div class="main-container">
    <div class="row m-0 bg-primary fixed-top myNav d-flex justify-content-between">
        <form class="form-inline" method="get" th:action="@{/briefcase/valoresicrv}">
            <div class="col-md-4 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
                <h3 class="fw-bold text-white mx-4 my-3">Valores ICRV</h3>
                <h5 class="fw-bold text-white mx-4 my-3" th:utext="'Periodo: '+${period}"></h5>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-start">

            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-start">
                <div class="input-group d-flex align-items-center ">
                    <div class="input-group-append d-flex align-items-center">
                        <h5 class="me-2 mb-0">Fecha Consulta: </h5>
                        <input class="form-control rounded" required th:name="period" th:value="${period}" type="number">
                        <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                    <div class="input-group-append d-flex align-items-center">
                        <a class="btn btn-secondary" th:href="@{/briefcase/valoresicrv?period={period}(period=${period})}"><i
                                class="fas fa-window-close"></i></a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id="content">
        <div class="row mt-5">
            <div class="col-md-12 d-flex align-items-center justify-content-end">
                <div class="text-left pr-3 col-md-6 my-1">

                </div>
                <div class="text-right pr-3 col-md-6 my-1">
                    <a class="btn btn-primary mx-1" th:href="@{/briefcase/valoresicrv?period={period}(period=${period})}"><i class="fas fa-redo-alt"></i></a>
                    <button class="btn btn-primary" id="clearTable" th:data1="${period}" th:onclick="'javascript:operationDeleteOne(this.getAttribute(\'data1\'),\'valoresicrv\')'">Generar Información
                    </button>
                </div>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-12">
                <div class="table-responsive rounded border-primary">
                    <table class="table table-sm table-striped table-hover text-center table-bordered" id="example" width="100%">
                        <thead class="bg-primary">
                        <tr>
                            <th>Descripción</th>
                            <th>Capital Autorizado</th>
                            <th>Capital Por Suscribir (Db)</th>
                            <th>Reserva Legal</th>
                            <th>Reservas Ocasionales</th>
                            <th>Acciones Bvc Voluntarias</th>
                            <th>P.A. Fab Asobolsa</th>
                            <th>Acciones Bvc Obligatorias</th>
                            <th>Impuesto Diferido</th>
                            <th>Provision De Cartera</th>
                            <th>Revalorización Del Patrimonio</th>
                            <th>Utilidades Acumuladas E.A.</th>
                            <th>Pérdidas Acumuladas E.A.</th>
                            <th>Utilidad Del Ejercicio</th>
                            <th>Pérdida Del Ejercicio</th>
                            <th>Patrimonio Total</th>
                            <th>Ori</th>
                            <th>Patrimonio Sin Ori</th>
                            <th>K + Rl</th>
                            <th>Pérdidas Acumuladas E.A.</th>
                            <th>Variacion Otras</th>
                            <th>Inversion</th>
                            <th>ORI Calculado</th>
                            <th>Variacion Ori Calculdo</th>
                            <th>PYG Calculado</th>
                            <th>Saldo ORI Contable</th>
                            <th>Variacion Ori Registrado</th>
                            <th>Pyg Contable</th>
                            <th>Dif PYG Ok</th>
                            <th>Dif ORI Ok</th>
                            <th>Borrar</th>
                            <th>131505002</th>
                            <th>131505772</th>
                            <th>Variacion Inv</th>
                            <th>Nominal + Var Inv</th>
                            <th>Patrimonio Total * %</th>
                            <th>Diferencia</th>
                            <th>1315</th>
                            <th>ORI</th>
                            <th>PYG</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="data:${valoresicrvList}">
                            <th th:text="${data.descripcion}"></th>
                            <td th:text="${#numbers.formatDecimal(data.capitalAutorizado,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.capitalPorSuscribir,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.reservaLegal,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.reservasOcasionales,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.accionesBvcVoluntarias,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.paFabAsobolsa,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.accionesBvcObligatorias,1,'POINT',2,'COMMA')}"></td>
                            <td th:if="${data.impuestoDiferido != null}" th:text="${#numbers.formatDecimal(data.impuestoDiferido,1,'POINT',2,'COMMA')}"></td>
                            <td th:if="${data.impuestoDiferido == null}" th:text="${#numbers.formatDecimal('0',1,'POINT',2,'COMMA')}"></td>
                            <td th:if="${data.provisionDeCartera != null}" th:text="${#numbers.formatDecimal(data.provisionDeCartera,1,'POINT',2,'COMMA')}"></td>
                            <td th:if="${data.provisionDeCartera == null}" th:text="${#numbers.formatDecimal('0',1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.revalorizacionDelPatrimonio,1,'POINT',2,'COMMA')}"></td>
                            <td th:if="${data.utilidadesAcumuladasEa != null}" th:text="${#numbers.formatDecimal(data.utilidadesAcumuladasEa,1,'POINT',2,'COMMA')}"></td>
                            <td th:if="${data.utilidadesAcumuladasEa == null}" th:text="${#numbers.formatDecimal('0',1,'POINT',2,'COMMA')}"></td>
                            <td th:if="${data.perdidasAcumuladasEa != null}" th:text="${#numbers.formatDecimal(data.perdidasAcumuladasEa,1,'POINT',2,'COMMA')}"></td>
                            <td th:if="${data.perdidasAcumuladasEa == null}" th:text="${#numbers.formatDecimal('0',1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.utilidadDelEjercicio,1,'POINT',2,'COMMA')}"></td>
                            <td th:if="${data.perdidaDelEjercicio != null}" th:text="${#numbers.formatDecimal(data.perdidaDelEjercicio,1,'POINT',2,'COMMA')}"></td>
                            <td th:if="${data.perdidaDelEjercicio == null}" th:text="${#numbers.formatDecimal('0',1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.patrimonioTotal,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.ori,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.patrimonioSinOri,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.perdidasAcumuladasEaT,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.krl,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.variacionOtras,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.inversion,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.oriCalculado,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.variacionOriCalculdo,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.pygCalculado,1,'POINT',2,'COMMA')}"></td>
                            <td th:if="${data.saldoOriContable != null}" th:text="${#numbers.formatDecimal(data.saldoOriContable,1,'POINT',2,'COMMA')}"></td>
                            <td th:if="${data.saldoOriContable == null}" th:text="${#numbers.formatDecimal('0',1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.variacionOriRegistrado,1,'POINT',2,'COMMA')}"></td>
                            <td th:if="${data.pyg != null}" th:text="${#numbers.formatDecimal(data.pyg,1,'POINT',2,'COMMA')}"></td>
                            <td th:if="${data.pyg == null}" th:text="${#numbers.formatDecimal('0',1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.difPygOk,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.difOriOk,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.borrar,1,'POINT',2,'COMMA')}"></td>
                            <td th:if="${data.nominal002 != null}" th:text="${#numbers.formatDecimal(data.nominal002,1,'POINT',2,'COMMA')}"></td>
                            <td th:if="${data.nominal002 == null}" th:text="${#numbers.formatDecimal('0',1,'POINT',2,'COMMA')}"></td>
                            <td th:if="${data.nominal772 != null}" th:text="${#numbers.formatDecimal(data.nominal772,1,'POINT',2,'COMMA')}"></td>
                            <td th:if="${data.nominal772 == null}" th:text="${#numbers.formatDecimal('0',1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.variacionInv,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.nominalVarInv,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.patrimonioTotalPorcentaje,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.diferencia,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.nominal1315,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.oriT,1,'POINT',2,'COMMA')}"></td>
                            <td th:text="${#numbers.formatDecimal(data.pygT,1,'POINT',2,'COMMA')}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" th:if="${last != 0}">
            <div class="col-md-4 text-left">
                <nav arial-label="Pagination">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
                            <a class="page-link"
                               th:href="@{/briefcase/{dir}/?page={page}&vId={vId}&vFilter={vFilter}&period={period}(vFilter=${vFilter},page=${prev},dir=${directory},vId=${vId},period=${period})}">Anterior</a>
                        </li>
                        <li class="page-item" th:classappend="${current == last ? 'disabled' : ''}">
                            <a class="page-link"
                               th:href="@{/briefcase/{dir}/?page={page}&vId={vId}&vFilter={vFilter}&period={period}(vFilter=${vFilter},page=${next},dir=${directory},vId=${vId},period=${period})}">Siguiente</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-4 text-center">
                <h6 th:utext="${registers} + ' Registros Encontrados'"></h6>
            </div>
            <div class="col-md-4 text-right">
                <h6 class="mx-1" th:utext="'Página ' + ${current} + ' de ' + ${last}"></h6>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <a class="btn btn-primary mx-3"
               th:href="@{/briefcase/valoresicrv/download/?vFilter={vFilter}&vId={vId}&period={period}(vFilter=${vFilter},vId=${vId},period=${period})}">Exportar</a>
        </div>
    </div>

</div>
</div>
</div>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script type="text/javascript">
    var queryString = window.location.search;
    var urlParams = new URLSearchParams(queryString);
    var respuesta = urlParams.get('resp');
    var row = urlParams.get('row');
    var column = urlParams.get('colum');
    var message = urlParams.get('message');
    validateAlerts(respuesta, row, column, message);
</script>
</body>
</html>