<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>
<div class="main-container">
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h3 class="fw-bold text-white mx-4 my-3">Cuentas</h3>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-end pe-5">
        </div>
    </div>
    <div id="content">
        <form method="post" th:action="@{/accountsReceivable/addAccountCc}" th:object="${accountCc}">
            <div class="row mt-5">
                <div class="col-md-12">
                    <h3 class="mb-3">Agregar Cuenta</h3>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Concepto</label>
                        <input class="form-control" maxlength="255" placeholder="Ingrese el Concepto" required
                               th:field="*{concepto}" type="text">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Cuenta</label>
                        <input class="form-control" maxlength="255" placeholder="Ingrese la Cuenta" required
                               th:field="*{cuenta}" type="text">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Centro</label>
                        <input class="form-control" maxlength="4" minlength="4" placeholder="Ingrese el Centro" required
                               th:field="*{centro}" type="text">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>class</label>
                        <select class="form-control" name="impSelect" th:field="*{naturaleza}" required>
                            <option disabled hidden selected th:value="''" th:text="'Seleccione una opción'"></option>
                            <option th:value="'H'" th:text="'Credito'"></option>
                            <option th:value="'D'" th:text="'Debito'"></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Impuesto</label>
                        <select class="form-control" name="impSelect" th:field="*{impuesto}" required>
                            <option disabled hidden selected th:value="''" th:text="'Seleccione una opción'"></option>
                            <option th:value="'SIN IMPUESTOS'" th:text="'SIN IMPUESTOS'"></option>
                            <option th:value="'RETEFUENTE'" th:text="'RETEFUENTE'"></option>
                            <option th:value="'IVA'" th:text="'IVA'"></option>
                            <option th:value="'CUENTA POR COBRAR'" th:text="'CUENTA POR COBRAR'"></option>
                            <option th:value="'PAGO'" th:text="'PAGO'"></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-1">
                        <label>Evento</label>
                        <select class="form-control" name="impSelect" th:field="*{evento}" required>
                            <option disabled hidden selected th:value="''" th:text="'Seleccione una opción'"></option>
                            <option th:value="'CAUSACIÓN'" th:text="'CAUSACIÓN'"></option>
                            <option th:value="'PAGO'" th:text="'PAGO'"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row pt-5 py-3">
                <div class="col-md-12 d-flex align-content-center justify-content-center">
                    <div class="d-grid gap-2 col-3">
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </div>
                    <div class="d-grid gap-2 col-3">
                        <a class="btn btn-danger" th:href="@{/accountsReceivable/accountCc}">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>
</body>
</html>