<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/menuTemplate :: menuHead"></div>

<body>
<div th:replace="fragments/menuTemplate :: menuBody"></div>

<div class="main-container">
    <div class="row m-0 bg-primary fixed-top myNav">
        <div class="col-md-6 border-bottom border-primary p-0 bg-primary d-flex justify-content-start align-items-center">
            <h3 class="fw-bold text-white mx-4 my-3">Informe Cuentas Por Cobrar</h3>
            <h5 th:utext="'Periodo: '+${vFilter}" class="fw-bold text-white mx-4 my-3"></h5>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-end pe-5">
            <form class="form-inline" method="get" th:action="@{/accountsReceivable/invoicesCc}">
                <div class="input-group">
                    <div class="input-group-append d-flex align-items-center">
                        <h5 class="me-2 mb-0">Fecha Consulta: </h5>
                        <input type="date" th:name="period" th:value="${period}" class="form-control" required>
                        <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row m-0 px-4 mt-5">
        <div class="row m-0 p-0 mt-3">
            <div class="col-md-8 d-block p-0">
                <form th:action="@{/accountsReceivable/invoicesCc}" id="fileUploadForm" enctype="multipart/form-data"
                      method="post" class="d-flex flex-column" th:if="${cargar != false}">
                    <div class="form-group my-2 d-flex align-items-center">
                        <h5 class="fw-bold me-2 mb-0">Cargar archivo: </h5>
                        <input accept=".xls,.xlsx,.xlsm" type="file" name="file" class="custom-file-control" id="file"
                               required>
                        <input type="hidden" th:name="period" th:value="${period}" class="form-control w-25" required>
                        <button type="submit" class="btn btn-primary">Cargar</button>
                    </div>
                </form>
                <button disabled th:if="${cargar != true}" class="btn btn-primary">Este periodo no corresponde al día actual</button>
            </div>

            <div class="col-md-4 d-flex align-items-center justify-content-end">
                <div class="pr-3 col-md-6 my-2 d-flex align-content-center justify-content-end">
                    <a href="#exportModal" role="button" class="btn btn-large btn-info mx-1" data-toggle="modal">Procesar Registros</a>
                    <a class="btn btn-primary mx-1"
                       th:href="@{/accountsReceivable/invoicesCc?period={period}(period=${period})}">
                        <i class="fas fa-redo-alt"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row border-primary">
        <div class="col-md-4 p-2">
            <div class="table-responsive rounded border-primary">
                <table id="example" class="table table-sm table-striped table-hover text-center table-bordered">
                    <tbody class="bg-primary" th:if="${allRulesData1.size() == 0}">
                        <tr>
                            <th class="text-light">No se encontrontaron registros en estado de cargue</th>
                        </tr>
                    </tbody>
                    <thead class="bg-primary" th:if="${allRulesData1.size() != 0}">
                        <tr>
                            <th colspan="2">Resumen Cargues</th>
                        </tr>
                        <tr>
                            <th>Estado</th>
                            <th>Conteo Registros</th>
                        </tr>
                    </thead>
                    <tbody th:if="${allRulesData1.size() != 0}">
                        <tr th:each="sub: ${allRulesData1}">
                            <th th:text="${sub[0]}"></th>
                            <th th:if="${sub[1] != null}" th:text="${sub[1]}"></th>
                            <th th:if="${sub[1] == null}" th:text="${'0'}"></th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive rounded border-primary">
                <table id="example" class="table table-sm table-striped table-hover text-center table-bordered">
                    <tbody class="bg-primary" th:if="${allRulesData3.size() == 0}">
                    <tr>
                        <th class="text-light">No se encontrontaron registros en estado de pago</th>
                    </tr>
                    </tbody>
                    <thead class="bg-primary" th:if="${allRulesData3.size() != 0}">
                    <tr>
                        <th colspan="2">Resumen Pagos</th>
                    </tr>
                    <tr>
                        <th>Estado</th>
                        <th>Conteo Registros</th>
                    </tr>
                    </thead>
                    <tbody th:if="${allRulesData3.size() != 0}">
                    <tr th:each="sub: ${allRulesData3}">
                        <th th:text="${sub[0]}"></th>
                        <th th:if="${sub[1] != null}" th:text="${sub[1]}"></th>
                        <th th:if="${sub[1] == null}" th:text="${'0'}"></th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-8 p-2">
            <div class="table-responsive rounded border-primary">
                <form action="/accountsReceivable/proccessInvoicesCcMassive" method="get">
                    <input type="hidden" th:name="period" th:value="${period}" class="form-control" required>
                <table id="example1" class="table table-sm table-striped table-hover text-center table-bordered">
                    <tbody class="bg-primary" th:if="${allRulesData2.size() == 0}">
                        <tr>
                            <th class="text-light">No se encontrontaron registros cargados</th>
                        </tr>
                    </tbody>
                    <thead class="bg-primary" th:if="${allRulesData2.size() != 0}">
                    <tr>
                        <th></th>
                        <th>Tercero</th>
                        <th>Concecutivo</th>
                        <th>Concepto</th>
                        <th>Persona</th>
                        <th>Valor</th>
                        <th>Estado Cargue</th>
                        <th>Estado Pago</th>
                        <th>Preliminar</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody th:if="${allRulesData2.size() != 0}">
                    <tr th:each="sub: ${allRulesData2}">
                        <th th:if="${sub.pago == false}"><div class="form-check"><input class="form-check-input" id="opciones" name="opciones" type="checkbox" th:value="${sub.idFactura}"/></div></th>
                        <th th:if="${sub.pago != false}"></th>
                        <th th:text="${sub.tercero}"></th>
                        <th th:text="${sub.lote}"></th>
                        <!--<th th:text="${#dates.format(sub.fecha,'yyyy-MM-dd')}"></th>-->
                        <th th:text="${sub.concepto}"></th>
                        <th th:text="${sub.persona}"></th>
                        <th th:text="${#numbers.formatDecimal(sub.valor,1,'POINT',2,'COMMA')}"></th>
                        <td th:if="${sub.estado == 'Anulado'}"><i class="fa fa-times-circle fa-2x text-danger"></i></td>
                        <td th:if="${sub.estado == 'Pendiente'}"><i class="fa fa-info-circle fa-2x text-warning"></i></td>
                        <td th:if="${sub.estado == 'Completado'}"><i class="fa fa-check-circle fa-2x text-success"></i></td>
                        <td th:if="${sub.pago == false}"><i class="fa fa-times-circle fa-2x text-danger"></i></td>
                        <td th:if="${sub.pago == true}"><i class="fa fa-check-circle fa-2x text-success"></i></td>
                        <td th:if="${sub.pago == null}"></td>
                        <td th:if="${sub.estado == 'Anulado'}"></td>
                        <td th:if="${sub.estado != 'Anulado'}"><a class="btn btn-primary" th:href="@{/accountsReceivable/showInvoicesCc/{id}(id=${sub.idFactura})}">Ver</a></td>
                        <td th:if="${sub.estado == 'Pendiente'}"><a class="btn btn-primary" th:href="@{/accountsReceivable/anulInvoicesCc/{id}(id=${sub.idFactura})}">Anular</a></td>
                        <td th:if="${sub.estado != 'Pendiente'}">
                    </tr>
                    </tbody>
                </table>
                    <div class="pr-3 col-md-12 my-2">
                        <div class="d-flex align-items-center justify-content-center">
                            <a th:href="@{/accountsReceivable/invoicesCc/downloadPending?period={period}(period=${period})}"
                               class="btn btn-primary mx-1">Exportar Histórico</a>
                            <a th:href="@{/accountsReceivable/invoicesCc/download?period={period}(period=${period})}"
                               class="btn btn-primary mx-1">Exportar Actual</a>
                            <button type="submit" class="btn btn-primary mx-1">Pagar Seleccionados</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
        <div id="exportModal" class="modal fade">
            <div class="modal-dialog rounded-1 modal-dialog-centered">
                <div class="modal-content">
                    <form method="get" th:action="@{/accountsReceivable/proccessInvoicesCc}">
                        <div class="modal-header bg-primary text-light">
                            <h4 class="modal-title">Ejecución Proceso Cuentas por Cobrar</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="row px-3">
                                <div class="form-group col-md-12">
                                    <p>Asignación Consecutivo: </p>
                                    <input type="hidden" th:name="period" th:value="${period}" class="form-control" required>
                                    <input type="number" max="999" min="1" th:name="secuence" th:value="${sequenceData}" placeholder="Ingrese el número de lote" class="form-control" required>
                                </div>
                            </div>
                            <div class="row px-3">
                                <div class="form-group col-md-12">
                                    <label>Selección Firma:</label>
                                    <select class="form-control" name="firmaSelect" required>
                                        <option th:each="signature : ${signatures}" th:text="${signature.nombre}" th:value="${signature.idFirma}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button class="btn btn-primary" type="submit">Ejecutar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script type="text/javascript">
    var queryString = window.location.search;
    var urlParams = new URLSearchParams(queryString);
    var respuesta = urlParams.get('resp');
    var row = urlParams.get('row');
    var column = urlParams.get('colum');
    validateAlerts(respuesta, row, column);
</script>

</body>
</html>